<div class="container about-container mb-5">
  <div class="big-blue-bubble position-absolute"></div>
  <div class="big-purple-bubble position-fixed"></div>
  <div class="small-yellow-bubble position-absolute"></div>
  <h2 class="text-center"><%= t('pages.about.title') %></h2>
  <p class="mb-4"><%= t('pages.about.part_1') %></p>
  <p class="mb-4"><%= t('pages.about.part_2').html_safe %></p>
  <p class="mb-4"><%= t('pages.about.part_3') %></p>
  <p class="mb-5"><%= t('pages.about.part_4').html_safe %></p>
  <h2 class="text-center mb-5"><%= t('pages.about.our_team') %></h2>
  <div class="row mb-4">
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/alice.png'), class: 'mb-3') %>
      <h5>Alice Strecker</h5>
      <h6><%= t('pages.about.alice.role') %></h6>
    </div>
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/jordan.png'), class: 'mb-3') %>
      <h5>Jordan Demmouche</h5>
      <h6><%= t('pages.about.jordan.role') %></h6>
    </div>
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/paul.png'), class: 'mb-3') %>
      <h5>Paul Sipassteuh</h5>
      <h6>Marketing</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/tim.png'), class: 'mb-3') %>
      <h5>Tim Grobshäuser</h5>
      <h6><%= t('pages.about.tim.role') %></h6>
    </div>
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/vitaliy.png'), class: 'mb-3') %>
      <h5>Vitaliy Didukh</h5>
      <h6>Designer</h6>
    </div>
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/yoni.png'), class: 'mb-3') %>
      <h5>Yoni Touboul</h5>
      <h6><%= t('pages.about.yoni.role') %></h6>
    </div>
  </div>
</div>
