<div class="home-container">
  <%= render 'pages/desktop/home/banner' %>
  <%= render 'pages/desktop/home/partners' %>
  <%= render 'pages/desktop/home/services-cards' %>
  <%= render 'pages/desktop/home/how-it-works' %>
  <%= render 'pages/desktop/home/why-us' %>
  <%= render 'pages/desktop/home/testimonials' %>
  <%= render 'pages/desktop/home/get-started' %>
</div>
