<% content_for :meta_title, "movido | How it works in 5 simple steps" %>
<% content_for :meta_description, "movido allows you to select, activate and manage all your admin contracts - simple, fast and 100\% for free. Try it now." %>
<div class="container how-it-works-container mb-3">
  <div class="big-blue-bubble position-absolute"></div>
  <div class="big-purple-bubble position-fixed"></div>
  <div class="small-yellow-bubble position-absolute"></div>
  <h2 class="text-center mb-5"><%= t('pages.how_it_works.title') %></h2>
  <div class="row">
    <div class="col-3 left">
      <%= image_tag(asset_path('pages/how-it-works/way.png')) %>
    </div>
    <div class="col-9 right d-flex flex-column justify-content-around">
      <div class="mb-3">
        <h4 class="mb-4"><%= t('pages.how_it_works.first_step.title') %></h4>
        <p><%= t('pages.how_it_works.fifth_step.description') %></p>
      </div>
      <div class="my-3">
        <h4 class="mb-4"><%= t('pages.how_it_works.second_step.title') %></h4>
        <p><%= t('pages.how_it_works.second_step.description') %></p>
      </div>
      <div class="my-3">
        <h4 class="mb-4"><%= t('pages.how_it_works.third_step.title') %></h4>
        <p><%= t('pages.how_it_works.third_step.description') %></p>
      </div>
      <div class="my-3">
        <h4 class="mb-4"><%= t('pages.how_it_works.fourth_step.title') %></h4>
        <p><%= t('pages.how_it_works.fourth_step.description') %></p>
      </div>
      <div class="my-3">
        <h4 class="mb-4"><%= t('pages.how_it_works.fifth_step.title') %></h4>
        <p><%= t('pages.how_it_works.fifth_step.description') %></p>
      </div>
    </div>
  </div>
</div>
