<%= render 'pages/desktop/simplicity_navbar' %>
<div class="simplicity-container pt-3" data-controller="lead">
  <section>
    <div class="container p-0">
      <div class="banner d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-md-left d-flex align-items-center">
              <div class="content d-flex flex-column justify-content-around">
                <div class="headline mb-2">
                  <h1 class="mb-3">Your companion for everything you need to get settled<br> in your new city!</h1>
                  <p class="subheadline">Get your SIM card, local transport, WiFi, utilites and more - all in 5 mins, online and without fees</p>
                </div>
                <%= simple_form_for @lead, url: simplicity_path, html: {class:'w-100 d-flex'}, data: {action: "submit->lead#submit", lead_target: 'form', reflex_root: '#new_lead' } do |f| %>
                  <%= f.input :email, required: false, label: false, placeholder: 'johndoe@gmail.com', input_html: {class:'w-100 mr-4'} %>
                  <%= f.button :submit, 'Register now', class: 'btn-simplicity-main p-0', data: {lead_target: 'button', disable_with: false, reflex_permanent: true} %>
                <% end %>
              </div>
            </div>
            <div class="col-4 offset-2">
              <%= image_tag(asset_path('pages/simplicity/landing-iphone.png'), class:'w-100') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container p-0 why">
      <div class="text-center">
        <h2 class="title">Why choose movido</h2>
      </div>
      <div class="row">
        <div class="col-4 d-flex flex-column align-items-center">
          <%= image_tag(asset_path('pages/simplicity/why-1'), class:'why-img') %>
          <div class="px-3">
            <h3 class="title">All You Need to Start</h2>
            <p class="desc">Don’t spend hours on Google trying to find the right SIM card or figuring out a way to get housing without a guarantor…<br><br>

            Order everything you need to get started in your new city in 5 mins, online and without any fees - instantly shipped to your current home address.</p>
          </div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center mt-3">
          <%= image_tag(asset_path('pages/simplicity/why-2'), class:'why-img') %>
          <div class="px-3">
            <h3 class="title">Fully Customizable</h2>
            <p class="desc">45% of people moving abroad end up overpaying their utility contracts…<br><br>

            With movido you can customize your own bundle - saving you money and time!</p>
          </div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center mt-5">
          <%= image_tag(asset_path('pages/simplicity/why-3'), class:'why-img') %>
          <div class="px-3">
            <h3 class="title">Assistance 24/7</h2>
            <p class="desc">Visa, housing, banking… It’s easy to get overwhelmed by everything you need to do before you move abroad.<br><br>

            Our support team is available for you 24/7. We are here to help you out.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-5">
    <div class="container-fluid p-0 m-0 h-100">
      <div class="banner d-flex align-items-center"style="background-image:url(<%= asset_path 'pages/simplicity/banner-background.png' %>);">
        <div class="container">
          <div class="row">
            <div class="col-8 offset-2 text-center text-md-left d-flex align-items-center step-top">
              <%= image_tag(asset_path('pages/simplicity/cancel'), class:'w-50 mr-5') %>
              <div class="d-flex flex-column banner-mid">
                <h3 class="title">No commitment & cancel anytime</h3>
                <p class="desc">Our offers have no commitment period. You can cancel anytime at no extra cost. All of that in just 2 clicks.</p>
              </div>
            </div>
            <div class="col-8 offset-2 text-center text-md-left d-flex align-items-center step-bottom" >
              <div class="d-flex flex-column banner-mid">
                <h3 class="title">Join our Global Community</h3>
                <p class="desc">Looking for tips & tricks? Either ask the community or find what you are looking for in our resource center. </p>
              </div>
              <%= image_tag(asset_path('pages/simplicity/community'), class:'w-50') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="padded"></div>
  <section class="mt-5">
    <div class="container p-0 why mb-0">
      <div class="text-center">
        <%= image_tag(asset_path('pages/simplicity/logo.png'), class:'w-10 mb-5') %>
        <h2 class="title">Don't just take our word for it</h2>
      </div>
      <div class="banner d-flex align-items-center mt-0 mb-0"style="height: 75vh;background-image:url(<%= asset_path 'pages/simplicity/testimonials.png' %>);">
        <div class="container">
          <div class="row">
            <div class="col-6 offset-3">
              <div class="box-testimonial">
                <p>"It took me 10 minutes and I was set – and I got a good deal for my new mobile and WiFi subscription on top”</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid p-0">
      <div class="book-a-call-banner d-flex align-items-center">
        <p><strong>Any questions?</strong> Book a call now and speak to us.</p>
        <%= link_to 'Book a call now', 'https://calendly.com/alice_movido/movido-introcall', class:'btn-simplicity-white' %>
      </div>
    </div>
  </section>
</div>
