<div class="landing-container">
  <div class="disclaimer">
    <span><%= t('housing.flats.landing.disclaimer') %></span>
  </div>
  <div class="banner-landing" style="background-image:url(<%= asset_path 'flats/landing/banner-background.png' %>);">
    <div class="container h-100">
      <div class="content h-100">
        <h1><%= t('housing.flats.landing.location') %></h1>
        <div data-controller='flats-landing' class="search-form" data-flats-landing-locale-value=<%= I18n.locale.to_s %>>
          <%= simple_form_for @flat_preference, html: {method: :post} do |f| %>

            <div data-flats-landing-target="geocoder" class="geocoder"></div>
            <%= f.submit t('housing.flats.landing.submit'), class: "btn btn-flat-card" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
