<% subconfigs = flat[:rooms].map{|room| room[:subconfigs]} %>
<%= simple_form_for booking, data: {booking_modal_target: 'form'} do |f| %>
  <%= f.hidden_field :flat_id, value: flat[:code] %>
  <div class="d-flex align-items-start align-input justify-content-between">
    <%= f.input :full_name, required: true, input_html: {value: current_user.full_name} %>
    <%= f.input :email, required: true, input_html: {value: current_user.email} %>
  </div>
  <div class="d-flex align-items-start align-input justify-content-between">
    <%= f.input :university, required: true, input_html: {placeholder: 'university / college'} %>
    <%= f.input :phone, required: true, input_html: {data: { bookings_target: 'phone' }, placeholder: 'phone number', value: current_user.person&.phone || ''} %>
  </div>
  <% if current_user.flat_preference.flat_type == 'student_housing' %>
    <%= f.input :room_type, required: true, collection: flat[:rooms].map {|room| [room[:name], room[:name]]}, prompt: t('bookings.new.modal.placeholder.type') %>
    <%= f.input :lease_duration, required: true, collection: subconfigs.map {|subconfig| subconfig.map{|a| "#{a['lease']} week lease #{a['price']} £/week starts form #{a['available_from']}, book now by paying #{a['deposit']} £" }}, prompt: t('bookings.new.modal.placeholder.duration') %>
  <% end %>
  <%= f.input :requirements, input_html: {placeholder: 'Requirements'} %>
  <%= f.submit value: t('bookings.new.modal.submit'), class:'btn-main w-100'  %>
<% end %>
