<div class="container services-container mb-0">
    <%= image_tag(asset_path('pages/contact/half-purple-bubble.png'), class:'bubble-position-right') %>
    <%= image_tag(asset_path('pages/contact/half-blue-bubble.png'), class:'bubble-position-left') %>
  <div class="row">
    <div class="col-12">
      <h2 class="ml-4"><%= t('services.title') %></h2>
    </div>
  </div>
</div>
<div class="container-fluid service-cards-scroller static-scroller tabs mb-5 pt-0 px-0">
  <ul class="hs nav nav-pills" id="pills-tab" role="tablist">
    <li class="item ml-0">
      <a class="<%= !params[:active_tab].present? ? 'active' : '' %>" id="pills-housing-tab" data-toggle="pill" href="#pills-housing" role="tab" data-toggle="pill">
        <div class="service-card-tab d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('pages/dashboard/housing-card.png'), class:'service-picto mr-2') %>
          <span><%= t('services.real_estate.title') %></span>
        </div>
      </a>
    </li>
    <li class="item">
      <a class="<%= params[:active_tab] == 'banking' ? 'active' : '' %>" id="pills-banking-tab" data-toggle="pill" href="#pills-banking" role="tab" data-toggle="pill">
        <div class="service-card-tab d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('pages/dashboard/bank-card.png'), class:'service-picto mr-2') %>
          <span><%= t('services.bank.title') %></span>
        </div>
      </a>
    </li>
    <li class="item">
      <a class="<%= params[:active_tab] == 'mobile' ? 'active' : '' %>" id="pills-mobile-tab" data-toggle="pill" href="#pills-mobile" role="tab" data-toggle="pill">
        <div class="service-card-tab d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('pages/dashboard/mobile_phone-card.png'), class:'service-picto mr-2') %>
          <span><%= t('services.mobile.title') %></span>
        </div>
      </a>
    </li>
    <li class="item">
      <a class="<%= params[:active_tab] == 'wifi' ? 'active' : '' %>" id="pills-wifi-tab" data-toggle="pill" href="#pills-wifi" role="tab" data-toggle="pill">
        <div class="service-card-tab d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('pages/dashboard/wifi-card.png'), class:'service-picto mr-2') %>
          <span><%= t('services.wifi.title') %></span>
        </div>
      </a>
    </li>
  </ul>
  <div class="tab-content row px-3" id="pills-tabContent">
    <div class="tab-pane services-card-static fade <%= !params[:active_tab].present? ? 'show active' : '' %>" id="pills-housing" role="tabpanel">
      <div class="col-12 features">
        <h4 class="mb-3"><%= t('services.real_estate.headline').html_safe %></h4>
        <div class="info-block d-flex align-items-center my-4">
          <%= image_tag(asset_path('pages/services/informations.png'), class:'mr-3') %>
          <p class="mb-0"><%= t('services.real_estate.question').html_safe %></p>
        </div>
        <h6 class="mb-3"><%= t('services.real_estate.answer') %></h6>
        <p class="mb-4"><%= t('services.real_estate.explanation').html_safe %></p>
        <h6 class="mb-5"><%= t('services.real_estate.solution') %></h6>
        <div class="w-100 text-center">
          <%= link_to t('services.real_estate.button'), new_user_registration_path, class: 'btn-main text-center' %>
        </div>
        <h3 class="my-5 text-center"><%= t('services.real_estate.offer').html_safe %></h3>
        <div class="benefits-wrapper mb-4">
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.real_estate.card_1.title') %> </h4>
            <p><%= t('services.real_estate.card_1.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.real_estate.card_2.title') %>  </h4>
            <p><%= t('services.real_estate.card_2.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.real_estate.card_3.title') %>  </h4>
            <p><%= t('services.real_estate.card_3.description') %></p>
          </div>
        </div>
        <h6 class="footer-header mb-5"><%= t('services.real_estate.last_header') %></h6>
        <div class="w-100 text-center">
          <%= link_to t('services.real_estate.button'), new_user_registration_path, class: 'btn-main text-center' %>
        </div>
      </div>
    </div>
    <div class="tab-pane services-card-static fade <%= params[:active_tab] == 'housing' ? 'show active' : '' %>" id="pills-banking" role="tabpanel">
      <div class="col-12 features">
        <h4 class="mb-3"><%= t('services.bank.headline').html_safe %></h4>
        <div class="info-block d-flex align-items-center my-4">
          <%= image_tag(asset_path('pages/services/informations.png'), class:'mr-3') %>
          <p class="mb-0"><%= t('services.bank.question').html_safe %></p>
        </div>
        <h6 class="mb-3"><%= t('services.bank.answer') %></h6>
        <p class="mb-4"><%= t('services.bank.explanation').html_safe %></p>
        <h6 class="mb-5"><%= t('services.bank.solution') %></h6>
        <div class="w-100 text-center">
          <%= link_to t('services.bank.button'), new_user_registration_path, class: 'btn-main text-center' %>
        </div>
        <h3 class="my-5 text-center"><%= t('services.bank.offer').html_safe %></h3>
        <div class="benefits-wrapper mb-4">
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.bank.card_1.title') %> </h4>
            <p><%= t('services.bank.card_1.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.bank.card_2.title') %>  </h4>
            <p><%= t('services.bank.card_2.description') %></p>
          </div>
        </div>
        <h6 class="footer-header mb-5"><%= t('services.bank.last_header') %></h6>
        <div class="w-100 text-center">
          <%= link_to t('services.bank.button'), new_user_registration_path, class: 'btn-main text-center' %>
        </div>
      </div>
    </div>
    <div class="tab-pane services-card-static fade <%= params[:active_tab] == 'housing' ? 'show active' : '' %>" id="pills-mobile" role="tabpanel">
      <div class="col-12 features">
        <h4 class="mb-3"><%= t('services.mobile.headline').html_safe %></h4>
        <div class="info-block d-flex align-items-center my-4">
          <%= image_tag(asset_path('pages/services/informations.png'), class:'mr-3') %>
          <p class="mb-0"><%= t('services.mobile.question').html_safe %></p>
        </div>
        <h6 class="mb-3"><%= t('services.mobile.answer') %></h6>
        <p class="mb-4"><%= t('services.mobile.explanation').html_safe %></p>
        <h6 class="mb-5"><%= t('services.mobile.solution') %></h6>
        <div class="w-100 text-center">
          <%= link_to t('services.mobile.button'), new_user_registration_path, class: 'btn-main text-center' %>
        </div>
        <h3 class="my-5 text-center"><%= t('services.mobile.offer').html_safe %></h3>
        <div class="benefits-wrapper mb-4">
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.mobile.card_1.title') %> </h4>
            <p><%= t('services.mobile.card_1.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.mobile.card_2.title') %>  </h4>
            <p><%= t('services.mobile.card_2.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.mobile.card_3.title') %>  </h4>
            <p><%= t('services.mobile.card_3.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.mobile.card_4.title') %>  </h4>
            <p><%= t('services.mobile.card_4.description') %></p>
          </div>
        </div>
        <h6 class="footer-header mb-5"><%= t('services.mobile.last_header') %></h6>
        <div class="w-100 text-center">
          <%= link_to t('services.mobile.button'), new_user_registration_path, class: 'btn-main text-center' %>
        </div>
      </div>
    </div>
    <div class="tab-pane services-card-static fade <%= params[:active_tab] == 'housing' ? 'show active' : '' %>" id="pills-wifi" role="tabpanel">
      <div class="col-12 features">
        <h4 class="mb-3"><%= t('services.wifi.headline').html_safe %></h4>
        <div class="info-block d-flex align-items-center my-4">
          <%= image_tag(asset_path('pages/services/informations.png'), class:'mr-3') %>
          <p class="mb-0"><%= t('services.wifi.question').html_safe %></p>
        </div>
        <h6 class="mb-3"><%= t('services.wifi.answer') %></h6>
        <p class="mb-4"><%= t('services.wifi.explanation').html_safe %></p>
        <h6 class="mb-5"><%= t('services.wifi.solution') %></h6>
        <div class="w-100 text-center">
          <%= link_to t('services.wifi.button'), new_user_registration_path, class: 'btn-main text-center' %>
        </div>
        <h3 class="my-5 text-center"><%= t('services.wifi.offer').html_safe %></h3>
        <div class="benefits-wrapper mb-4">
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.wifi.card_1.title') %> </h4>
            <p><%= t('services.wifi.card_1.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.wifi.card_2.title') %>  </h4>
            <p><%= t('services.wifi.card_2.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.wifi.card_3.title') %>  </h4>
            <p><%= t('services.wifi.card_3.description') %></p>
          </div>
          <div class="benefit-card mb-4 p-3">
            <h4><i class="fas fa-check-circle green mr-2"></i> <%= t('services.wifi.card_4.title') %>  </h4>
            <p><%= t('services.wifi.card_4.description') %></p>
          </div>
        </div>
        <h6 class="footer-header mb-5"><%= t('services.wifi.last_header') %></h6>
        <div class="w-100 text-center">
          <%= link_to t('services.wifi.button'), new_user_registration_path, class: 'btn-main text-center' %>
        </div>
      </div>
    </div>
  </div>
</div>

