<section class="my-sm-3 services my-md-5" data-controller="cards">
  <div class="container">
    <div class="row d-none d-md-block ">
      <div class="col-10 offset-2">
        <h2 class="purple text-left pb-3 title">What’s included?</h2>
        <p class='black subheadline'>The <%= pack %> Pack is currently available for the UK and France - simply<br> select where you are moving to</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center my-4">
      <div class="col-8 d-block d-md-none">
        <h2 class="title black">What’s included?</h2>
        <p class="text-center subheadline black">The <%= pack %> Pack is currently available<br> for the UK and France - simply select<br> where you are moving to</p>
      </div>
      <div class="col-12 d-flex justify-content-center france-uk-nav mb-3">
        <div class="col-6 d-flex justify-content-center back position-relative">
          <%= image_tag(asset_path('components/pricing/chevron-gauche.svg'), class: "position-absolute chevron-1") %>
          <%= image_tag(asset_path('components/pricing/chevron-droite.svg'), class: "position-absolute chevron-2") %>
          <ul class="nav nav-pills nav-justified w-100 p-1 text-center justify-content-around" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">France</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">UK</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mb-md-5">
    <div class="row">
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="product-cards-wrapper row justify-content-lg-center mx-1 mb-2">
            <% @services.each do |service| %>
              <% product = service.product(Country.find_by(code: 'fr')) %>
              <%= render 'shared/product-card', product: product %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="product-cards-wrapper row justify-content-lg-center mx-1 mb-2">
            <% @services.each do |service| %>
              <% product = service.product(Country.find_by(code: 'gb')) %>
              <%= render 'shared/product-card', product: product %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <%= link_to 'Get Started now', cta_link, class:'btn-main' %>
      </div>
    </div>
  </div>
</section>
