<section class="container my-3">
  <div class="row align-items-center">
    <h2>What’s included?</h2>
    <p class="text-center">The Starter Pack is currently available for the UK and France - simply select where you are moving to</p>
    <div class="col-12 d-flex justify-content-center mb-3">
      <ul class="nav nav-tabs w-100 text-center justify-content-around" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">France</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">UK</button>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="product-cards-wrapper row row-cols-lg-2 justify-content-lg-center mx-1 mb-2">
            <% @services.each do |service| %>
              <% product = service.product(Country.find_by(code: 'fr')) %>
              <div class="product-card text-left h-auto col-12 col-lg-4 m-lg-2">
                <h3 class="name"><%= product.name %></h3>
                <p class="description"><%= product.description %></p>
                <% product.product_details.each do |product_detail| %>
                  <p class="detail"><i class="far fa-check"></i><%= product_detail.content %></p>
                <% end %>
                <div class="bottom-part align-items-center">
                  <div class="left">
                    <span class="price"><%= product.country.currency_symbol %><%= number_to_currency(product.activation_price, :unit => '') %></span>
                  </div>
                  <% if product.undiscounted_price %>
                    <div class="center">
                      <span class="price"><strike><%= product.country.currency_symbol %><%= number_to_currency(product.undiscounted_price, :unit => '') %></strike></span>
                    </div>
                  <% end %>
                  <%= image_tag(asset_path(product.company.logo_url)) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="product-cards-wrapper row row-cols-lg-2 justify-content-lg-center mx-1 mb-2">
            <% @services.all.each do |service| %>
              <% product = service.product(Country.find_by(code: 'gb')) %>
              <div class="product-card text-left h-auto col-12 col-lg-4 m-lg-2">
                <h3 class="name"><%= product.name %></h3>
                <p class="description"><%= product.description %></p>
                <% product.product_details.each do |product_detail| %>
                  <p class="detail"><i class="far fa-check"></i><%= product_detail.content %></p>
                <% end %>
                <div class="bottom-part">
                  <div class="left">
                    <span class="price"><%= product.country.currency_symbol %><%= number_to_currency(product.activation_price, :unit => '') %></span>
                  </div>
                  <% if product.undiscounted_price %>
                    <div class="center">
                      <span class="price"><strike><%= product.country.currency_symbol %><%= number_to_currency(product.undiscounted_price, :unit => '') %></strike></span>
                    </div>
                  <% end %>
                  <%= image_tag(asset_path(product.company.logo_url)) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= link_to 'Get Started now', cta_link, class:'btn-main' %>
    </div>
  </div>
</section>
