<section>
  <div class="container-fluid">
    <div class="banner d-flex align-items-center" style="background-image:url(<%= asset_path 'banner-bg.png' %>);">
      <div class="container">
        <div class="content d-flex flex-column justify-content-around">
          <div class="headline mb-2">
            <h1 class="m-0"><%= t('pages.home.banner.headline1').html_safe %><br><span><%= t('pages.home.banner.headline2') %></span></h1>
            <p><%= t('pages.home.banner.subheadline') %></p>
          </div>
          <div>
            <%= link_to t('shared.cta.start'), new_user_registration_path, class:'btn btn-main' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/home/services-cards' %>
  <%= render 'shared/home/services-cards-responsive' %>
</section>
