<section id="partners">
  <div class="container">
    <div class="row">
      <div class="col-2 partner d-flex align-items-center justify-content-center border-right border-light-gray">
        <%= image_tag(asset_path('logo-orange.png'), style:"width: 35%") %>
      </div>
      <div class="col-2 partner d-flex align-items-center justify-content-center border-right border-light-gray">
        <%= image_tag(asset_path('logo-escp.png')) %>
      </div>
      <div class="col-2 partner d-flex align-items-center justify-content-center border-right border-light-gray">
        <%= image_tag(asset_path('logo-revolut.png')) %>
      </div>
      <div class="col-2 partner d-flex align-items-center justify-content-center border-right border-light-gray">
        <%= image_tag(asset_path('logo-hult.png')) %>
      </div>
      <div class="col-2 partner d-flex align-items-center justify-content-center border-right border-light-gray">
        <%= image_tag(asset_path('logo-veolia.png')) %>
      </div>
    </div>
  </div>
</section>
