<div class="container d-none d-sm-block">
  <div class="services-cards-wrapper">
    <div class="row">
      <%=  render 'shared/home/service-card', picto: 'housing.png', description: t('pages.home.services-cards.housing') %>
      <%=  render 'shared/home/service-card', picto: 'bank.png', description: t('pages.home.services-cards.bank') %>
      <%=  render 'shared/home/service-card', picto: 'mobile.png', description: t('pages.home.services-cards.mobile') %>
      <%=  render 'shared/home/service-card', picto: 'wifi.png', description: t('pages.home.services-cards.wifi') %>
      <%=  render 'shared/home/service-card', picto: 'gym.png', description: t('pages.home.services-cards.gym') %>
      <%=  render 'shared/home/service-card', picto: 'transportation.png', description: t('pages.home.services-cards.transportation') %>
    </div>
  </div>
</div>
