<section>
  <div class="container mt-5">
    <div class="services-cards-wrapper">
      <div class="row">
        <%=  render 'shared/home/service-card', picto: 'housing.png', title: 'Phone', description: t('pages.home.services-cards.housing') %>
        <%=  render 'shared/home/service-card', picto: 'bank.png', title: 'Wifi', description: t('pages.home.services-cards.bank') %>
        <%=  render 'shared/home/service-card', picto: 'mobile.png', title: 'Transport', description: t('pages.home.services-cards.mobile') %>
        <%=  render 'shared/home/service-card', picto: 'wifi.png', title: 'Bank', description: t('pages.home.services-cards.wifi') %>
        <%=  render 'shared/home/service-card', picto: 'gym.png', title: 'House', description: t('pages.home.services-cards.gym') %>
        <%=  render 'shared/home/service-card', picto: 'transportation.png', title: 'Gym', description: t('pages.home.services-cards.transportation') %>
      </div>
    </div>
  </div>
</section>
