<section id="services-cards-responsive">
  <div class="container d-block d-sm-none">
    <div class="services-cards-wrapper">
      <div class="row">
        <%=  render 'shared/home/service-card', picto: 'housing.png', description: 'see top Real Estate listings in your city' %>
        <%=  render 'shared/home/service-card', picto: 'bank.png', description: 'we open your bank account for you' %>
        <%=  render 'shared/home/service-card', picto: 'mobile.png', description: 'get your local phone number' %>
        <%=  render 'shared/home/service-card', picto: 'wifi.png', description: 'set up WiFi at your home' %>
        <%=  render 'shared/home/service-card', picto: 'gym.png', description: 'see the best gym offers in your area' %>
        <%=  render 'shared/home/service-card', picto: 'transportation.png', description: 'get your local transportation card' %>
      </div>
    </div>
  </div>
</section>
