<section>
  <div class="container mt-5">
    <div class="services-cards-wrapper">
      <div class="row">
        <%=  render 'shared/home/service-card', picto: 'housing.png', title: t('category.housing.housing'), description: t('pages.home.services-cards.housing') %>
        <%=  render 'shared/home/service-card', picto: 'bank.png', title: t('category.bank.bank'), description: t('pages.home.services-cards.bank') %>
        <%=  render 'shared/home/service-card', picto: 'mobile.png', title: t('category.mobile.mobile'), description: t('pages.home.services-cards.mobile') %>
        <%=  render 'shared/home/service-card', picto: 'wifi.png', title: t('category.wifi.wifi'), description: t('pages.home.services-cards.wifi') %>
        <%=  render 'shared/home/service-card', picto: 'gym.png', title: t('category.gym.gym'), description: t('pages.home.services-cards.gym') %>
        <%=  render 'shared/home/service-card', picto: 'transportation.png', title: t('category.transportation.transportation'), description: t('pages.home.services-cards.transportation') %>
      </div>
    </div>
  </div>
</section>
