<div class="container">
    <div class="services-cards-wrapper">
      <div class="row">
        <%=  render 'shared/home/service-card', picto: 'home-1.png', description: 'see top Real Estate listings in your city' %>
        <%=  render 'shared/home/service-card', picto: 'credit-card-1.png', description: 'we open your bank account for you' %>
        <%=  render 'shared/home/service-card', picto: 'phone-call-1.png', description: 'get your local phone number' %>
        <%=  render 'shared/home/service-card', picto: 'wifi.png', description: 'get WiFi set up at home' %>
        <%=  render 'shared/home/service-card', picto: 'dumbbell.png', description: 'see the best gym offers in your area' %>
        <%=  render 'shared/home/service-card', picto: 'tram-1.png', description: 'get your local transportation card' %>
      </div>
    </div>
  </div>
