<section id="testimonials" class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center flex-column">
        <%= image_tag(asset_path('quote.png'), class:"quote") %>
        <div class='main-title mt-5'>
          <h1 class="mb-3"><%= t('pages.home.testimonials.title') %></h1>
          <p><%= t('pages.home.testimonials.subtitle') %></p>
        </div>
        <div class="w-100 d-flex justify-content-end mt-5">
          <div class="testimonial-card">
            <%= image_tag(asset_path('testi_image_1.png')) %>
            <p class="sentence my-3"><%= t('pages.home.testimonials.testimonial1.sentence') %></p>
            <div class="d-flex flex-column">
              <span class="name">Ellen</span>
              <span class="from"><%= t('pages.home.testimonials.testimonial1.from') %></span>
              <span class="destination"><%= t('pages.home.testimonials.testimonial1.to') %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-card my-5">
          <%= image_tag(asset_path('testi_image_2.png')) %>
          <p class="sentence my-3"><%= t('pages.home.testimonials.testimonial2.sentence') %></p>
          <div class="d-flex flex-column">
            <span class="name">Mariana</span>
            <span class="from"><%= t('pages.home.testimonials.testimonial2.from') %></span>
            <span class="destination"><%= t('pages.home.testimonials.testimonial2.to') %></span>
          </div>
        </div>
        <div class="testimonial-card">
          <%= image_tag(asset_path('testi_image_3.png')) %>
          <p class="sentence my-3"><%= t('pages.home.testimonials.testimonial3.sentence') %></p>
          <div class="d-flex flex-column">
            <span class="name">Etienne</span>
            <span class="from"><%= t('pages.home.testimonials.testimonial3.from') %></span>
            <span class="destination"><%= t('pages.home.testimonials.testimonial3.to') %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
