<%= f.simple_fields_for :subscription do |s| %>
  <div class="form-inputs-wrapper mb-2">
      <%= s.hidden_field :id, value: @subscription.id %>
      <%= s.input :delivery_address, required: true, label: t('step.billing.form.label.delivery_address'), placeholder: "You cannot change this field", hint: t('step.billing.form.hint.delivery_address'), readonly: true, input_html: { class: 'form-control', data: {target: 'subscription.deliveryAddressInput'}} %>
  </div>
   <div class="actions d-flex flex-column mt-4">
    <span class="btn btn-main disabled mb-4" id="continueButton" data-target='subscription.continueButton' data-action="click->subscription#stepForward">Confirm</span>
    <%= link_to 'Back', url_for(:back), class: 'btn-exit' %>
  </div>
</div>
<div class="d-none sim-wrapper" data-target="subscription.secondPart">
  <label for="sim" class="sim-label mr-2">Sim card size</label>
  <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Tip:</strong> You can always take a pair of scissors and cut the plastic of your SIM card to turn your Standard / Micro SIM into a Nano SIM"></i>
  <div class="d-flex sim-cards justify-content-around align-items-baseline">
    <%= s.collection_radio_buttons(:sim, [['Nano', 'nano'], ['Standard / Micro', 'micro']], :first, :last, checked: 'Nano') do |b| %>
    <%= b.label { b.radio_button + b.value + image_tag(asset_path"#{b.text}.png") } %>
    <% end %>
  </div>
  <div class="actions d-flex flex-column mt-4">
    <%= s.button :submit, 'Confirm', class: 'btn-main mb-4' %>
    <span class="btn-exit" data-action="click->subscription#stepBackward">Back</span>
  </div>
</div>
<% end %>
