<%= f.simple_fields_for :subscription do |s| %>
  <div class="mb-2">
      <%= s.hidden_field :id, value: @subscription.id %>
      <% if @subscription.product.company.name.downcase == "giffgaff" %>
        <%= s.input :delivery_address, required: true, label: t('billings.new.form.sim_delivery_address'), placeholder: t('billings.new.form.hint.delivery_address'), input_html: { class: 'form-control w-100', data: {company: "giffgaff", subscription_target: 'giffgaffAddressInput'}} %>
      <% else %>
        <%= s.input :delivery_address, required: true, label: t('billings.new.form.sim_delivery_address'), placeholder: t('billings.new.form.hint.delivery_address'), readonly: true, input_html: { class: 'form-control w-100', data: {subscription_target: 'deliveryAddressInput'}} %>
      <% end %>
  </div>
  <span class="mandatory"><%= t('billings.new.mandatory') %></span>
<% end %>
</div>
