<div class="container mt-2 p-md-5">
  <div class="row">
    <div class="col-md-6 d-none d-sm-block">
      <div class="registration-wrapper p-2 d-flex flex-column justify-content-evenly">
        <h2 class='title pr-5 pl-5'>Welcome to movido</h2>
        <span class='desc pr-5 pl-5 mb-5'>movido will help you set-up all you need for your new home – from your mobile account to your gym abo – before you move to give you time to focus on the really important things.</span>
        <div class="illustration d-flex justify-content-center">
          <%= image_tag(asset_path('girl-down.png')) %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="registration-form-wrapper p-md-5 p-4" data-controller="registration">
        <h4 class="mb-3">Sign up</h4>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        label: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", placeholder: 'Email address' }%>
            <%= f.input :first_name,
                        required: true,
                        label: false,
                        input_html: { placeholder: 'First name' } %>
            <%= f.input :last_name,
                        required: true,
                        label: false,
                        input_html: { placeholder: 'Last name' } %>
            <%= f.input :birth_city,
                        required: true,
                        label: false,
                        input_html: { placeholder: 'City of birth',data: {
                        target: 'registration.cityInput'}}%>
            <%= f.input :birthdate, as: :string,
                         required: true,
                         label: false,
                         input_html: { placeholder: 'DD/MM/YYYY', class:'datepicker', data: {
                          controller: "flatpickr", flatpickr_date_format: "d-m-Y", flatpickr_max_date: Time.zone.now} } %>
            <%= f.input :phone,
                        required: true,
                        label: false,
                        input_html: { placeholder: 'Mobile Phone', data: { target: 'registration.phone' } } %>
            <%= f.input :city,
                        required: true,
                        label: false,
                        collection: ['Paris', 'London'],
                        prompt: "City I am moving to" %>

            <%= f.simple_fields_for :addresses do |s| %>
                <%= s.input :street,
                        required: true,
                        label: false,
                        input_html: { placeholder: 'Address I am moving to', data: {
                          target: 'registration.addressInput'
                        }, id:"address-input" }
                %>
                <%= s.hidden_field :zipcode %>
                <%= s.hidden_field :country %>
                <%= s.hidden_field :city %>
            <% end %>
            <div class="d-flex align-items-center mb-2">
              <%= f.check_box :not_housed,
                        required: true,
                        label: false, data: { action: 'click->registration#toggleAddress', target: 'registration.checkboxAddress'} %>
              <label class="m-0 pl-2">I don’t have an address yet</label>
            </div>
            <%= f.input :password,
                        required: true,
                        label: false,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password", placeholder: "Password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        label: false,
                        input_html: { autocomplete: "new-password", placeholder: "Password confirmation" } %>
          </div>

          <div class="form-actions text-lg-left text-center">
            <%= f.button :submit, "Register now", class:'btn btn-main' %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
