<div class="flow-container" data-controller="animate">
  <%= render 'shared/progress_bar', step: 1 %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-lg-6">
        <%= render 'shared/chat', message: {content: "Hello! I’m Alice and I will help you get settled in your new city. Let's get to know each other a little better", delay: 0} %>
      </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-6">
        <div class="content-container" data-delay="2" data-animate-target="contentContainer">
          <div class="form-base">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, pack: 'settle_in')) do |f| %>
            <%= f.input :first_name,
                      required: true, autofocus: true, placeholder: 'John' %>
            <%= f.input :last_name,
                      required: true, placeholder: 'Doe', label: 'Surname' %>
            <%= f.input :phone, required: false, input_html: {data: { animate_target: 'phone' }, placeholder: 'phone number', id: 'user_phone'}, label:'Phone (optional)' %>
            <%= f.input :email,
              required: true,
              input_html: { autocomplete: "email"}, placeholder: 'johndoe@gmail.com', label: 'Email' %>
            <%= f.input :password, placeholder: '*******', label: 'Password' %>
            <hr>
            <%= f.button :submit, 'Continue' , class: 'btn-main w-100 mb-2' %>
          <% end %>
          <%= link_to 'I already have an account', new_user_session_path, class:'btn-main-white w-100 mb-5' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

