<div class="modal modal-product fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModal" aria-hidden="true" data-controller="address-modal" data-address-modal-country-value="<%= @products.first.country.code.upcase %>" data-reflex-root="#addressModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content address">
      <div class="modal-body modal-address p-5 d-flex flex-column justify-content-center">
        <div class="bubbles">
          <div class="bubble small-yellow-bubble"></div>
          <div class="bubble small-blue-bubble"></div>
          <div class="bubble small-yellow-bubble"></div>
          <div class="bubble small-blue-bubble"></div>
          <div class="bubble small-yellow-bubble"></div>
          <div class="bubble small-blue-bubble"></div>
          <div class="bubble small-yellow-bubble"></div>
          <div class="bubble small-blue-bubble"></div>
          <div class="bubble small-yellow-bubble"></div>
          <div class="bubble small-blue-bubble"></div>
        </div>
        <div class="mb-4 d-flex align-items-center justify-content-between">
        <h3 class="mb-0"><%= t('addresses.new.title') %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-times-circle"></i>
        </button>
        </div>
        <div class="form-base mt-3">
          <%= simple_form_for @address, method: :post do |f| %>
            <%= f.input :street,
            label: false,
            placeholder: t('addresses.new.form.placeholder.street'),
            input_html: { data: {
            address_modal_target: 'streetInput', reflex_dataset: 'combined', action: 'keydown->address-modal#borderColor'
            }}%>
            <%= f.hidden_field :zipcode, id:'address_zipcode' %>
            <%= f.hidden_field :city, id:'address_city' %>
            <%= f.hidden_field :algolia_country_code, id:'algolia_country_code' %>
            <div class="text-center w-100 mt-5">
              <%= link_to t('addresses.new.form.cta').html_safe, "#", method: :post, id: 'addressButton' ,class: 'btn-main disabled', data: { address_modal_target: "button" }  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
