<h1>REAL ESTATE MOBILE VERSION</h1>


<%= simple_form_for :query, url: search_flats_path, html: {method: :post, data: { controller: "flats"}} do |f| %>
  <%= f.input :location, input_html: { data: {flats_target: 'searchInput'} } %>
  <%= f.hidden_field :city, id: 'city' %>
  <%= f.hidden_field :country, id: 'country' %>
  <%= f.submit "Search", class: "btn btn-main" %>
<% end %>
