<div class="container-fluid flat-container">
  <%= render 'flats/mobile/booking', flat: @flat, type: @type %>
  <div class="row">
    <div class="col-12 p-0 mb-4">
      <div data-controller="carousel" class="swiper-container position-relative"data-carousel-options-value='{"pagination": {"el": ".swiper-pagination"}}'>
        <div class="swiper-wrapper position-relative">
          <% @flat[:images].first(8).each do |image| %>
            <div class="swiper-slide img-box" style="background-image:url(<%= image[:url] %>);"></div>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex flex-column">
        <p class="location">
          <%= @flat[:city].capitalize %>, <%= @flat[:country] %>
        </p>
        <span class='name'>
          <%= @flat[:title] %>
        </span>
      </div>
    </div>
    <div class="col-12 d-flex flex-column">
      <hr class="w-100">
      <span class="description mb-2">
        <div
          data-controller="read-more"
          data-read-more-more-text-value="<%= t('flats.show.more') %>"
          data-read-more-less-text-value="<%= t('flats.show.less') %>">
          <p data-read-more-target="content"><%= split_description(@flat[:description]) %></p>

          <button data-action="read-more#toggle" class="link purple font-weight px-0 show-more">
            <%= t('flats.show.more') %>
          </button>

          <template data-read-more-target="full">
            <%= full_description(@flat[:description]).html_safe %>
          </template>
        </div>
      </span>
      <hr class="w-100">
    </div>
    <%= render 'flats/mobile/show/flats', rooms: @flat[:rooms] %>
    <%= render 'flats/mobile/show/bedrooms', facilities: @flat[:bedrooms_facilities] %>
    <%= render 'flats/mobile/show/appartment_facilities', facilities: @flat[:apartment_facilities] %>
    <%= render 'flats/mobile/show/community_facilities', facilities: @flat[:community_facilities] %>
    <%= render 'flats/mobile/show/billing_details', billing_details: @flat[:billing_details] %>
    <%= render 'flats/mobile/show/rules', rules: @flat[:rules] %>
    <% if @recommandations.present? %>
      <div class="col-12 d-flex flex-column my-2 pr-0">
        <span class="title"><%= t('flats.show.accommodations') %></span>
        <div class="flats-card-scroller pt-0">
          <ul class="hs" data-animate-target="container">
            <% @recommandations.each do |flat| %>
              <li class="item">
                <%= render 'flats/mobile/card-lite', type: @type, name: flat['name'], code: flat['code'], image: flat['image'], price: flat['price'], billing: flat['billing'], location: @location %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'flats/mobile/booking_input', flat: @flat %>
