<div class="container-fluid flat-container">
  <div class="row">
    <div class="col-12 p-0 mb-4">
      <div data-controller="carousel" class="swiper-container position-relative"data-carousel-options-value='{"pagination": {"el": ".swiper-pagination"}}'>
        <div class="swiper-wrapper position-relative">
          <% @flat[:images].first(8).each do |image| %>
            <div class="swiper-slide img-box" style="background-image:url(<%= image[:url] %>);"></div>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex flex-column">
        <p class="location">
          <%= @flat[:city] %>, <%= @flat[:country] %>
        </p>
        <span class='name'>
          <%= @flat[:title] %>
        </span>
      </div>
    </div>
    <div class="col-12 d-flex flex-column">
      <hr class="w-100">
      <span class="description mb-2">
        <div
          data-controller="read-more"
          data-read-more-more-text-value="Show more"
          data-read-more-less-text-value="Show less"
        >
          <p data-read-more-target="content"><%= split_description(@flat[:description]) %></p>

          <button data-action="read-more#toggle" class="link purple font-weight px-0">
            Show more
          </button>

          <template data-read-more-target="full">
            <%= full_description(@flat[:description]).html_safe %>
          </template>
        </div>
      </span>
      <hr class="w-100">
    </div>
    <div class="col-12" data-controller="room">
      <div class="room-details">
        <span class='title mb-2'>Rooms</span>
        <div class="flats-card-scroller pt-0">
          <ul class="hs">
            <% @flat[:rooms].each_with_index do |room, index| %>
              <li class="item" >
                <div class="<%= 'room-selected' if index == 0 %> room-card d-flex" data-room-target="card"  data-action=" click->room#onClick" data-id="<%= index %>">
                  <div class="details d-flex flex-column justify-content-around ml-3">
                    <span class="name mb-2">
                      <%= room[:name] %>
                    </span>
                    <span class="pricing">
                      <%= room[:price] %>
                    </span>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <% @flat[:rooms].each_with_index do |room, index| %>
          <div class="<%= 'd-none' if index != 0 %> room-description container"  data-id="<%= index %>" data-room-target="body">
            <p class="purple font-weight" >
              <%= room[:name] %>
            </p>
            <span>
              <%= room[:description].html_safe %>
            </span>
            <div class="facilities d-flex flex-wrap justify-content-around">
              <% room[:facilities].each do |facility| %>
                <div class="facility d-flex align-items-center px-2 my-2"><%= facility['name'] %></div>
              <% end %>
            </div>
            <div class="leases">
              <ul>
                <% room[:subconfigs].each do |subconfig| %>
                  <li><span class='purple'><%= subconfig['lease'] %></span> week lease <span class='purple'>(<%= subconfig['price'].to_i %>£/week)</span> starts form <span class='purple'> <%= subconfig['available_from'] %>,</span> book now by paying <span class='purple'><%= subconfig['deposit'].to_i %>£</span></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <div class="book">
          <%= link_to 'Booking request', '#', class:'btn-booking' %>
        </div>
      </div>
    </div>
    <hr class="w-100">
    <div class="col-12">
      <span class="title">Facilities</span>
      <div class="facilities d-flex flex-wrap justify-content-around">
        <% @flat[:apartment_facilities].each do |facility|  %>
          <div class="facility d-flex align-items-center px-2 my-2"><%= facility[:name] %></div>
        <% end %>
      </div>
    </div>
    <hr class="w-100">
    <div class="col-12">
      <span class="title">Services/Community Facilities</span>
      <div class="facilities d-flex flex-wrap justify-content-around">
        <% @flat[:community_facilities].each do |facility|  %>
          <div class="facility d-flex align-items-center px-2 my-2"><%= facility[:name] %></div>
        <% end %>
      </div>
    </div>
    <% if @recommandations.present? %>
      <hr class="w-100">
      <div class="col-12 d-flex flex-column my-2 pr-0">
        <span class="title">More Accomodations</span>
        <div class="flats-card-scroller pt-0">
          <ul class="hs" data-animate-target="container">
            <% @recommandations.each do |flat| %>
              <li class="item">
                <%= render 'flats/mobile/card-lite', type: @type, name: flat['name'], code: flat['code'], image: flat['image'], price: flat['price'], billing: flat['billing'], location: @location %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'flats/mobile/booking_input', flat: @flat %>
