<%= link_to flat_path(location, type, flat['code']) do  %>
  <div class="flat-card-large mb-4 col-12">
    <div data-controller="carousel" class="swiper-container position-relative" data-carousel-options-value='{"pagination": {"el": ".swiper-pagination"}}'>
      <div class="swiper-wrapper position-relative">
        <% flat["images"].first(3).each do |image| %>
          <div class="swiper-slide img-box" style="background-image:url(<%= image['url'] %>);"></div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <% facilities = flat['facilities'].first.reject{|v| v == 'sold_out'} %>
    <div class="facilities my-2 d-flex align-items-center <%= facilities.length == 2 ? '' : 'justify-content-between' %>">
      <% facilities.each do |facility| %>
        <div class="facility <%= facilities.length == 2 ? 'mr-4' : '' %>"><%= t("flats.index.#{facility}")  %> </div>
      <% end %>
    </div>
    <div class="details-wrapper d-flex justify-content-between px-2">
      <div class="details d-flex flex-column justify-content-around">
        <span class="name mb-2 text-left">
          <%= flat['name'] %>
        </span>
        <span class="pricing text-left">
          <%= flat['disp_price'] %> /<%= flat['billing'].downcase %>
        </span>
      </div>
      <%= link_to t('flats.index.cta'), booking_link(flat['city'], flat["code"], current_user.flat_preference.country), class: 'btn-flat-card', target:'blank' %>
    </div>
  </div>
<% end %>
