<% subconfigs = flat[:rooms].map{|room| room[:subconfigs]} %>
<%= simple_form_for booking, data: {booking_modal_target: 'form'} do |f| %>
  <%= f.hidden_field :flat_id, value: flat[:code] %>
  <%= f.input :full_name, required: true, input_html: {value: user.full_name} %>
  <%= f.input :email, required: true, input_html: {value: user.email} %>
  <%= f.input :university, required: true, input_html: {placeholder: 'university / college'} %>
  <%= f.input :phone, required: true, input_html: {data: { booking_modal_target: 'phone' }, placeholder: 'phone number', value: user.person&.phone || ''} %>
  <% if user.flat_preference.flat_type == 'student_housing' %>
    <%= f.input :room_type, collection: flat[:rooms].map {|room| [room[:name], room[:name]]}, prompt: 'Choose your room type'  %>
    <%= f.input :lease_duration, collection: subconfigs.map {|subconfig| subconfig.map{|a| "#{a['lease']} week lease #{a['price']} £/week starts form #{a['available_from']}, book now by paying #{a['deposit']} £" }}, prompt: 'Choose your lease duration'  %>
  <% end %>
  <%= f.input :requirements, input_html: {placeholder: 'requirements'}, label: "Any Specific Requirements? (optional)" %>
  <div class="text-center w-100 mt-5">
    <button class="btn-main w-100" data-action="click->booking-modal#submit">
      Create booking
    </button>
  </div>
<% end %>
