<div class="landing-container">
  <div class="disclaimer">
    <span><%= t('flat_preferences.new.disclaimer') %></span>
  </div>
  <div class="banner-landing" style="background-image: url(<%= asset_path 'flats/landing/desktop/banner-background.png' %>);">
    <div class="container">
      <h1><%= t('flat_preferences.new.location') %></h1>
      <div data-controller='flats-landing' class="search-form" data-flats-landing-locale-value=<%= I18n.locale.to_s %>>
        <%= simple_form_for @flat_preference, html: {method: :post, class: 'd-flex align-items-center flex-row justify-content-center'} do |f| %>
          <%= f.hidden_field :coordinates, data: {flats_landing_target: 'coordinates'} %>
          <div data-flats-landing-target="geocoder" class="geocoder position-relative">
            <i class="fad fa-map-marker position-absolute"></i>
          </div>
            <div class="date-range-input position-relative">
              <%= f.input :date_range, as: :string, label: false,
               required: true,
               input_html: { class: 'background-white datepicker datepicker-landing', id: 'date-input', placeholder: 'hello', data: { controller: 'flatpickr',
               flatpickr_default_date: [Time.zone.now, Time.zone.now + 30.days], flatpickr_alt_input: true, flatpickr_position: "above center", flatpickr_alt_format: '%e %b %Y', flatpickr_date_format: 'Y-m-d', flatpickr_mode: 'range'} } %>
              <i class="fad fa-calendar position-absolute"></i>
            </div>
              <%= f.button :submit, value: t('flat_preferences.new.submit'), data: {disable_with: t('flat_preferences.new.submitting')}, class: "btn btn-main" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
