<div class="container mt-md-5 dashboard background-waves" style="background-image:url(<%= asset_path 'pages/dashboard/waves-back.png' %>);">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-6">
      <div class="p-3">
        <%= link_to dashboard_path do %>
          <i class='fas fa-arrow-left black'></i>
        <% end %>
        <h1 class="text-start purple mb-3">Payment Methods</h1>
        <label>Your cards</label>
          <% if current_user.stripe_id.nil? %>
            <%= link_to new_payment_details_path do %>
              <div class="button-lite d-flex justify-content-between align-items-center px-3 py-2 my-2">
                <span>Add a new card</span>
                <i class="fas fa-arrow-right purple"></i>
              </div>
            <% end %>
          <% else %>
            <div data-controller="stripe-cards" data-stripe-cards-target="container" data-stripe-id="<%= current_user.stripe_id %>">
            <div class="cards-wrapper">
              <%= render 'payment_details/cards', cards: @cards, default_source: @default_source %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/components/dashboard_navbar' %>
