<div class="p-3 profile"
  style="background-image:url(<%= asset_path 'pages/dashboard/waves-back.png' %>);">
  <%= link_to payment_details_path do %>
    <i class='fas fa-arrow-left black'></i>
  <% end %>
  <h2 class="title text-start purple mb-3">Add a new card</h2>
  <div class="form-base">
    <%= simple_form_for @user, url: payment_detail_path, method: :post, data: { controller: "payment", locale: I18n.locale}, html: {id: 'payment-form'} do |f| %>
      <div class="form-divs-wrapper mb-3">
        <div class="form-group">
          <label for="card-number-element" class="my-1"><%= t('orders.stripe.number') %></label>
          <div id="card-number-element" class="w-100"></div>
          <div id="card-errors" class="mt-2" role="alert"></div>
        </div>
        <div class="lines-input d-flex justify-content-between">
          <div class="form-group">
            <label for="card-expiry-element" class="my-1"><%= t('orders.stripe.date') %></label>
            <div id="card-expiry-element"></div>
          </div>
          <div class="form-group">
            <label for="card-cvc-element" class="my-1">CVC</label>
            <div id="card-cvc-element"></div>
          </div>
        </div>
        <div class="form-group my-3">
         <span class="legals">
            By clicking on Add card you accept the <a target="blank" class="policy-link" href="https://stripe.com/en-gb/privacy">Terms &amp; Conditions | Stripe</a>.
          </span>
        </div>
        <hr>
        <%= f.button :submit, 'Add card', class: 'btn-main mb-2', id: 'stripe-submit', data: {disable_with: false} %>
      </div>
      <div class="powered text-center">
        <p>Powered by Stripe</p>
      </div>
    <% end %>
  </div>
</div>
