<div class="container-fluid about-container mb-5 px-4" data-controller="animate">
  <h2 class="mb-4"><%= t('pages.about.title') %></h2>
  <div class="row mb-5">
    <div class="col-12">
      <p class="mb-4"><%= t('pages.about.part_1') %></p>
      <p class="mb-4"><%= t('pages.about.part_2').html_safe %></p>
    </div>
    <div class="col-12">
      <div class="background-box p-1 mb-4 p-4">
          <p class="m-0"><%= t('pages.about.part_3') %></p>
      </div>
    </div>
    <div class="col-12">
      <p class="mb-5"><%= t('pages.about.part_4').html_safe %></p>
    </div>
    <div class="col-12 text-center">
      <%= link_to t('pages.home.banner.start'), new_user_registration_path, class:'btn btn-main' %>
    </div>
  </div>
  <div class="row px-4">
    <h2 class="mb-5"><%= t('pages.about.team') %></h2>
    <div class="col-12 px-0 mb-5" data-animate-target="card" data-team-name="alice" data-action='click->animate#displayPurpleBackground'>
      <div class="purple-card"></div>
      <div class="inside position-absolute">
        <div class="name">
          Alice Strecker
        </div>
        <div class="role">
          <%= t('pages.about.alice.role') %>
        </div>
      </div>
      <%= image_tag(asset_path('team/alice.png')) %>
    </div>
    <div class="col-12 px-0 mb-5" data-animate-target="card" data-team-name="jordan" data-action='click->animate#displayPurpleBackground'>
      <div class="purple-card"></div>
      <div class="inside position-absolute">
        <div class="name">
          Jordan Demmouche
        </div>
        <div class="role">
          <%= t('pages.about.jordan.role') %>
        </div>
      </div>
      <%= image_tag(asset_path('team/jordan.png')) %>
    </div>
    <div class="col-12 px-0 mb-5" data-animate-target="card" data-team-name="paul" data-action='click->animate#displayPurpleBackground'>
      <div class="purple-card"></div>
      <div class="inside position-absolute">
        <div class="name">
          Paul Sipassteuh
        </div>
        <div class="role">
          Marketing
        </div>
      </div>
      <%= image_tag(asset_path('team/paul.png')) %>
    </div>
    <div class="col-12 px-0 mb-5" data-animate-target="card" data-team-name="tim" data-action='click->animate#displayPurpleBackground'>
      <div class="purple-card"></div>
      <div class="inside position-absolute">
        <div class="name">
          Tim Grobshäuser
        </div>
        <div class="role">
          <%= t('pages.about.tim.role') %>
        </div>
      </div>
      <%= image_tag(asset_path('team/tim.png')) %>
    </div>
    <div class="col-12 px-0 mb-5" data-animate-target="card" data-team-name="vitaliy" data-action='click->animate#displayPurpleBackground'>
      <div class="purple-card"></div>
      <div class="inside position-absolute">
        <div class="name">
          Vitaliy Didukh
        </div>
        <div class="role">
          Designer
        </div>
      </div>
      <%= image_tag(asset_path('team/vitaliy.png')) %>
    </div>
    <div class="col-12 px-0 mb-5" data-animate-target="card" data-team-name="yoni" data-action='click->animate#displayPurpleBackground'>
      <div class="purple-card"></div>
      <div class="inside position-absolute">
        <div class="name">
          Yoni Touboul
        </div>
        <div class="role">
          <%= t('pages.about.yoni.role') %>
        </div>
      </div>
      <%= image_tag(asset_path('team/yoni.png')) %>
    </div>
  </div>
</div>

