<% content_for :meta_title, "movido | Contact" %>
<% content_for :meta_description, "Contact us, we'd be happy to help you" %>
<div class="container contact-container mb-5">
  <%= image_tag(asset_path('pages/contact/illustration_mobile.png'), class: 'illustration-mobile position-absolute') %>
  <%= image_tag(asset_path('pages/home/banner-mobile/half-purple-bubble.png'), class:'bubble-position-right') %>
  <%= image_tag(asset_path('pages/home/banner-mobile/half-blue-bubble.png'), class:'bubble-position-left') %>
  <h2 class="mb-3"><%= t('pages.contact.title') %></h2>
  <h3 class="mb-5"><%= t('pages.contact.subline').html_safe %></h3>
  <div class="support-links d-flex align-items-end flex-column">
    <%= mail_to "contact@go-movido.com", class: 'mb-3' do %>
      <%= image_tag(asset_path('subscriptions/email_mobile.png')) %>
    <% end %>
    <%= link_to "tel: +447841598269", class: 'mb-3' do %>
      <%= image_tag(asset_path('subscriptions/phone_mobile.png')) %>
    <% end %>
    <%= link_to "tel: +447841598269", class: 'mb-3' do %>
      <%= image_tag(asset_path('subscriptions/whatsapp_mobile.png')) %>
    <% end %>
  </div>
</div>
