<% content_for :meta_title, "movido | How it works in 5 simple steps" %>
<% content_for :meta_description, "movido allows you to select, activate and manage all your admin contracts - simple, fast and 100\% for free. Try it now." %>
<div class="container how-it-works-container mb-5 px-4">
  <h2 class="mb-5"><%= t('pages.how_it_works.title') %></h2>
    <div class="mb-3 d-flex align-items-center">
      <span class="step mr-3">1</span>
      <h4 class="mb-0"><%= t('pages.how_it_works.first_step.title') %></h4>
    </div>
    <p class="mb-4"><%= t('pages.how_it_works.first_step.description') %></p>
    <div class="my-3 d-flex align-items-center">
      <span class="step mr-3">2</span>
      <h4 class="mb-0"><%= t('pages.how_it_works.second_step.title') %></h4>
    </div>
    <p class="mb-4"><%= t('pages.how_it_works.second_step.description') %></p>
    <div class="my-3 d-flex align-items-center">
      <span class="step mr-3">3</span>
      <h4 class="mb-0"><%= t('pages.how_it_works.third_step.title') %></h4>
    </div>
    <p class="mb-4"><%= t('pages.how_it_works.third_step.description') %></p>
    <div class="my-3 d-flex align-items-center">
      <span class="step mr-3">4</span>
      <h4 class="mb-0"><%= t('pages.how_it_works.fourth_step.title') %></h4>
    </div>
    <p class="mb-4"><%= t('pages.how_it_works.fourth_step.description') %></p>
    <div class="my-3 d-flex align-items-center">
      <span class="step mr-3">5</span>
      <h4 class="mb-0"><%= t('pages.how_it_works.fifth_step.title') %></h4>
    </div>
    <p class="mb-4"><%= t('pages.how_it_works.fifth_step.description') %></p>
    <div class="w-100 text-center"><%= link_to t('pages.how_it_works.cta'), root_path, class:'btn btn-main mt-3' %></div>
</div>
