<div class="navbar navbar-expand-sm navbar-light navbar-movido" data-controller="navbar" data-navbar-target="navbar" data-action="scroll@window->navbar#onScroll" data-navbar-fixed-class="fixed-nav">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag(asset_path("navbar/logo.svg")) %>
  <% end %>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Dashboard', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('shared.navbar_visitor.about_us'), about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('shared.navbar_visitor.how_it_works'), how_it_works_path, class: "nav-link" %>
      </li>
      <% if I18n.locale == :fr %>
        <li class="nav-item dropdown language" id="languageDropdown">
          <span class="nav-link d-flex" data-toggle="dropdown" data-navbar-target="language">FR <i class="fas fa-sort-down ml-2"></i></span>
          <div class="dropdown-menu pb-0" aria-labelledby="languageDropdown">
            <%= link_to("EN", url_for( locale: :en ), data: {turbolinks: false}) %>
          </div>
        </li>
      <% else %>
        <li class="nav-item dropdown language" id="languageDropdown">
          <span class="nav-link d-flex" data-toggle="dropdown" data-navbar-target="language">EN <i class="fas fa-sort-down ml-2"></i></span>
          <div class="dropdown-menu pb-0" aria-labelledby="languageDropdown">
            <%= link_to("FR", url_for( locale: :fr ), data: {turbolinks: false}) %>
          </div>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav profile mr-auto">
      <li class="nav-item dropdown" id="userDropdown" >
        <span class="btn-navbar d-flex" data-toggle="dropdown" data-navbar-target="profile" id="profileNavbar"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %><i class="fas fa-sort-down ml-2"></i></span>
        <div class="dropdown-menu py-0" aria-labelledby="userDropdown">
          <%= link_to "#{image_tag(asset_path('navbar/profile.png'), class: 'mr-2')}#{t('shared.dropdown.profile')}".html_safe, user_path(current_user), class: "dropdown-item py-3 d-flex align-items-center" %>
          <%= link_to "#{image_tag(asset_path('navbar/account.png'), class: 'mr-2')}#{t('shared.dropdown.account')}".html_safe, edit_user_registration_path, class: "dropdown-item py-3 d-flex align-items-center" %>
          <%= link_to "#{image_tag(asset_path('navbar/logout.png'), class: 'mr-2')}#{t('shared.dropdown.logout')}".html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item pb-3 last d-flex align-items-center"%>
        </div>
      </li>
  </ul>

  </div>
</div>
