<section class="advantages-cards d-none d-md-block">
  <div class="container-fluid my-5">
    <div class="row justify-content-center position-relative">
    <%= image_tag(asset_path('components/homepage/visual-assets/bg-element.png'), class:'position-absolute bg-position z-0') %>
      <div class="col-7 offset-1">
        <h1 class="purple mb-3 bold">You're moving to France or the UK?</h1>
        <span>You’re in the right place! With Movido, make your move abroad as easy as making a cup of tea.</span>
      </div>
    </div>
    <div class="row d-flex mt-5">
      <div class="col-12 d-flex justify-content-around">
        <div class="advantage m-2 bg-purple-4 d-flex flex-column p-3 w-25">
          <%= image_tag(asset_path("components/homepage/icons/chrono-white.svg"))%>
          <span>Find your offer in 5mins instead of the usual 4hrs</span>
        </div>
        <div class="advantage m-2 bg-purple-5 d-flex flex-column p-3 w-25">
          <%= image_tag(asset_path("components/homepage/icons/piggy-white.svg"))%>
          <span>Get exclusive discounts which you don’t find anywhere else online</span>
        </div>
        <div class="advantage m-2 bg-purple-6 d-flex flex-column p-3 w-25">
          <%= image_tag(asset_path("components/homepage/icons/assistant-white.svg"))%>
          <span>Find your offer in 5mins instead of the usual 4hrs</span>
        </div>
        <div class="advantage m-2 bg-purple-7 d-flex flex-column p-3 w-25">
          <%= image_tag(asset_path("components/homepage/icons/router-white.svg"))%>
          <span>Get exclusive discounts which you don’t find anywhere else online</span>
        </div>
      </div>
    </div>
  </div>
</section>
