<section class="d-block d-md-none">
  <div class="advantages-cards">
    <div class="container my-5">
      <div class="row">
        <div class="col-12">
          <h2 class="purple px-5">Moving abroad?</h2>
          <p class="px-5 text-center">You’re in the right place! With movido, moving abroad is easy as making yourself a cup of tea!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 d-flex flex-column justify-content-between">
          <div class="advantage m-2 bg-blue h-100">
            <span class="description">Find your offer <strong>in 5mins</strong> instead of the usual 4hrs</span>
          </div>
          <div class="advantage m-2 bg-purple-1 h-100">
            <span class="description"><strong>Get exclusive discounts</strong> which you don’t find anywhere else online</span>
          </div>
        </div>
        <div class="col-6 d-flex flex-column justify-content-around">
          <div class="advantage m-2 bg-purple-2 h-100">
            <span class="description">We have pre-selected <strong>the best providers in the market for you</strong> so you don’t fall for the wrong one</span>
          </div>
          <div class="advantage m-2 bg-purple-3 h-100">
            <span class="description"><strong>Personalized support</strong> instead of generic hotlines</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="advantages-cards d-none d-md-block">
  <div class="container-fluid my-5">
    <div class="row justify-content-center position-relative">
    <%= image_tag(asset_path('components/homepage/visual-assets/bg-element.png'), class:'position-absolute bg-position z-0') %>
      <div class="col-7 offset-1">
        <h1 class="purple mb-3 bold">Moving abroad?</h1>
        <span>You’re in the right place! With movido, moving abroad is easy as making yourself a cup of tea!</span>
      </div>
    </div>
    <div class="row d-flex mt-5">
      <div class="col-12 d-flex justify-content-around">
        <div class="advantage m-2 bg-purple-4 d-flex flex-column p-3 w-25">
          <%= image_tag(asset_path("components/homepage/icons/chrono-white.png"))%>
          <span>Find your offer in 5mins instead of the usual 4hrs</span>
        </div>
        <div class="advantage m-2 bg-purple-5 d-flex flex-column p-3 w-25">
          <%= image_tag(asset_path("components/homepage/icons/piggy-white.png"))%>
          <span>Get exclusive discounts which you don’t find anywhere else online</span>
        </div>
        <div class="advantage m-2 bg-purple-6 d-flex flex-column p-3 w-25">
          <%= image_tag(asset_path("components/homepage/icons/assistant-white.png"))%>
          <span>Find your offer in 5mins instead of the usual 4hrs</span>
        </div>
        <div class="advantage m-2 bg-purple-7 d-flex flex-column p-3 w-25">
          <%= image_tag(asset_path("components/homepage/icons/router-white.png"))%>
          <span>Get exclusive discounts which you don’t find anywhere else online</span>
        </div>
      </div>
    </div>
  </div>
</section>
