<section class="banner container d-flex align-items-center">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <div class="content">
        <div class="headline mb-2">
          <h1 class="mb-3">Your companion for everything you need to get settled in your new city!</h1>
          <p class="subheadline">Get your SIM card, local transport, WiFi, utilities and more - <br class="d-none d-md-block">all in 5 mins, online and without fees</p>
        </div>
        <%= image_tag(asset_path('components/homepage/product-iphone-view.png'), class:'d-block d-md-none mb-3') %>
        <%= simple_form_for @lead, url: root_path, html: {class:'w-100'}, data: {action: "submit->lead#submit", lead_target: 'form', reflex_root: '#new_lead', reflex_serialize_form: true } do |f| %>
        <%= f.input :email, required: false, label: false, placeholder: 'johndoe@gmail.com', input_html: {class:'w-100 me-4'} %>
        <%= f.button :submit, 'Register now', class: 'btn-main', data: {lead_target: 'button', disable_with: false, reflex_permanent: true} %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 d-none d-md-block text-end">
      <%= image_tag(asset_path('components/homepage/product-iphone-view.png'), class: 'iphone-img') %>
    </div>
  </div>
</section>
