<section class='d-block d-sm-none' data-controller="logo">
  <div class="container-fluid p-0">
    <div class="banner bg-position" style="background-image: url(<%= asset_path('components/homepage/bg_top_home.png') %>);">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="white p-4 pb-0 text-center">All you contracts in 1 bill and 20% cheaper </h1>
          </div>
          <div class="col-12">
            <%= image_tag(asset_path('components/homepage/movido_homepage_animation_responsive.svg'))%>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-center">
            <h3 class="me-1 mb-0">Need</h3>
            <div class="typing-container d-flex">
              <span class="sentence purple" data-logo-target="word">Housing?</span>
              <span class="input-cursor"></span>
            </div>
          </div>
          <input class="d-none" data-logo-target="count" value="0">
          <p class="text-center px-5">Get the best offers in 5 minutes. Stress-free and without fees.</p>
          <div class="col-8 mx-auto">
              <div class="btn-main mb-4 mb-md-0 mt-md-5 mx-auto position-relative z-0" data-bs-toggle="modal" data-bs-target="#onboardingMobileModal">
                Get started now
              </div>
          </div>
          <%= image_tag(asset_path('components/homepage/trustpilot-no-shadow.png'), class:'d-block d-md-none w-75 mb-5 mx-auto trustpilot' ) %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-none d-md-block" data-controller="logo">
  <div class="homepage-banner bg-position mb-5 align-items-center d-flex flex-column" style="background-image: url(<%= asset_path('components/homepage/bg-top-desktop.png') %>);">
    <div class="container-fluid">
      <div class="row align-items-center top-part">
        <div class="col-6 d-flex align-items-center justify-content-end">
          <%= image_tag(asset_path('components/homepage/movido_homepage_animation_responsive.svg'), class:"animation")%>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <div class="d-flex flex-column h-100">
            <h1 class="white mb-4">All you contracts in <br>1 bill and 20% cheaper</h1>
            <h2 class="white lite text-left mb-4 static-width">Need <span class='changing-word' data-logo-target="word">housing?</span></h2>
            <input class="d-none" data-logo-target="count" value="0">
            <h3 class="white lite">Get the best offer in 5mins, <br />stress-free and without fees.</h3>
            <div class="col-4 mt-4">
              <div class="btn-main mx-auto" data-bs-toggle="modal" data-bs-target="#onboardingDesktopModal">
                Get started now
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-3">
        <div class="col-12 text-center">
          <%= image_tag(asset_path('components/homepage/trustpilot-no-shadow.png'), class:'trustpilot' ) %>
        </div>
      </div>
    </div>
  </div>
</section>
