<div class="carousel-card d-flex flex-column align-items-center" alt="<%= alt %>">
  <div class="user d-flex align-items-center justify-content-center">
    <div class="img">
      <%= image_tag(asset_path(img)) %>
    </div>
    <div class="infos">
      <span class="name"><%= name %></span>
      <div class="destination d-flex flex-column">
        <span>from: <%= from %></span>
        <span>moved to: <%= to %></span>
      </div>
    </div>
  </div>
  <span class="sentence text-center"><%= sentence %></span>
</div>
