<section class="offers-banner" style="background-image: url(<%= asset_path('components/homepage/offers-bg.png') %>)">
  <div class="container text-center">
    <h2 class="mt-mb-5">The Movido offer</h2>
    <span class='subtitle'>We have created <b>two packages</b> that will help you get ready for your new home - 100% stress free and with no added fees:</span>
    <div class="row my-md-4">
      <div class="col-12 col-md-6">
        <div class="product-card position-relative text-left">
          <div class="container">
            <%= image_tag(asset_path('components/homepage/visual-assets/envelope.svg'), class:'position-absolute')%>
          </div>
          <div class="top">
            <div class="container">
              <h3 class="name purple">Starter Pack</h3>
              <p>Everything you need <strong>before you move</strong> - sent to your current home</p>
            </div>
            <br />
            <div class="container d-flex">
              <%=image_tag(asset_path("components/homepage/icons/house.svg"), class:"icon")%>
              <p>Housing search support</p>
            </div>
            <hr>
            <div class="container d-flex">
              <%=image_tag(asset_path("components/homepage/icons/mobile.svg"), class:"icon")%>
              <p>Local SIM card with credit</p>
            </div>
            <hr>
            <div class="container d-flex">
              <%=image_tag(asset_path("components/homepage/icons/metro.svg"), class:"icon")%>
              <p>Local public transportation</p>
            </div>
            <hr>
            <div class="container d-flex">
              <%=image_tag(asset_path("components/homepage/icons/plane.svg"), class:"icon")%>
              <p>Airport pick-up to city center</p>
            </div>
          </div>
          <div class="container my-4">
            <div class="row d-flex">
              <div class="col-12 text-center">
                <%= link_to 'See more details', pricing_starter_pack_path, class: 'underline mb-3 mb-md-0 mt-4 w-100' %>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-12 text-center">
                <%= link_to 'Get started now', onboarding_starter_pack_path, class: 'btn-main mb-3 mb-md-0 mt-4 w-100' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="product-card position-relative text-left">
          <%= image_tag(asset_path('components/homepage/visual-assets/all-in-one-card.svg'), class:'position-absolute movido-card')%>
          <div class="top">
            <div class="container">
              <h3 class="name purple">Settle in Pack</h3>
              <p>All subscriptions in one simple monthly bill <strong>once in your new home</strong></p>
            </div>
            <br />
            <div class="container d-flex">
              <%=image_tag(asset_path("components/homepage/icons/wifi.svg"), class:"icon")%>
              <p>WiFi at home</p>
            </div>
            <hr>
            <div class="container d-flex">
              <%=image_tag(asset_path("components/homepage/icons/router.svg"), class:"icon")%>
              <p>Gas, water, electricity at home</p>
            </div>
            <hr>
            <div class="container d-flex">
              <%=image_tag(asset_path("components/homepage/icons/phone.svg"), class:"icon")%>
              <p>Mobile phone contract</p>
            </div>
          </div>
          <div class="container my-4">
            <div class="row d-flex">
              <div class="col-12 text-center">
                <%= link_to 'See more details', pricing_settle_in_path, class: 'underline mb-3 mb-md-0 mt-4 w-100' %>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-12 text-center">
                <%= link_to 'Get started now', onboarding_settle_in_path, class: 'btn-main mb-3 mb-md-0 mt-4 w-100' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
