<section class="offers-banner w-100 mb-4 py-md-4">
  <div class="container">
    <h2>The Movido offer</h2>
    <span class='text-center'>Moving to France or the UK doesn’t have to be stressful & expensive! With Movido simply choose what you need and get it shipped to your home anywhere in the world – 100% stress free and with no added fees</span>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="product-card">
          <div class="container mx-auto d-flex justify-content-center">
            <%= image_tag(asset_path('components/homepage/visual-assets/Envelope.svg'))%>
          </div>
          <div class="top">
            <h3 class="name purple">Starter Pack</h3>
            <br />
            <p class="detail">Everything you need <strong>before you move</strong> - sent to your current home</p>
            <br />
            <p class="detail"><i class="far fa-check"></i>Housing search support</p>
            <hr>
            <p class="detail"><i class="far fa-check"></i>Local SIM card with credit</p>
            <hr>
            <p class="detail"><i class="far fa-check"></i>Local public transportation</p>
            <hr>
            <p class="detail"><i class="far fa-check"></i>Airport pick-up to city center</p>
          </div>
          <div class="container mt-4">
            <div class="row d-flex justify-content-center">
              <div class="col-12 text-center col-md-3">
                <%= link_to 'See more details', pricing_path, class: 'underline mb-3 mb-md-0 mt-4 w-100' %>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-12 text-center col-md-3">
                <%= link_to 'Get started now', onboarding_starter_pack_path, class: 'btn-main mb-3 mb-md-0 mt-4 w-100' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="product-card">
          <div class="top">
            <h3 class="name purple">Settle in Pack</h3>
            <br />
            <p class="detail">All subscriptions in one simple monthly bill <strong>once in your new home</strong></p>
            <br />
            <p class="detail"><i class="far fa-check"></i>WiFi at home</p>
            <hr>
            <p class="detail"><i class="far fa-check"></i>Gas, water, electricity at home</p>
            <hr>
            <p class="detail"><i class="far fa-check"></i>Mobile phone contract</p>
            <hr>
          </div>
          <div class="container mt-4">
            <div class="row d-flex justify-content-center">
              <div class="col-12 text-center col-md-3">
                <%= link_to 'See more details', pricing_path, class: 'underline mb-3 mb-md-0 mt-4 w-100' %>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-12 text-center col-md-3">
                <%= link_to 'Get started now', onboarding_settle_in_path, class: 'btn-main mb-3 mb-md-0 mt-4 w-100' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
