<section id="partners">
  <div class="container pb-5">
    <div class="row">
      <div class="col-12 text-center">
        <p class="title mb-5">In collaboration with:</p>
      </div>
      <div class="col-2">
        <div class="partner d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('bunq.png')) %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('giffgaff.png')) %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('sorbonne.png')) %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('transferwise.png')) %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('escp.png')) %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path('uniplaces.png')) %>
        </div>
      </div>
    </div>
  </div>
</section>
