<section id="services-cards" data-controller="animate">
  <div class="services-cards-wrapper">
    <div class="container">
      <div class="row">
        <div class="d-flex align-items-center w-100 justify-content-between mb-3">
          <h2 class="m-0"><%= t('.title') %></h2>
          <div class="arrow-wrapper">
            <i class="fas fa-arrow-circle-left light-purple mr-3" data-action='click->animate#slideLeft' data-animate-target="leftArrow"></i>
            <i class="fas fa-arrow-circle-right purple" data-action='click->animate#slideRight' data-animate-target="rightArrow"></i>
          </div>
        </div>

      </div>
    </div>
    <div class="container-fluid service-cards-scroller" >
      <ul class="hs" data-animate-target="container" >
        <li class="item">
          <%=  render 'pages/home/service-card', picto: 'housing.png', title: t('pages.dashboard_index.housing.name'), description: t('.housing'), timer: '10',comming_soon: false, path: services_real_estate_path %>
          <%=  render 'pages/home/service-card', picto: 'wifi.png', title: t('pages.dashboard_index.wifi.name'), description: t('.wifi'), timer: '5',comming_soon: false, path: services_wifi_path %>
        </li>
        <li class="item">
          <%=  render 'pages/home/service-card', picto: 'bank.png', title: t('pages.dashboard_index.bank.name'), description: t('.bank'), timer: '10',comming_soon: false, path: services_bank_path %>
          <%=  render 'pages/home/service-card', picto: 'utilities.png', title: t('pages.dashboard_index.utilities.name'), description: t('.utilities'), timer: '10',comming_soon: true, path: new_user_registration_path %>
        </li>
        <li class="item">
          <%=  render 'pages/home/service-card', picto: 'mobile.png', title: t('pages.dashboard_index.mobile_phone.name'), description: t('.mobile'), timer: '3',comming_soon: false, path: services_mobile_path %>
          <%=  render 'pages/home/service-card', picto: 'transportation.png', title: t('pages.dashboard_index.transportation.name'), description: t('.transportation'), timer: '2',comming_soon: true, path: new_user_registration_path %>
        </li>
        <li class="item">
          <%=  render 'pages/home/service-card', picto: 'gym.png', title: t('pages.dashboard_index.gym.name'), description: t('.gym'), timer: '3',comming_soon: true, path: new_user_registration_path %>
          <%=  render 'pages/home/service-card', picto: 'community.png', title: t('pages.dashboard_index.community.name'), description: t('.community'), timer: '1',comming_soon: true, path: new_user_registration_path %>
        </li>
      </ul>
    </div>
  </div>
</section>
