<section>
  <div class="services-cards-wrapper">
    <div class="container">
      <div class="row">
        <h2>Our offerings</h2>
      </div>
    </div>
    <div class="container-fluid service-cards-scroller">
      <ul class="hs">
        <li class="item">
          <%=  render 'pages/home/service-card', picto: 'housing.png', title: t('pages.dashboard_index.housing.name'), description: t('.housing'), timer: '10',comming_soon: false %>
          <%=  render 'pages/home/service-card', picto: 'wifi.png', title: t('pages.dashboard_index.wifi.name'), description: t('.wifi'), timer: '5',comming_soon: false %>
        </li>
        <li class="item">
          <%=  render 'pages/home/service-card', picto: 'bank.png', title: t('pages.dashboard_index.bank.name'), description: t('.bank'), timer: '10',comming_soon: false %>
          <%=  render 'pages/home/service-card', picto: 'gym.png', title: t('pages.dashboard_index.gym.name'), description: t('.gym'), timer: '3',comming_soon: true %>
        </li>
        <li class="item">
          <%=  render 'pages/home/service-card', picto: 'mobile.png', title: t('pages.dashboard_index.mobile_phone.name'), description: t('.mobile'), timer: '3',comming_soon: false %>
          <%=  render 'pages/home/service-card', picto: 'transportation.png', title: t('pages.dashboard_index.transportation.name'), description: t('.transportation'), timer: '2',comming_soon: true %>
        </li>
        <li class="item">
          <%=  render 'pages/home/service-card', picto: 'utilities.png', title: t('pages.dashboard_index.utilities.name'), description: t('.utilities'), timer: '10',comming_soon: true %>
          <%=  render 'pages/home/service-card', picto: 'community.png', title: t('pages.dashboard_index.community.name'), description: t('.community'), timer: '1',comming_soon: true %>
        </li>
      </ul>
    </div>
  </div>
</section>
