<div class="service-card d-flex text-left flex-column px-3 align-items-center justify-content-center">
  <%= link_to path, class:"d-flex align-items-center w-100 justify-content-between flex-column" do %>
  <div class="d-flex align-items-center w-100 justify-content-between">
    <div class="picto mb-2">
      <%= image_tag(asset_path(picto)) %>
    </div>
    <div class="timer">
      <span><%= timer %> minutes</span>
    </div>
  </div>
  <div class="title mb-2 w-100">
    <%= title %>
  </div>
  <div class="desc mb-3">
    <span><%= description %></span>
  </div>
  <% if comming_soon %>
    <div class="comming-soon-bar">
      <span>Comming soon</span>
    </div>
  <% end %>
  <% end %>
</div>

