<section id="testimonials" data-controller="animate">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="d-flex align-items-center w-100 justify-content-between">
          <h2 class="mb-3"><%= t('.title') %></h2>
          <div class="arrow-wrapper">
            <i class="fas fa-arrow-circle-left light-purple mr-3" data-action='click->animate#slideLeft' data-animate-target="leftArrow"></i>
            <i class="fas fa-arrow-circle-right purple" data-action='click->animate#slideRight' data-animate-target="rightArrow"></i>
          </div>
        </div>
        <span class="subtitle"><%= t('.subtitle') %></span>
      </div>
    </div>
  </div>
  <div class="container-fluid testimonials-cards-scroller pr-0">
    <ul class="hs" data-animate-target="container" >
      <li class="item">
          <div class="testimonial-card d-flex flex-column justify-content-center">
            <div class="d-flex align-items-center">
              <%= image_tag(asset_path('pages/home/ellen.png'), class:"mr-3") %>
              <div class="d-flex flex-column">
                <span class="name">Ellen</span>
                <span class="from"><%= t('.testimonial1.from') %></span>
                <span class="destination"><%= t('.testimonial1.to') %></span>
              </div>
            </div>
            <p class="sentence my-3"><%= t('.testimonial1.sentence').html_safe %></p>
          </div>
      </li>
      <li class="item">
        <div class="testimonial-card d-flex flex-column justify-content-center my-5">
          <div class="d-flex align-items-center">
            <%= image_tag(asset_path('pages/home/mariana.png'), class:"mr-3") %>
            <div class="d-flex flex-column">
              <span class="name">Mariana</span>
              <span class="from"><%= t('.testimonial2.from') %></span>
              <span class="destination"><%= t('.testimonial2.to') %></span>
            </div>
          </div>
          <p class="sentence my-3"><%= t('.testimonial2.sentence').html_safe %></p>
        </div>
      </li>
      <li class="item">
        <div class="testimonial-card d-flex flex-column justify-content-center">
          <div class="d-flex align-items-center">
            <%= image_tag(asset_path('pages/home/etienne.png'), class:"mr-3") %>
            <div class="d-flex flex-column">
              <span class="name">Etienne</span>
              <span class="from"><%= t('.testimonial3.from') %></span>
              <span class="destination"><%= t('.testimonial3.to') %></span>
            </div>
          </div>
          <p class="sentence my-3"><%= t('.testimonial3.sentence').html_safe %></p>
        </div>
      </li>
      <li class="item">
        <div class="testimonial-card d-flex flex-column justify-content-center">
          <div class="d-flex align-items-center">
            <%= image_tag(asset_path('pages/home/mateo.png'), class:"mr-3") %>
            <div class="d-flex flex-column">
              <span class="name">Mateo</span>
              <span class="from"><%= t('.testimonial4.from') %></span>
              <span class="destination"><%= t('.testimonial4.to') %></span>
            </div>
          </div>
          <p class="sentence my-3"><%= t('.testimonial4.sentence').html_safe %></p>
        </div>
      </li>
      <li class="item">
        <div class="testimonial-card d-flex flex-column justify-content-center">
          <div class="d-flex align-items-center">
            <%= image_tag(asset_path('pages/home/lena.png'), class:"mr-3") %>
            <div class="d-flex flex-column">
              <span class="name">Lena</span>
              <span class="from"><%= t('.testimonial5.from') %></span>
              <span class="destination"><%= t('.testimonial5.to') %></span>
            </div>
          </div>
          <p class="sentence my-3"><%= t('.testimonial5.sentence').html_safe %></p>
        </div>
      </li>
    </ul>
  </div>
</section>
