<section id="why-us">
  <div class="container pt-2">
    <div class="row">
      <div class="col-md-6 sm-12 d-flex flex-column justify-content-center">
        <div class="main-title">
          <h2><%= t('.title').html_safe %></h2>
        </div>
        <div class="why-cards-wrapper d-flex flex-column">
            <%= render 'pages/home/why-card', img: 'pages/home/fast.png', title: t('.card1.title'), desc: t('.card1.description') %>
            <%= render 'pages/home/why-card', img: 'pages/home/smart.png', title: t('.card2.title'), desc: t('.card2.description') %>
            <%= render 'pages/home/why-card', img: 'pages/home/simple.png', title: t('.card3.title'), desc: t('.card3.description') %>
            <%= render 'pages/home/why-card', img: 'pages/home/free.png', title: t('.card4.title'), desc: t('.card4.description') %>
        </div>
      </div>
      <div class="col-md-6 d-lg-block d-none">
        <%= image_tag(asset_path('pages/home/iphone.png'), class:"w-100") %>
      </div>
    </div>
  </div>
</section>
