<div class="bank-card m-3 d-flex flex-column" data-controller="modal">
  <div class="d-flex align-items-center justify-content-around p-4">
    <%= image_tag(asset_path(bank.logo_url + ".png")) %>
    <div class="content">
      <div class="title">
        <span class="mb-2"><%= t(".#{bank.name.downcase}.#{bank.headline}").html_safe %></span>
      </div>
      <div class="features d-flex flex-column align-items-start">
        <div class="feature py-2">
          <i class="fas fa-check-circle green mr-2"></i>
          <span><%= t("banks.index.#{bank.name.downcase}.#{bank.feature_1}").html_safe %></span>
        </div>
        <div class="feature py-2">
          <i class="fas fa-check-circle green mr-2"></i>
          <span><%= t("banks.index.#{bank.name.downcase}.#{bank.feature_2}").html_safe %></span>
        </div>
        <div class="feature py-2">
          <i class="fas fa-check-circle green mr-2"></i>
          <span><%= t("banks.index.#{bank.name.downcase}.#{bank.feature_3}").html_safe %></span>
        </div>
        <div class="feature py-2">
          <i class="fas fa-check-circle green mr-2"></i>
          <span><%= t("banks.index.#{bank.name.downcase}.#{bank.feature_4}").html_safe %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="link d-flex align-items-center">
    <%= link_to t('products.card.see_details'), modal_bank_path(bank), data: {target: '#bankModal',
          action: 'click->modal#loadBankModal', href: modal_bank_path(bank), toggle: 'modal'}, id: 'modal-link', class:"text-center purple modal-link" %>
    <%= link_to t('banks.index.cta'), bank.affiliate_link, class:"btn-card mr-4" %>
  </div>
</div>
