<div class="container banks-container mb-5">
  <div class="big-blue-bubble position-absolute"></div>
  <div class="small-yellow-bubble position-absolute"></div>
  <div class="small-blue-bubble position-absolute"></div>
  <div class="big-purple-bubble position-fixed"></div>
  <h2 class="text-center">Open your bank account online</h2>
  <div class="row">
    <% @banks.each do |bank| %>
      <div class="col-10 offset-1">
        <div class="bank-card m-3 d-flex flex-column">
          <div class="d-flex align-items-center justify-content-around p-4">
            <%= image_tag(bank.logo_url) %>
            <div class="content">
              <div class="title">
                <span class="mb-2"><%= t("services.bank.#{bank.name.downcase}.#{bank.headline}").html_safe %></span>
              </div>
              <div class="features d-flex flex-column align-items-start">
                <div class="feature py-2">
                  <i class="fas fa-check-circle green mr-2"></i>
                  <span><%= t("services.bank.#{bank.name.downcase}.#{bank.feature_1}").html_safe %></span>
                </div>
                <div class="feature py-2">
                  <i class="fas fa-check-circle green mr-2"></i>
                  <span><%= t("services.bank.#{bank.name.downcase}.#{bank.feature_2}").html_safe %></span>
                </div>
                <div class="feature py-2">
                  <i class="fas fa-check-circle green mr-2"></i>
                  <span><%= t("services.bank.#{bank.name.downcase}.#{bank.feature_3}").html_safe %></span>
                </div>
                <div class="feature py-2">
                  <i class="fas fa-check-circle green mr-2"></i>
                  <span><%= t("services.bank.#{bank.name.downcase}.#{bank.feature_4}").html_safe %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="link d-flex align-items-center justify-content-center">
            <%= link_to "See details", bank.affiliate_link, class:"purple font-weight" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


