<div class="col-12 subscriptions-addresses-container fade tab-pane <%= params[:active_tab] ? '' : 'show active' %>" id="pills-subscriptions" role="tabpanel">
  <div class="subscriptions-wrapper">
      <div class="headers d-flex px-2 mb-3 align-items-center justify-content-between">
        <span class="header column"><%= t('users.subscriptions.provider') %></span>
        <span class="header column d-lg-block d-none"><%= t('users.subscriptions.service') %></span>
        <span class="header column"><%= t('users.subscriptions.status') %></span>
        <span class="header column"><%= t('users.subscriptions.rate') %></span>
        <span class="header column">Actions</span>
      </div>
      <%= render 'users/desktop/subscription-details'%>
      <div class="rows position-relative">
        <% if subscriptions.blank? %>
          <div class="no-offers w-100 text-center pt-3">
            <h5 class="mb-5"><%= t('users.subscriptions.no_subscription') %></h5>
            <%= link_to t('users.subscriptions.see_offers'), dashboard_index_path, class: "btn-main" %>
          </div>
        <% else %>
          <% subscriptions.sort_by{ |s| s.state }.each do |subscription| %>
            <%= render 'users/desktop/subscription', subscription: subscription %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
