<div class="addresses-container col-12 tab-pane fade <%= params[:active_tab] == 'addresses' ? 'show active' : '' %>" id="pills-addresses" role="tabpanel">
  <span class="current"><%= t('.current') %></span>
  <div class="addresses-card-wrapper" data-id="<%= current_user.active_address.id %>" data-reflex="click->AddressReflex#default" >
    <div class="address-card p-4 d-flex align-items-center my-3 active-address"  >
      <i class="fas fa-map-marker-alt mr-3"></i>
      <span class="address"> <%= active_address.street %> </span>
    </div>
  </div>
  <span class="current"><%= t('.previous') %></span>
  <% addresses.each do |address| %>
    <div class="addresses-card-wrapper" data-id="<%= address.id %>" data-reflex="click->AddressReflex#default" >
      <div class="address-card p-4 d-flex align-items-center my-3"  >
        <i class="fas fa-map-marker-alt unactive mr-3"></i>
        <span class="unactive address"> <%= address.street %> </span>
      </div>
    </div>
  <% end %>
  <div class="addresses-card-wrapper my-4">
    <div class="address-input-wrapper p-3 d-flex align-items-center" data-profil-form-target="addAddressButton" data-action='click->profil-form#toggleAddressAutocomplete'>
      <%= image_tag(asset_path('users/addresses/plus-icon.png'), class: 'mr-3 plus-img') %>
      <span class="address" id="add"><%= t('.add') %></span>
    </div>
    <div class="border-0 align-items-center d-none" data-profil-form-target="addAddressInput">
      <div class="w-100">
        <%= simple_form_for(address) do |f| %>
        <div class="d-flex align-items-center justify-content-between form-address mb-2">
          <%= image_tag(asset_path('users/addresses/plus-icon.png'), class: 'position-absolute plus-img') %>
          <%= f.input :street,
          autofocus: true,
          placeholder: t('.form.placeholder.street'),
          required: true,
          label: false,
          input_html: { class: 'border-0', data: {
          profil_form_target: 'addressInput',
          reflex_dataset:'combined'
          }}%>
          <%= f.hidden_field :zipcode, id:'address_zipcode' %>
          <%= f.hidden_field :city, id:'address_city' %>
          <span data-reflex="click->AddressReflex#submit" data-reflex-dataset=“combined” class="btn-main"><%= t('.cta') %></span>
        </div>
        <% end %>
        <span id="error" class="text-danger"></span>
      </div>
    </div>
  </div>
</div>
