<div class="col-md-4 col-12 p-lg-5 p-4">
  <div class="profil-form-wrapper px-4 pb-2">
    <h4 class="section-title text-center py-3 mb-0">Profile</h4>
    <hr class="mt-2">
    <%= form_with(model: @user, data: {controller: "profil-form", profil_form_reflex: "UserReflex#submit", reflex: "submit->UserReflex#submit" }, id:"profil-form") do |form| %>
      <div class="d-flex justify-content-between pl-3 pr-3">
        <div class="d-flex pt-2 profil-input-wrapper flex-column">
          <label for="first_name" class="m-0">First name</label>
          <div class="profil-input">
            <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="0"><%= current_user.first_name %></span>
            <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="firstName"></i>
          </div>
        </div>
        <div data-target="profil-form.input" id="firstName" class="form-input d-none p-1">
          <%= form.text_field :first_name, class:'form-control' %>
          <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
        </div>
        <div class="d-flex pt-2 profil-input-wrapper flex-column">
          <label for="last_name" class="m-0">Last name</label>
          <div class="profil-input">
            <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="1"><%= current_user.last_name %></span>
            <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="lastName"></i>
          </div>
        </div>
      </div>
      <hr>
      <div data-target="profil-form.input" id="lastName" class="form-input d-none p-1">
        <%= form.text_field :last_name, class:'form-control'   %>
        <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
      </div>
      <div class="d-flex justify-content-between profil-input-wrapper flex-column pl-3">
        <label for="phone" class="m-0">Current mobile number</label>
        <div class="profil-input">
          <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="2"><%= current_user.phone %></span>
          <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="phone"></i>
        </div>
      </div>
      <hr>
      <div data-target="profil-form.input" id="phone" class="form-input d-none p-1">
        <%= form.text_field :phone, data: {target: "profil-form.phone", value: current_user.phone}, class:'phone form-control
        '  %>
        <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
      </div>
      <div class="d-flex justify-content-between profil-input-wrapper flex-column pl-3">
        <label for="country" class="m-0">Country I am moving to</label>
        <div class="profil-input">
          <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="3"><%= current_user.country %></span>
          <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="country"></i>
        </div>
      </div>
      <hr>
      <div data-target="profil-form.input" id="country" class="form-input d-none p-1">
        <%= form.select :country, [['France'], ['United Kingdom']], class:'form-control'  %>
        <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
      </div>
      <div class="d-flex justify-content-between profil-input-wrapper flex-column pl-3">
        <label for="email" class="m-0">Email Address</label>
        <div class="profil-input">
          <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="4"><%= current_user.email %></span>
          <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="email"></i>
        </div>
      </div>
      <hr>
      <div data-target="profil-form.input" id="email" class="form-input d-none p-1">
        <%= form.text_field :email, class:'form-control'   %>
        <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
      </div>
      <div class="d-flex justify-content-between profil-input-wrapper flex-column pl-3 pb-3">
        <label for="address" class="m-0">Current Address</label>
        <div class="profil-input">
          <span class="pr-3"><%= current_user.active_address.street %></span>
          <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="address"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
