<div class="col-md-4 col-12 p-lg-5 p-4">
  <div class="profil-form-wrapper px-4 pb-2">
    <h4 class="section-title text-center py-3 mb-0">My profile</h4>
    <hr class="mt-2">
    <div class="user d-flex align-items-center py-3 pr-3 pl-1">
      <div class="img mr-4">
        <%= image_tag(asset_path('testi_image_1.png')) %>
      </div>
    </div>
    <%= form_with(model: @user, data: {controller: "profil-form", profil_form_reflex: "UserReflex#submit", reflex: "submit->UserReflex#submit" }, id:"profil-form") do |form| %>
      <div class="d-flex align-items-center justify-content-between py-3 profil-input-wrapper">
        <label for="first_name" class="m-0 pl-3">First name</label>
        <div class="profil-input">
          <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="0"><%= current_user.first_name %></span>
          <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="firstName"></i>
        </div>
      </div>
      <hr>
      <div data-target="profil-form.input" id="firstName" class="form-input d-none p-1">
        <%= form.text_field :first_name, class:'form-control' %>
        <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
      </div>
      <div class="d-flex align-items-center justify-content-between py-3 profil-input-wrapper">
        <label for="last_name" class="m-0 pl-3">Last name</label>
        <div class="profil-input">
          <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="1"><%= current_user.last_name %></span>
          <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="lastName"></i>
        </div>
      </div>
      <hr>
      <div data-target="profil-form.input" id="lastName" class="form-input d-none p-1">
        <%= form.text_field :last_name, class:'form-control'   %>
        <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
      </div>
      <div class="d-flex align-items-center justify-content-between py-3 profil-input-wrapper">
        <label for="phone" class="m-0 pl-3">Phone</label>
        <div class="profil-input">
          <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="2"><%= current_user.phone %></span>
          <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="phone"></i>
        </div>
      </div>
      <hr>
      <div data-target="profil-form.input" id="phone" class="form-input d-none p-1">
        <%= form.text_field :phone, data: {target: "profil-form.phone", value: current_user.phone}, class:'phone form-control
        '  %>
        <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
      </div>
      <div class="d-flex align-items-center justify-content-between py-3 profil-input-wrapper">
        <label for="city" class="m-0 pl-3">City</label>
        <div class="profil-input">
          <span class="pr-3" data-action="mouseover->profil-form#togglePen"  data-id="3"><%= current_user.city %></span>
          <i class= "fas fa-pen d-none" data-action="click->profil-form#toggleInput" data-id="city"></i>
        </div>
      </div>
      <hr>
      <div data-target="profil-form.input" id="city" class="form-input d-none p-1">
        <%= form.select :city, [['Paris'], ['London']], class:'form-control'  %>
        <%= form.button 'Save', data: {target: "profil-form.submit"}, class:'btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
