<div class="col-12 subscriptions-addresses-container fade tab-pane show active" id="pills-subscriptions" role="tabpanel">
  <div class="subscriptions-wrapper">
      <div class="headers d-flex px-2 mb-3 align-items-center justify-content-between">
        <span class="header column"><%= t('.provider') %></span>
        <span class="header column d-lg-block d-none"><%= t('.service') %></span>
        <span class="header column"><%= t('.status') %></span>
        <span class="header column"><%= t('.rate') %></span>
        <span class="header column">Actions</span>
      </div>
      <%= render 'subscription-details'%>
      <div class="rows position-relative">
        <% subscriptions.order(state: :asc).each do |subscription| %>
          <% if subscription.product.country == current_user.active_address.country %>
            <%= render 'subscription', subscription: subscription %>
          <% end %>
        <% end %>
        <% if current_user.user_subscriptions_country.blank?  %>
          <%= link_to t('.see_offers'), dashboard_index_path, class: "btn-main" %>
        <% end %>
      </div>
  </div>
</div>
