<div class="col-12 subscriptions-addresses-container fade tab-pane show active" id="pills-subscriptions" role="tabpanel">
  <div class="subscriptions-wrapper">
      <div class="headers d-flex px-2 mb-3 align-items-center justify-content-between">
        <span class="header column"><%= t('user.subscription.table.provider') %></span>
        <span class="header column d-lg-block d-none"><%= t('user.subscription.table.service') %></span>
        <span class="header column"><%= t('user.subscription.table.status') %></span>
        <span class="header column"><%= t('user.subscription.table.rate') %></span>
        <span class="header column">Actions</span>
      </div>
      <div class="rows position-relative">
        <% current_user.subscriptions.order(state: :asc).each_with_index do |subscription, i| %>
          <%= render 'subscription', subscription: subscription %>
        <% end %>
        <% if current_user.subscriptions.blank?  %>
          <%= link_to t('user.subscription.table.see_offers'), dashboard_index_path, class: "btn-main" %>
        <% end %>
      </div>
  </div>
</div>
