<div class="form-base p-3 profile" style="background-image:url(<%= asset_path 'pages/dashboard/waves-back.png' %>);" data-controller="animate">
  <h2 class="title text-start purple mb-3">Update profile</h2>
  <%= simple_form_for @user, url: dashboard_update_profile_path, method: :put do |f| %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :phone, required: false, input_html: {data: { animate_target: 'phone' }, placeholder: 'phone number', id: 'user_phone'}, label:'Phone (optional)' %>
  <%= f.error(:base) %>
  <%= f.submit 'Update profile', class:'btn btn-main mt-4 mb-3' %>
  <% end %>
</div>
