<div class="flow-container background-size-cover sign-in d-flex mh-100" style="background-image:url(<%= asset_path 'pages/sign-in/background.png' %>);">
  <div class="content-container d-flex align-items-center w-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-5 ">
        <div class="form-base d-flex flex-column align-items-center justify-content-center h-100">
          <%= link_to root_path, class:'ps-3' do %>
            <%= image_tag(asset_path("logos/movido-black.svg"), class:'movido-logo') %>
          <% end %>
          <div class="sign-in-box">
            <h2 class="purple mb-3">Update your password</h2>
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>
              <%= f.input :reset_password_token, as: :hidden %>
              <%= f.full_error :reset_password_token %>
              <%= f.input :password,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
                <%= f.button :submit, "Log in", class:'btn-main mb-2' %>
            <% end %>
            <p><%= link_to 'I dont have an account', new_user_registration_path, class:'link purple' %> </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
