<footer class="footer d-flex align-items-center flex-column py-2">
  <div class="logo pb-4"><strong>movido</strong></div>
  <div class="links d-flex pb-3">
      <%= link_to "About us", '#', class:"px-3 text-center" %>
      <%= link_to "FAQ", '#', class:"px-3 text-center" %>
      <%= link_to "Terms of service", terms_path, class:"px-3 text-center" %>
      <%= link_to "Privacy Policy", privacy_path, class:"px-3 text-center" %>
      <%= link_to "Cookies Policy", cookies_path, class:"px-3 text-center" %>
      <span onclick="displayPreferenceModal()" class=" cookies px-3">Cookie Preferences</span>
  </div>
  <hr>
  <div class="bot d-flex justify-content-between w-100">
    <div class="copyright">
      <span>© 2020 movido. All rights reserved</span>
    </div>
    <div class="social-links d-flex justify-content-around pr-5">
      <%= link_to "https://www.facebook.com/Movido-109886614229103/", class: "text-center mr-4", target: "_blank" do %>
        <i class='fab fa-facebook-f'></i>
      <% end %>
      <%= link_to "#", class: "text-center mr-4", target: "_blank"  do %>
        <i class='fab fa-twitter'></i>
      <% end %>
      <%= link_to "https://www.instagram.com/go_movido/", class: "text-center ", target: "_blank" do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  </div>
</footer>
