<footer class="footer d-flex align-items-start flex-column py-4">
  <div class="top-part d-flex align-items-center justify-content-around w-100 py-4">
    <%= image_tag(asset_path('footer/logo.png'), class: 'logo') %>
    <div class="links d-flex">
        <%= link_to t('.about'), about_path, class:"px-3 " %>
        <%= link_to t('.faq'), faq_path, class:"px-3 " %>
        <%= link_to t('.terms'), terms_path, class:"px-3 " %>
        <%= link_to t('.careers'), careers_path, class:"px-3 " %>
        <%= link_to t('.cookie'), cookies_path, class:"px-3 " %>
        <%= link_to t('.contact'), '#', class:"px-3 " %>
    </div>
    <div class="social-links d-flex justify-content-around">
      <%= link_to "#", class: "mr-4", target: "_blank" do %>
        <%= image_tag(asset_path('footer/facebook.png'), class: 'icons') %>
      <% end %>
      <%= link_to "#", class: "mr-4", target: "_blank"  do %>
        <%= image_tag(asset_path('footer/instagram.png'), class: 'icons') %>
      <% end %>
      <%= link_to "#", target: "_blank" do %>
        <%= image_tag(asset_path('footer/linkedin.png'), class: 'icons') %>
      <% end %>
    </div>
  </div>
  <hr class="w-100">
  <div class="bot">
    <span><%= t('.legal') %></span>
  </div>
</footer>
