<footer class="footer d-flex align-items-center flex-column py-2">
  <% if I18n.locale == :fr %>
    <div class="logo pb-4"><strong>movido <small>in <%= link_to EmojiFlag.new('fr'), locale: :en %></small></strong></div>
  <% else %>
    <div class="logo pb-4"><strong>movido <small>in <%= link_to EmojiFlag.new('en'), locale: :fr %></small></strong></div>
  <% end %>
  <div class="links d-flex pb-3">
      <%= link_to t('.about'), '#', class:"px-3 text-center" %>
      <%= link_to t('.faq'), faq_path, class:"px-3 text-center" %>
      <%= link_to t('.terms'), terms_path, class:"px-3 text-center" %>
      <%= link_to t('.careers'), '#', class:"px-3 text-center" %>
      <%= link_to t('.cookie'), cookies_path, class:"px-3 text-center" %>
      <%= link_to t('.contact'), '#', class:"px-3 text-center" %>
  </div>
  <hr>
  <div class="bot d-flex justify-content-between w-100">
    <div class="copyright">
      <span><%= t('.legal') %></span>
    </div>
    <div class="social-links d-flex justify-content-around pr-5">
      <%= link_to "https://www.facebook.com/Movido-109886614229103/", class: "text-center mr-4", target: "_blank" do %>
        <i class='fab fa-facebook-f'></i>
      <% end %>
      <%= link_to "#", class: "text-center mr-4", target: "_blank"  do %>
        <i class='fab fa-twitter'></i>
      <% end %>
      <%= link_to "https://www.instagram.com/go_movido/", class: "text-center ", target: "_blank" do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  </div>
</footer>
