<footer class="footer d-flex align-items-center flex-column py-2">
  <div class="logo pb-4"><strong>movido</strong></div>
  <div class="links d-flex pb-3">
      <%= link_to t('footer.about'), '#', class:"px-3 text-center" %>
      <%= link_to t('footer.faq'), '#', class:"px-3 text-center" %>
      <%= link_to t('footer.terms'), terms_path, class:"px-3 text-center" %>
      <%= link_to t('footer.careers'), '#', class:"px-3 text-center" %>
      <%= link_to t('footer.cookie'), cookies_path, class:"px-3 text-center" %>
      <%= link_to t('footer.contact'), '#', class:"px-3 text-center" %>
  </div>
  <hr>
  <div class="bot d-flex justify-content-between w-100">
    <div class="copyright">
      <span><%= t('footer.legal') %></span>
    </div>
    <div class="social-links d-flex justify-content-around pr-5">
      <%= link_to "https://www.facebook.com/Movido-109886614229103/", class: "text-center mr-4", target: "_blank" do %>
        <i class='fab fa-facebook-f'></i>
      <% end %>
      <%= link_to "#", class: "text-center mr-4", target: "_blank"  do %>
        <i class='fab fa-twitter'></i>
      <% end %>
      <%= link_to "https://www.instagram.com/go_movido/", class: "text-center ", target: "_blank" do %>
        <i class='fab fa-instagram'></i>
      <% end %>
    </div>
  </div>
</footer>
