<footer class="bg-black footer p-4">
  <div class="top-part">
    <%= link_to root_path, class: 'd-block' do %>
      <%= image_tag(asset_path('footer/logo.png'), class: 'logo') %>
    <% end %>
    <span class="sas d-block">movido France SAS</span>
    <h6 class="address">608 Boulevard des Horizons, 06220 Vallauris  Company registered in France</h6>
    <div class="links d-flex justify-content-between">
      <div class="left">
        <%= link_to t('shared.footer.about'), about_path, class: 'link' %>
        <%= link_to 'Blog', '#', class: 'link' %>
        <%= link_to t('shared.footer.faq'), faq_path, class: 'link' %>
        <%= link_to t('shared.footer.careers'), careers_path, class: 'link' %>
      </div>
      <div class="right">
        <%= link_to t('shared.footer.terms'), terms_path, class: 'link' %>
        <%= link_to t('shared.footer.cookie'), cookies_path, class: 'link' %>
        <%= link_to t('shared.footer.contact'), contact_path, class: 'link' %>
      </div>
    </div>
    <span class="follow">Follow us on</span>
    <div class="social-links">
      <%= link_to "<i class='fa fa-facebook'></i>".html_safe,"https://www.facebook.com/GoMovido/", class: "mr-4", target: "_blank" %>
      <%= link_to "<i class='fa fa-instagram'></i>".html_safe, "https://www.instagram.com/go_movido/", class: "mr-4", target: "_blank" %>
      <%= link_to "<i class='fa fa-linkedin'></i>".html_safe, "https://www.linkedin.com/company/go-movido", target: "_blank" %>
    </div>
  </div>
  <hr class="w-100">
  <span class="legal">© 2020-2021, movido France SAS</span>
</footer>
