<div class="modal-menu-button d-none d-md-flex align-items-center" data-toggle="modal" data-controller="hamburger" data-action="click->hamburger#toggleMenu" data-hamburger-target="menuButton" data-hamburger-cross-class="cross">
  <div class="hamburger mr-1">
    <span id="h-1"></span>
    <span class="mt-1 float-right" id="h-2"></span>
  </div>
  <span class="text" data-hamburger-target="text">Menu</span>
  <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-actions d-flex justify-content-around mt-5 mb-4">
          <div class="modal-left">
            <span class="modal-title"><%= t('.quick_links') %></span>
            <div class="modal-product ">
              <%= link_to dashboard_index_path do %>
              <div class="modal-product-infos">
                <span><%= t('.dashboard_title') %></span>
                <p><%= t('.dashboard_subtitle') %></p>
              </div>
              <% end %>
            </div>
            <hr>
            <div class="modal-product ">
              <div class="modal-product-infos">
                <span>Eget bibendum rutrum</span>
                <p>Velit consectetur euismod massa</p>
              </div>
            </div>
            <hr>
            <div class="modal-product mb-1">
              <div class="modal-product-infos">
                <span>Eget enim</span>
                <p>Neque elit mus enim</p>
              </div>
            </div>
          </div>
          <div class="modal-right d-flex flex-column pl-5">
            <span class="modal-title"><%= t('.help_center') %></span>
            <div class="modal-product ">
              <div class="modal-product-infos">
                <span>Eget bibendum rutrum</span>
                <p>Velit consectetur euismod massa</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
