<div class="modal-menu-button d-none d-md-flex align-items-center" data-toggle="modal" data-controller="hamburger" data-action="click->hamburger#toggleMenu" data-hamburger-target="menuButton" data-hamburger-cross-class="cross">
  <div class="hamburger mr-1">
    <span id="h-1"></span>
    <span class="mt-1 float-right" id="h-2"></span>
  </div>
  <span class="text" data-hamburger-target="text">Menu</span>
  <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-actions d-flex justify-content-around mt-5 mb-4">
          <div class="modal-left">
            <%= link_to dashboard_index_path do %>
              <div class="modal-product mt-0 ">
                <div class="modal-product-infos">
                  <span><%= t('.dashboard_title') %></span>
                  <p><%= t('.dashboard_subtitle') %></p>
                </div>
              </div>
            <% end %>
            <hr>
            <%= link_to user_path(current_user) do %>
              <div class="modal-product ">
                <div class="modal-product-infos">
                  <span><%= t('.subscriptions_title') %></span>
                  <p><%= t('.subscriptions_subtitle') %></p>
                </div>
              </div>
            <% end %>
            <hr>
            <%= link_to user_path(current_user, active_tab: 'profile') do %>
              <div class="modal-product ">
                <div class="modal-product-infos">
                  <span><%= t('.profile_title') %></span>
                  <p><%= t('.profile_subtitle') %></p>
                </div>
              </div>
            <% end %>
            <hr>
            <%= link_to user_path(current_user, active_tab: 'addresses') do %>
              <div class="modal-product mb-1">
                <div class="modal-product-infos">
                  <span><%= t('.addresses_title') %></span>
                  <p><%= t('.addresses_subtitle') %></p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modal-right pl-5">
            <%= link_to dashboard_index_path do %>
            <div class="modal-product mt-0 ">
              <div class="modal-product-infos">
                <span><%= t('.contact_title') %></span>
                <p><%= t('.contact_subtitle') %></p>
              </div>
            </div>
            <% end %>
            <hr>
            <%= link_to dashboard_index_path do %>
              <div class="modal-product mt-0 ">
                <div class="modal-product-infos">
                  <span><%= t('.about_title') %></span>
                  <p><%= t('.about_subtitle') %></p>
                </div>
              </div>
            <% end %>
            <hr>
            <%= link_to dashboard_index_path do %>
              <div class="modal-product mt-0 ">
                <div class="modal-product-infos">
                  <span><%= t('.support_title') %></span>
                  <p><%= t('.support_subtitle') %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
