<div class="navbar navbar-expand-sm navbar-light navbar-movido" data-controller="navbar" data-navbar-target="navbar" data-action="scroll@window->navbar#onScroll" data-navbar-fixed-class="fixed-nav">
  <%= link_to root_path, class: "navbar-brand mr-0" do %>
    <%= image_tag("navbar/logo") %>
  <% end %>

  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown services" id="servicesDropdown">
        <span class="nav-link d-flex" data-toggle="dropdown" data-navbar-target="services">Services <i class="fas fa-sort-down ml-2"></i></span>
        <div class="dropdown-menu pb-0" aria-labelledby="servicesDropdown">
          <div class= "d-flex align-items-center dropdown-item py-1"><%= image_tag ('navbar/housing') %><%= link_to t('.services.housing'), services_real_estate_path %></div>
          <div class= "d-flex align-items-center dropdown-item py-1"><%= image_tag ('navbar/bank') %><%= link_to t('.services.bank'), services_bank_path %></div>
          <div class= "d-flex align-items-center dropdown-item py-1"><%= image_tag ('navbar/mobile') %><%= link_to t('.services.mobile'), services_mobile_path %></div>
          <div class= "d-flex align-items-center dropdown-item py-1 last"><%= image_tag ('navbar/wifi') %><%= link_to t('.services.wifi'), services_wifi_path %></div>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to t('.about_us'), about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('.how_it_works'), how_it_works_path, class: "nav-link" %>
      </li>
      <% if I18n.locale == :fr %>
        <li class="nav-item dropdown language" id="languageDropdown">
          <span class="nav-link d-flex" data-toggle="dropdown" data-navbar-target="language">FR <i class="fas fa-sort-down ml-2"></i></span>
          <div class="dropdown-menu pb-0" aria-labelledby="languageDropdown">
            <%= link_to "EN", locale: :en %>
          </div>
        </li>
      <% else %>
        <li class="nav-item dropdown language" id="languageDropdown">
          <span class="nav-link d-flex" data-toggle="dropdown" data-navbar-target="language">EN <i class="fas fa-sort-down ml-2"></i></span>
          <div class="dropdown-menu pb-0" aria-labelledby="languageDropdown">
            <%= link_to "FR", locale: :fr %>
          </div>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to t('.login'), new_user_session_path, class: "nav-link", id: 'login' %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class:"btn-navbar d-flex align-items-center" do %>
          <span><%= t('.get_started') %></span><i class="fas fa-arrow-right ml-2"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
