<div class="navbar navbar-expand-sm navbar-light navbar-movido" data-controller="navbar" data-target="navbar.navbar" data-action="scroll@window->navbar#onScroll">
  <%= link_to root_path, class: "navbar-brand mr-0" do %>
    <%= image_tag("logo.svg") %>
  <% end %>

  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to t('navbar.links.about_us'), "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('navbar.links.how_it_works'), "#how-it-works", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('navbar.links.login'), new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to new_user_registration_path, class:"btn-navbar d-flex align-items-center justify-content-between" do %>
          <span><%= t('navbar.links.get_started') %></span><%= image_tag(asset_path('btn-arrow-right.png')) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
