<div class="navbar navbar-expand-md navbar-light navbar-movido" data-controller="navbar" data-navbar-target="navbar" data-action="scroll@window->navbar#onScroll" data-navbar-fixed-class="fixed-nav">
  <%= link_to root_path, class: "navbar-brand me-0" do %>
    <%= image_tag(asset_path("logos/movido-black.svg")) %>
  <% end %>
  <div id="hamburger" type="button" data-bs-toggle="modal" data-bs-target="#menuModal">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <% if controller_name == 'pages' %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Starter pack', pricing_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", "https://blog.go-movido.com", target: 'blank', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('shared.navbar_visitor.about_us'), about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to (current_user ? 'Dashboard' : 'Login'), dashboard_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Get Started for free', onboarding_starter_pack_path, class: 'btn-main' %>
        </li>
      </ul>
    </div>
  <% elsif current_user %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Log out', destroy_user_session_path, method: 'delete', class:'navbar-link' %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
