<div class="col-md-6 offset-md-3 mb-2">
  <div class="form-base">
    <div class="simple_form d-flex flex-column">
      <div class="mb-2">
        <div class="name-fields d-flex justify-content-between">
          <div class="form-group">
            <label><%= t('activerecord.attributes.company.name') %></label>
            <input class="form-control" name="product_company_name" disabled value="<%= subscription.product.company.name %>"></input>
            <i class="fas fa-check check green"></i>
          </div>
          <div class="form-group">
            <label><%= t('activerecord.attributes.product.name') %></label>
            <input class="form-control" name="product_name" disabled value="<%= subscription.product.name %>"></input>
            <i class="fas fa-check check green"></i>
          </div>
        </div>
        <% if subscription.sim %>
          <div class="form-group">
            <label><%= t('activerecord.attributes.subscription.sim') %></label>
            <input class="form-control" name="subscription_sim" disabled value="<%= subscription.sim %>"></input>
            <i class="fas fa-check check green"></i>
          </div>
        <% end %>
        <div class="name-fields d-flex justify-content-between">
          <div class="form-group">
            <label><%= t('activerecord.attributes.user.first_name') %></label>
            <input class="form-control" name="user_first_name" disabled value="<%= subscription.address.user.first_name %>">
            </input>
            <i class="fas fa-check check green"></i>
          </div>
          <div class="form-group">
            <label><%= t('activerecord.attributes.user.last_name') %></label>
            <input class="form-control" name="user_last_name" disabled value="<%= subscription.address.user.last_name %>">
            </input>
            <i class="fas fa-check check green"></i>
          </div>
        </div>
        <div class="form-group">
          <label><%= t('activerecord.attributes.user.email') %></label>
          <input class="form-control" name="user_email" disabled value="<%= subscription.address.user.email %>">
          </input>
          <i class="fas fa-check check green"></i>
        </div>
        <% if !subscription.product_is_mobile? %>
          <div class="form-group">
            <label><%= t('activerecord.attributes.address.street') %></label>
            <input class="form-control" name="address_street" disabled value="<%= subscription.address.street %>">
            </input>
            <i class="fas fa-check check green"></i>
          </div>
        <% end %>
        <div class="form-group">
          <label><%= t('activerecord.attributes.billing.address') %></label>
          <input class="form-control" name="billing_address" disabled value="<%= subscription.billing.address %>">
          </input>
          <i class="fas fa-check check green"></i>
        </div>
        <% if subscription.delivery_address %>
          <div class="form-group">
            <label><%= t('activerecord.attributes.subscription.delivery_address') %></label>
            <input class="form-control" name="delivery_address" disabled value="<%= subscription.delivery_address %>">
            </input>
            <i class="fas fa-check check green"></i>
          </div>
        <% end %>
        <% if subscription.product_is_uk? %>
          <div class="form-group">
            <label><%= t('activerecord.attributes.billing.holder_name') %></label>
            <input class="form-control" name="billing_holder_name" disabled value="<%= subscription.billing.holder_name %>">
            </input>
            <i class="fas fa-check check green"></i>
          </div>
          <div class="form-group">
            <label><%= t('activerecord.attributes.billing.sort_code') %></label>
            <input class="form-control" name="billing_sort_code" disabled value="<%= subscription.billing.sort_code %>">
            </input>
            <i class="fas fa-check check green"></i>
          </div>
          <div class="name-fields d-flex justify-content-between">
            <div class="form-group">
              <label><%= t('activerecord.attributes.billing.account_number') %></label>
              <input class="form-control" name="billing_account_number" disabled value="<%= subscription.billing.account_number %>">
              </input>
              <i class="fas fa-check check green"></i>
            </div>
            <div class="form-group">
              <label><%= t('activerecord.attributes.billing.bank') %></label>
              <input class="form-control" name="billing_bank" disabled value="<%= subscription.billing.bank %>">
              </input>
            </div>
          </div>
        <% else %>
          <div class="form-group">
            <label><%= t('activerecord.attributes.billing.iban') %></label>
            <input class="form-control" name="billing_iban" disabled value="<%= subscription.billing.iban_prettify %>">
            </input>
            <i class="fas fa-check check green"></i>
          </div>
          <div class="name-fields d-flex justify-content-between">
            <div class="form-group">
              <label><%= t('activerecord.attributes.billing.bic') %></label>
              <input class="form-control" name="billing_bic" disabled value="<%= subscription.billing.bic %>">
              </input>
              <i class="fas fa-check check green"></i>
            </div>
            <div class="form-group">
              <label><%= t('activerecord.attributes.billing.bank') %></label>
              <input class="form-control" name="billing_bank" disabled value="<%= subscription.billing.bank %>">
              </input>
              <i class="fas fa-check check green"></i>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <label><%= t('activerecord.attributes.product.price') %></label>
          <input class="form-control" name="product_price" disabled value="<%= subscription.product.format_price %>/ <%= t('subscriptions.result.months') %>">
          </input>
          <i class="fas fa-check check green"></i>
        </div>
        <div class="coupon-input">
          <%= render 'subscriptions/desktop/coupon', subscription: @subscription, response: @response %>
        </div>
      </div>
    </div>
  </div>
</div>
