<div class="container subscription-container" data-controller="wifi-subscription">
  <figure class="big-blue-bubble position-absolute "></figure>
  <figure class="small-blue-bubble position-absolute"></figure>
  <figure class="small-yellow-bubble position-absolute"></figure>
  <figure class="big-purple-bubble position-fixed"></figure>
  <div class="row">
    <div class="col-md-12">
      <%= render 'subscriptions/steps', product: @subscription.product, current_step: @subscription.current_step(controller.controller_name), title: t('addresses.edit.title'), subtitle: t('addresses.edit.subtitle').html_safe, total_steps: @subscription.product.total_steps, congratulations: false %>
    </div>
    <div class="col-md-6 offset-md-3 mb-5">
      <div class="form-base p-1">
        <%= simple_form_for [@subscription], :url => subscription_address_path, method: :put, html: {class: 'mt-2'} do |f| %>
          <%= f.simple_fields_for :address  do |s| %>
            <%= s.hidden_field :id, value: current_user.active_address.id%>
            <div class="mb-2">
              <%= s.input :street, required: true, readonly: true, hint: t('addresses.edit.form.hint.address', href: link_to(t("addresses.edit.form.hint.profile_link").html_safe, user_path(current_user, active_tab: 'addresses'))).html_safe, input_html: {value: current_user.active_address.street, class:'form-control'} %>
              <div class="name-fields d-flex justify-content-between">
                <%= s.input :floor, class:'form-control' %>
                <%= s.input :building, label: t('addresses.edit.form.label.building'), class:'form-control' %>
              </div>
              <div class="name-fields d-flex justify-content-between">
                <%= s.input :stairs,  class:'form-control' %>
                <%= s.input :door, class:'form-control' %>
              </div>
            </div>
            <div class="mb-2">
              <%= s.input :gate_code, class:'form-control' %>
            </div>
          <% end %>
          <hr>
          <%= f.input :delivery_address, label: t('addresses.edit.form.label.delivery_address'), class:'form-control', input_html: { data: {wifi_subscription_target: 'delivery', action: 'keydown->wifi-subscription#cleanCountryCode', country: @subscription.product.country.code, street: @subscription.delivery_address}, placeholder: t('addresses.edit.form.placeholder', placeholder: t('activerecord.attributes.subscription.delivery_address')).capitalize, value: (@subscription.delivery_address ? @subscription.delivery_address : current_user.active_address.street)} %>
          <%= f.hidden_field :algolia_country_code, id: 'algolia_country_code', value: @country_code %>
          <%= f.input :contact_phone,
                required: true,
                input_html: { data: { wifi_subscription_target: 'phone' }, placeholder: t('addresses.edit.form.placeholder', placeholder: t('activerecord.attributes.subscription.contact_phone')).capitalize } %>
          <span class="mandatory"><%= t('billings.new.mandatory') %></span>
          <div class="actions d-flex flex-column mt-4">
            <%= f.button :submit, t('addresses.edit.form.button.next'), class: 'btn-main mb-4'%>
            <%= link_to t('addresses.edit.form.button.back'), wifis_path, class: 'btn-exit' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
