<div class="container registration-address-container d-flex flex-column justify-content-center align-items-center">
  <div class="small-yellow-bubble position-absolute"></div>
  <div class="big-blue-bubble position-absolute"></div>
  <div class="row">
    <div class="col-12">
      <h1 class="title mb-4"><%= image_tag(asset_path('addresses/location.png'), class:"picto") %> <%= t('addresses.new.title') %></h1>
      <div data-controller="registration" data-registration-countries-value="<%= Country.all.map{ |country| country.code.upcase }.to_json %>" class="form-base" data-registration-hide-class="d-none">
        <div class="switch_box box_1 d-flex align-items-center my-4">
          <input data-action='click->registration#toggleInput' type="checkbox" class="switch_1">
          <p class="mb-0 ml-4"><%= t('addresses.new.form.switch.no_address') %></p>
        </div>
        <%= simple_form_for @address, url: user_addresses_path, method: :post, data: {registration_target: 'form'} do |f| %>
        <div data-registration-target="streetWrapper">
          <%= f.input :street,
          label: t('addresses.new.form.label.street'),
          placeholder: t('addresses.new.form.placeholder.street'),
          input_html: { data: {
          registration_target: 'streetInput', action: 'keydown->registration#cleanCountryCode'
          }}%>
          <%= f.hidden_field :zipcode, id:'address_zipcode' %>
          <%= f.hidden_field :city, id:'address_city' %>
          <%= f.hidden_field :algolia_country_code, id:'algolia_country_code' %>
        </div>
        <div class="d-none" data-registration-target="countryWrapper">
          <%= f.input :moving_country, collection: Country.all.map {|country| [t("country.#{country.code}"), country.code]}, prompt: t('addresses.new.form.prompt.moving_country'),label: t('addresses.new.form.label.moving_country'), input_html: {class: 'custom-select', data: {registration_target: 'countryInput'}} %>
        </div>
        <%= f.button :submit, t('addresses.new.form.cta'), class: 'btn-main w-100' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
