<div class="carts-new-container" data-controller="cart">
  <%= simple_form_for order, url: new_cart_path(pack: pack), data: {reflex: "submit->CartReflex#create", reflex_serialize_form: true  } do |f| %>
  <%= f.hidden_field :pack, value: pack %>
  <div class="product-cards-wrapper">
    <%= f.collection_check_boxes(:service_ids, Pack.find_by(name: pack).services.includes([:category]), :id, :name, include_hidden: false) do |service| %>
      <% product = service.object.product(house.country) %>
      <div class="product-card <%= order.products.include?(product) ? 'active' : '' %>">
        <%= service.label { service.check_box(checked: order.products.include?(product), data: {action: 'change->cart#updatePrice', activation_price: Service.find_by(name: service.text).activation_price(house)})} %>
        <h3 class="name"><%= product.name %></h3>
        <p class="description"><%= product.description %></p>
        <% product.product_details.each do |product_detail| %>
          <p class="detail"><i class="far fa-check"></i><%= product_detail.content %></p>
        <% end %>
        <div class="bottom-part flex-column">
          <div class="top">
            <div class="left">
              <i class="far fa-plus" id="check"></i>
              <span class="price"><span><%= product.country.currency_symbol %><%= number_to_currency(product.activation_price, :unit => '') %></span> </span>
            </div>
            <% if product.undiscounted_price %>
              <div class="center">
                <span class="price"><strike><%= product.country.currency_symbol %><%= number_to_currency(product.undiscounted_price, :unit => '') %></strike></span>
              </div>
            <% end %>
            <%= image_tag(asset_path(product.company.logo_url)) %>
          </div>
          <div class="bot">
            <% if product.category.name != 'transportation' %>
              <% rand = rand(1...5) %>
              <p class="detail red">only <%= rand %> offer<%= 's' if rand > 1 %> left at this price.</p>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
    <h2 class="total-price"><%= house.country.currency_symbol %>
      <span data-cart-target="activationPrice" data-value=<%= order.total_activation_amount %>>
        <%= number_to_currency(order.total_amount_display, :unit => '') %>

    </span>
  </h2>
    <div class="invalid-feedback d-block"><%= f.error(:base) %></div>
  </div>
  <%= simple_fields_for order do |p| %>
    <label>Do you have a PROMOCODE?</label>
    <%= p.input :affiliate_link, label: false, placeholder: 'PROMOCODE', readonly: order.affiliate_link.present? ,input_html: { class: 'promocode', data: { reflex_root: ".order_affiliate_link", action: "keyup->animate#checkPromoCode", animate_target: "promocodeInput"}} %>
  <% end %>
  <div class="p-2">
    <div class="d-flex">
      <div>
        <%= f.check_box :terms, label: false, class: 'me-2 custom-checkbox' %>
      </div>
      <label for="marketing">I accept the <%= link_to 'Terms and Conditions', terms_path, class:'purple', target: 'blank'%> of movido</label>
    </div>
    <div class="invalid-feedback d-block"><%= f.error(:terms) %></div>
    <span class="legals">By clicking 'Continue', you accept to receive selected marketing communication. movido will process your personal data according to our <%= link_to 'Privacy Policy', privacy_path, class: 'link purple' %></span>
  </div>

  <hr>
  <%= f.button :submit, 'Continue' , class: 'btn-main mb-2' %>
  <%= link_to 'Back', new_house_path(pack: pack), class:'btn-main-white mb-5' %>
  <% end %>
</div>
