
<div class="subscription" data-controller='stripe-dashboard' data-stripe-dashboard-target="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-6">
      <div class="p-3">
        <div class="total-amount text-center mb-3">
          <h3>#<%= current_user.first_name[0].upcase %><%= current_user.last_name[0].upcase %><%= order.id %></h3>
          <h1 data-stripe-dashboard-target="subscriptionTotalPrice" class="price"><%= number_to_currency(ongoing_subscription['amount_due'] / 100, :unit => '') %><%= order.currency_symbol %></h1>
          <span class="current-period">Current invoice</span><br/>
          <span class="period">From <%= Time.at(ongoing_subscription['subscription']['current_period_start']).strftime("%d/%m/%Y") %> to <%= Time.at(ongoing_subscription['subscription']['current_period_end']).strftime("%d/%m/%Y") %></span>
        </div>
        <span class="title-secondary purple">Active services</span>
        <% if subscription_items.blank? %>
          <span class='red'>No active services</span>
        <% else %>
          <div class="active-services mb-4 mt-2">
            <% subscription_items.each do |service|%>
              <% plan = Plan.find_by(stripe_id: service['plan']['id']) %>
              <%= link_to dashboard_plan_path(plan.id) do %>
                <div class="subscription-plan col-12">
                  <div class="d-flex justify-content-between">
                    <h3><%= plan.product.name.capitalize %></h3>
                    <span class="price-secondary"><%= number_to_currency(plan.price / 100, :unit => '') %><%= order.currency_symbol %></span>
                  </div>
                  <span class="period">Subscribed at <%= plan.created_at.strftime("%d/%m/%Y") %></span>
                </div>
              <% end %>
              <hr class="purple">
            <% end %>
          </div>
        <% end %>
        <span class="title-secondary purple">History</span>
        <div class="history mb-4 mt-2">
          <% subscriptions.each do |subscription| %>
            <div class="subscription-history col-12">
              <div class="d-flex justify-content-between">
                <h3>#<%= current_user.first_name[0].upcase %><%= current_user.last_name[0].upcase %><%= order.id %></h3><br/>
                <span class="price-secondary"><%= number_to_currency(ongoing_subscription['amount_due'] / 100, :unit => '') %><%= order.currency_symbol %></span>
              </div>
              <span class="period">From <%= Time.at(ongoing_subscription['subscription']['current_period_start']).strftime("%d/%m/%Y") %> to <%= Time.at(ongoing_subscription['subscription']['current_period_end']).strftime("%d/%m/%Y") %></span>
            </div>
          <% end %>
          <hr class="purple">
        </div>
        <span class="title-secondary purple">Next invoice</span><br>
        <div class="next-period d-flex justify-content-between align-items-center mt-2 mb-3">
          <span class="period">Available starting <%= Time.at(ongoing_subscription['subscription']['current_period_end']).strftime("%d/%m/%Y") %></span>
          <span class="price-secondary"><%= number_to_currency(order.total_subscription_amount.to_f / 100, :unit => '') %><%= order.currency_symbol %></span>
        </div>
      </div>
    </div>
  </div>
</div>
