<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center" id="<%= heading %>">
    <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#<%= collapse %>" aria-expanded="true" aria-controls="<%= collapse %>">
        <%= question %>
      </button>
    </h5>
    <i class="fas fa-plus"></i>
  </div>
  <div id="<%= collapse %>" class="collapse" aria-labelledby="<%= heading %>" data-parent="#accordion">
    <div class="card-body">
      A: movido bundles all services you need in your new city on one platform. You sign up once and can start selecting your new bank account, local phone number, broadband, gym and many more services you need right away. We synchronize these service offers and prices continuously with our partners so that you always subscribe to the latest offers in the market. In your profile section, you can afterwards conveniently manage your contracts.
    </div>
  </div>
</div>
