<% content_for :meta_title, "movido | Meet the international movido team" %>
<% content_for :meta_description, "We are a diverse group of people. However, all of us are dedicated to creating a smart marketplace and wallet for everyone’s admin contracts" %>
<div class="container about-container mb-5">
  <div class="big-blue-bubble position-absolute"></div>
  <div class="big-purple-bubble position-fixed"></div>
  <div class="small-yellow-bubble position-absolute"></div>
  <h2 class="text-center"><%= t('.title') %></h2>
  <p class="mb-4"><%= t('.part_1') %></p>
  <p class="mb-4"><%= t('.part_2') %></p>
  <p class="mb-4"><%= t('.part_3') %></p>
  <p class="mb-5"><%= t('.part_4') %></p>
  <h2 class="text-center mb-5"><%= t('.our_team') %></h2>
  <div class="row mb-4">
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/alice.png'), class: 'mb-3') %>
      <h5>Alice Strecker</h5>
      <h6><%= t('.alice.role') %></h6>
    </div>
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/jordan.png'), class: 'mb-3') %>
      <h5>Jordan Demmouche</h5>
      <h6><%= t('.jordan.role') %></h6>
    </div>
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/paul.png'), class: 'mb-3') %>
      <h5>Paul Sipassteuh</h5>
      <h6>Marketing</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/tim.png'), class: 'mb-3') %>
      <h5>Tim Grobshäuser</h5>
      <h6><%= t('.tim.role') %></h6>
    </div>
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/vitaliy.png'), class: 'mb-3') %>
      <h5>Vitaliy Didukh</h5>
      <h6>Designer</h6>
    </div>
    <div class="col-md-3 offset-md-1 text-center text-md-left">
      <%= image_tag(asset_path('pages/about/yoni.png'), class: 'mb-3') %>
      <h5>Yoni Touboul</h5>
      <h6><%= t('.yoni.role') %></h6>
    </div>
  </div>
</div>
