<div class="flow-container dashboard-container">
  <div class="banner-purple">
    <div class="container">
      <div class="row justify-content-around">
        <h2 class="title">Your orders</h2>
        <div class="col-xs-12 col-lg-4">
          <div class="checkboxes-wrapper">
            <%= image_tag(asset_path('components/checkboxes/cards.png')) %>
            <div class="checkboxes">
              <h2>Starter Pack</h2>
              <p>The best offers to get you started</p>
              <ul>
                <% @orders[-1].cart.items.includes([:product]).each do |item| %>
                  <li><label><%= item.product.name %><i class="fas fa-check purple"></i></label></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="tracking text-center mb-3">
            <p class='title'>Your tracking link <i class="fas fa-truck"></i></p>
            <p class='tracking-id'><%= @orders[-1].shipping.tracking_id || 'Processing...' %></p>
              <p class="tracking-link m-0">You can track your order <%= link_to 'here', "https://www.laposte.fr/outils/track-a-parcel", class:'purple', target: 'blank' %></p>
          </div>
          <p class="white">Need another Starter Pack or continue where you left? </p>
          <%= link_to 'Click Here', new_house_path, class:'btn-main-white w-100' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-xs-12 col-lg-4">
        <div class="ticks-card mb-5">
          <%= image_tag(asset_path('components/coming-soon-banner/card.png'), class:'top-img') %>
          <div class="content">
            <h3 class="name black">Settle in Pack</h3>
            <p>Customized offers to get you settled after arrival</p>
            <div class="product-details">
              <p class="detail d-flex align-items-center justify-content-between">WiFi at home
               <i class="fas fa-check purple"></i></p>
              <p class="detail d-flex align-items-center justify-content-between">Gas, water, electricity at home
               <i class="fas fa-check purple"></i></p>
              <p class="detail d-flex align-items-center justify-content-between">Mobile phone contract <i class="fas fa-check purple"></i></p>
              <p class="detail d-flex align-items-center justify-content-between">Housing insurance
               <i class="fas fa-check purple"></i></p>
              <p class="detail d-flex align-items-center justify-content-between">Guarantor
               <i class="fas fa-check purple"></i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 arrival">
        <h3 class="purple">Coming soon</h3>
        <p>Looking for WiFi, utilities, insurance, and more? Customize your subscription bundle in one simple Settle in Pack - all in 1 monthly bill with the option to cancel anytime. </p>
        <p class="purple">Pre-register now and benefit from exclusive discounts!</p>
        <% if Lead.find_by(email: current_user.email, campaign_type: 'pre_register_settle_in') %>
          <span class="btn-main mb-5 w-100" id="pre-registered">You are already pre-registered</span>
        <% else %>
          <span class="btn-main mb-5 w-100" data-action="click->lead#submit" data-controller="lead" data-lead-target="button">Pre-register for the Settle in Pack</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
