<div class="home-container static-container" data-controller="lead">
  <section class="banner container">
    <div class="row align-items-center">
      <div class="col-md-5 d-flex align-items-center">
        <div class="content">
          <h1>Making moving simple.</h1>
          <p>Housing, Local SIM, transportation, airport pick-up and more - everything you need before your arrive</p>
          <%= image_tag(asset_path('components/homepage/iphone-banner-no-bg.png'), class:'d-block d-md-none') %>
          <%= link_to 'Get started for free', onboarding_path, class: 'btn-main mb-3 mb-md-0 mt-md-5' %>
          <%= image_tag(asset_path('components/homepage/trustpilot.png'), class:'d-block d-md-none w-100 mb-5 trustpilot' ) %>
        </div>
      </div>
      <div class="col-md-7 d-none d-md-block text-end">
        <%= image_tag(asset_path('components/homepage/iphone-banner-no-bg.png')) %>
      </div>
    </div>
  </section>

  <%= render 'pages/home/why' %>
  <%= render 'pages/home/pricing' %>
  <%= render 'pages/home/partners' %>
  <%= render 'pages/home/contact_banner_mobile' %>
  <%= render 'pages/home/testimonials_mobile' %>
  <%= render 'pages/home/testimonials_desktop' %>
  <%= render 'pages/home/contact_banner_desktop' %>
</div>
