<div class="home-container static-container">
  <%= render 'pages/home/banner_calculator' %>
  <%= render 'pages/home/why' %>
  <%= render 'pages/home/pricing' %>
  <%= render 'pages/home/partners' %>
  <%= render 'pages/home/contact_banner_mobile' %>
  <%= render 'pages/home/testimonials_mobile' %>
  <%= render 'pages/home/testimonials_desktop' %>
  <%= render 'pages/home/contact_banner_desktop' %>
</div>
