<div class="home-container" data-controller="lead">
  <%= render 'pages/home/banner' %>
  <%= render 'pages/home/why_desktop' %>
  <%= render 'pages/home/why_mobile' %>
  <%= render 'pages/home/mid_banner_desktop' %>
  <%= render 'pages/home/mid_banner_mobile' %>
  <%= render 'pages/home/partners_mobile' %>
  <%= render 'pages/home/contact_banner_mobile' %>
  <%= render 'pages/home/testimonials_mobile' %>
  <%= render 'pages/home/testimonials_desktop' %>
  <%= render 'pages/home/contact_banner_desktop' %>
</div>
