<div class='home-container static-container'>
  <section class="banner container">
    <%= image_tag(asset_path('components/homepage/logos/Movido-logo-circle.png'), class:'position-absolute w-100 z-0') %>
    <div class="row">
      <div class="col-md-5 z-1 mt-4">
        <div class="content z-1">
          <h1 class="white">Get ready for your new home with</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center mt-5">
    <h3>Need <strong class="purple">Transportation</strong>?</h3>
    <p>Get the best offers in 5 minutes. Stress-free and without fees.</p>
    <div class="col-8 mx-auto">
      <%= link_to 'Get started now', onboarding_starter_pack_path, class: 'btn-main mb-4 mb-md-0 mt-md-5 mx-auto position-relative z-0' %>
    </div>
    <%= image_tag(asset_path('components/homepage/trustpilot.png'), class:'d-block d-md-none w-75 mb-5 mx-auto trustpilot' ) %>
  </div>

  <section class="collab container">
    <div class="text-center">
      <h3 class="purple">In collaboration with</h3>
        <%= render 'pages/home/collab_carousel' %>
    </div>
  </section>
  <section class="moving container mt-5">
    <h2 class="purple">You're moving to France or the UK?</h2>
    <p>You’re in the right place! With Movido, make your move abroad as easy as making a cup of tea.</p>
    <%= render 'pages/home/advantages_cards' %>
  </section>
  <%= render 'pages/home/offers'%>
  <section class="faq container text-center">
    <h3>FAQs</h3>
      <%# render FAQ cards %>
  </section>
  <%= render 'pages/home/contact_banner_mobile' %>
  <%= render 'pages/home/contact_banner_desktop' %>
  <section class="testimonials container">
    <h3 class="purple">Don't just take our word for it...</h3>
      <%# render cards carousel %>
  </section>
</div>