<div class='home static-container'>
  <%= render 'pages/home/banner' %>
  <%= render 'pages/home/collab_carousel', logos: @logos %>
  <%= render 'pages/home/advantages_cards' %>
  <%= render 'pages/home/offers'%>
  <%= render 'shared/components/faqs', faqs: @faqs %>
  <%= render 'pages/home/contact_banner' %>
</div>
