<div class='home static-container' data-controller="logo">
  <section>
    <div class="banner container-fluid" style="background-image: url(<%= asset_path('components/homepage/bg_top_home.png') %>);">
      <%= image_tag(asset_path('components/homepage/movido_homepage_animation_responsive.svg'), class:"animation position-absolute")%>
      <div class="row">
        <div class="mt-4">
          <div class="content text-center">
            <h1 class="white">Get ready for your new home with</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="text-center mt-5">
          <h3>Need <strong class="purple" id="need"></strong>?</h3>
          <p>Get the best offers in 5 minutes. Stress-free and without fees.</p>
          <div class="col-8 mx-auto">
            <%= link_to 'Get started now', onboarding_starter_pack_path, class: 'btn-main mb-4 mb-md-0 mt-md-5 mx-auto position-relative z-0' %>
          </div>
          <%= image_tag(asset_path('components/homepage/trustpilot.png'), class:'d-block d-md-none w-75 mb-5 mx-auto trustpilot' ) %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'pages/home/collab_carousel', logos: @logos %>
  <%= render 'pages/home/advantages_cards' %>
  <%= render 'pages/home/offers'%>
  <%= render 'shared/components/faqs', faqs: @faqs %>
  <%= render 'pages/home/contact_banner_mobile' %>
</div>
