<div class="how-it-works-container static-container">
  <div class="container">
      <h1>How it works</h1>
      <div class="row align-items-center">
      <div class="picture col-md-6 text-center">
        <%= image_tag(asset_path('pages/how-it-works/iphone_1.png'), class:'iphone-illustration') %>
      </div>
      <div class="content col-md-6 d-flex flex-column justify-content-center">
        <h3 class='title'>Tell us what you need and get your customized bundle</h3>
        <p class='description'>We start by asking you a few questions to better understand your current situation. Based on your answers, we then suggest you a customized bundle of contracts.  We partner with the most reputable providers for each contract to guarantee you get the best bundle at the best price.</p>
        <%=  link_to 'Get Started', dashboard_path, class:'link purple' %>
      </div>
    </div>
    <div class="row">
      <div class="picture col-md-6 text-center order-md-2">
        <%= image_tag(asset_path('pages/how-it-works/iphone_2.png'), class:'iphone-illustration') %>
      </div>
      <div class="content col-md-6 d-flex flex-column justify-content-center order-md-1">
        <h3 class='title'>What’s included in the subscription bundle?</h3>
        <p class='description'>Our customized bundles cover all the contracts you might need in your new hometown - from WiFi, phone, utilities to insurance, public transportation card or even a guarantor for your flat. Just tell us what you need and we will get you the right bundle.</p>
        <%=  link_to 'Get Started', dashboard_path, class:'link purple' %>
      </div>
    </div>
    <div class="row">
      <div class="picture col-md-6 text-center">
        <%= image_tag(asset_path('pages/how-it-works/iphone_3.png'), class:'iphone-illustration') %>
      </div>
      <div class="content col-md-6 d-flex flex-column justify-content-center">
        <h3 class='title'>All in 1 bill each month and cancel anytime</h3>
        <p class='description'>Instead of taking out several contracts on different websites and paying various providers, get all you need in one simple bill each month. And when you move out? Just let us know and we cancel your subscription.</p>
        <%=  link_to 'Get Started', dashboard_path, class:'link purple' %>
      </div>
    </div>
    <h3 class="title py-2">Understand the pricing</h3>
    <p class="description"><span class="purple">movido is 100% free! </span>We do not charge you any fees for the offers you choose or for our service. The costs that you see are 100% transparent and reflect the actual retail prices of our partners.</p>
  </div>
  <div class="container-fluid p-0">
    <div class="book-a-call-banner d-flex align-items-center px-3 px-md-0">
      <p><strong>Any questions?</strong> Book a call now and speak to us.</p>
      <%= link_to 'Book a call now', 'https://calendly.com/alice_movido/movido-introcall', class:'btn-main-white' %>
    </div>
  </div>
</div>
