<div class="static-container pricing-container container">
  <h1>What bundles does Movido offer?</h1>
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <p><span class="purple">Starter Pack:</span> customizable bundle shipped to your current home before you move.</p>
    </div>
    <div class="col-12 col-lg-6">
      <p><span class="purple">Settle in Pack:</span> customizable bundle which includes all the subscriptions you need in your new home in one monthly bill.</p>
    </div>
    <div class="col-12">
      <p>Both Pack are available in the UK and in France. </p>
    </div>
  </div>
  <div class="mt-5 cards">
    <div class="row">
      <%= render 'shared/starter_pack_card' %>
      <%= render 'shared/settle_in_pack_card' %>
    </div>
    <div class="details">
      <%= link_to 'See more details', pricing_path, class: 'link white' %>
    </div>
  </div>
  <div class="mb-5 d-none d-md-block">
    <div class="row">
      <div class="col-12 mb-4">
        <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">France</th>
              <th scope="col">United Kingdom</th>
            </tr>
          </thead>
          <tbody>
            <tr class="custom-tr purple-bg">
              <td data-label="Product" class="text-left custom-l-radius">Local SIM Card</td>
              <td data-label="Due Date" class="d-none d-sm-block"></td>
              <td data-label="France">€39.90</td>
              <td data-label="United Kingdom" class="custom-r-radius">£1</td>
            </tr>
            <tr class="custom-tr">
              <td scope="row" data-label="Product" class="text-left">Public transportation</td>
              <td data-label="Due Date" class="d-none d-sm-block"></td>
              <td data-label="France">€16.90</td>
              <td data-label="United Kingdom">£15</td>
            </tr>
            <tr class="custom-tr purple-bg">
              <td scope="row" data-label="Product" class="text-left custom-l-radius">Airport Pickup</td>
              <td data-label="Due Date" class="d-none d-sm-block"></td>
              <td data-label="France">€55.00</td>
              <td data-label="United Kingdom" class="custom-r-radius">£60</td>
            </tr>
            <tr class="custom-tr">
              <td scope="row" data-label="Product" class="text-left">Shipping</td>
              <td data-label="Due Date" class="d-none d-sm-block"></td>
              <td data-label="France">Free</td>
              <td data-label="United Kingdom">Free</td>
            </tr>
            <tr class="custom-tr purple-bg">
              <td scope="row" data-label="Product" class="text-left custom-l-radius">Surprise</td>
              <td data-label="Due Date" class="d-none d-sm-block"></td>
              <td data-label="France">Free</td>
              <td data-label="United Kingdom" class="custom-r-radius">Free</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <%= link_to "Get started", onboarding_path, class: 'btn-main' %>
      </div>
    </div>
  </div>
  <div class="mb-5 d-block d-md-none">
    <div class="row">
      <div class="col-12 mb-4">
        <p><strong>France</strong></p>
        <table>
          <tbody>
            <tr class="custom-tr">
              <td data-label="Local SIM card" class="text-left custom-l-radius">€39.90</td>
              <td data-label="Public transportation">€16.90</td>
              <td data-label="Airport Pickup" class="custom-r-radius">€55.00</td>
              <td data-label="Shipping" class="custom-r-radius">Free</td>
              <td data-label="Surprise" class="custom-r-radius">Free</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 mb-4">
        <p><strong>United Kingdom</strong></p>
        <table>
          <tbody>
            <tr class="custom-tr">
              <td data-label="Local SIM card" class="text-left custom-l-radius">£1</td>
              <td data-label="Public transportation">£15</td>
              <td data-label="Airport Pickup" class="custom-r-radius">£60.00</td>
              <td data-label="Shipping" class="custom-r-radius">Free</td>
              <td data-label="Surprise" class="custom-r-radius">Free</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <%= link_to "Get started", onboarding_path, class: 'btn-main' %>
      </div>
    </div>
  </div>
</div>
