<div class="pricing-container static-container" data-controller="lead">
  <%= render "pages/pricing/banner",
    headline: "Movido Starter Pack",
    subheadline: 'Housing, local SIM, transportation, and airport pick-up - get everything you need before you arrive. Stress-free, in 5mins, and without added fees.',
    background: 'background-color',
    img: 'starter-pack-banner-img-phone',
    desktop_img: 'desktop-iphone-banner-starter',
    cta_link: onboarding_starter_pack_path
  %>
  <%= render "pages/pricing/benefits", title: 'the Starter Pack', benefits: @benefits %>
  <%= render 'pages/pricing/services', cta_link: onboarding_starter_pack_path, pack: 'Starter' %>
  <%= render 'pages/home/how_it_works', slides: @slides %>
  <%= render 'shared/components/faqs', faqs: @faqs %>
  <%= render 'pages/home/contact_banner' %>
  <%= render 'shared/components/testimonials' %>
</div>
