<% @live_orders.each do |order| %>
  <% if order.pack == "starter" %>
    <div class="container my-3">
      <div class="col-12 starter-card py-2 px-3">
        <div class="top col-12 d-flex align-items-center justify-content-between mb-3">
          <div class="d-flex flex-column align-items-center">
            <span class="title">Starter Pack</span>
            <span class="subtitle">Something here</span>
          </div>
          <div class="d-flex flex-column align-items-center mt-2">
            <%= link_to invoice_path(order_id: order.id, format: :pdf), class: 'ms-auto mb-1' do %>
              <%= image_tag(asset_path('icons/file_icon'), size: '18x24') %>
            <% end %>
            <span class="total-price"><%= order.currency_symbol %><%= number_to_currency(order.total_amount_display, :unit => '') %></span>
          </div>
        </div>
        <div class="products">
          <% order.products.each do |product| %>
            <div class="d-flex justify-content-between align-items-center product">
              <%= image_tag(product.company.logo_url, class:'logo me-5') %>
              <div class="d-flex flex-column justify-content-start flex-fill">
                <span class="category"><%= t("dashboard.product_category.#{product.category.name}") %></span>
                <span class="title"><%= product.company.name %></span>
              </div>
              <span class="price"><%= order.currency_symbol %><%= number_to_currency(product.activation_price, :unit => '') %></span>
            </div>
            <hr>
          <% end %>
        </div>
        <div class="bottom">
          <%= link_to "https://www.laposte.fr/outils/track-a-parcel", target: 'blank' do %>
            <div class="track-button d-flex justify-content-between align-items-center px-3 py-1 my-2">
              <span>Track your order</span>
              <%= image_tag(asset_path('icons/arrow'), size: "20x20") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>