<div class="col-xs-12 col-lg-4">
  <div class="subscription-card d-flex flex-column">
    <div class="d-flex align-items-center justify-content-between">
      <span class="title">Starter pack</span>
      <div class="status"><i class='fad fa-broadcast-tower green'></i></div>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-between pricing">
      <span>Started</span>
      <span><%= order.created_at.strftime('%m/%d/%Y') %></span>
    </div>
    <div class="d-flex align-items-center justify-content-between pricing">
      <span>Total</span>
      <span><%= order.currency_symbol %><%= number_to_currency(order.total_amount_display, :unit => '') %></span>
    </div>
    <div class="d-flex align-items-center justify-content-between pricing">
      <span>Tracking</span>
      <% if order.shipping %>
        <span><%= order.shipping.tracking_id ? order.shipping.tracking_id : 'Processing' %></span>
      <% else %>
        <%= link_to 'Add tracking', new_shipping_path(order.id), class:'red link' %>
      <% end %>
    </div>
    <div class="d-flex align-items-center justify-content-between pricing">
      <span>Status</span>
      <% if order.paid? %>
        <span>paid</span>
      <% else %>
        <%= link_to 'Proceed payment', checkout_path(order.id), class:'red link' %>
      <% end %>
    </div>
    <div class="controls-wrapper d-flex align-items-center justify-content-around">
      <i class="fad fa-tasks-alt green"></i>
      <i class="fas fa-info-square blue"></i>
    </div>
    <div class="products-wrapper">
      <hr>
      <% order.products.includes([:category], [:company], [:country]).each do |product| %>
      <%= render 'pages/dashboard/orders/progress-bar', product: product, active: order.subscription ? order.subscription.active? : order.paid? %>
      <% end %>
    </div>
  </div>
</div>
