<section>
<div class="container" data-controller="animate">
  <div class="row">
    <div class="col-md-12">
      <div class='main-title text-left'>
        <h2><%= t('pages.home.how-it-works.title') %></h2>
      </div>
    </div>
  </div>
  <div class="row explanation-cards-mobile-wrapper">
    <%= render 'pages/mobile/home/explanation-card', img: 'pages/home/step-1.png', title: t('pages.how_it_works.first_step.title'), centered: false, desc: t('pages.how_it_works.first_step.description') %>
    <%= render 'pages/mobile/home/explanation-card', img: 'pages/home/step-2.png', title: t('pages.how_it_works.second_step.title'), centered: false, desc: t('pages.how_it_works.second_step.description') %>
    <%= render 'pages/mobile/home/explanation-card', img: 'pages/home/step-3.png', title: t('pages.how_it_works.third_step.title'), centered: true, desc: t('pages.how_it_works.third_step.description') %>
    <%= render 'pages/mobile/home/explanation-card', img: 'pages/home/step-4.png', title: t('pages.how_it_works.fourth_step.title'), centered: false, desc: t('pages.how_it_works.fourth_step.description') %>
    <%= render 'pages/mobile/home/explanation-card', img: 'pages/home/step-5.png', title: t('pages.how_it_works.fifth_step.title'), centered: false, desc: t('pages.how_it_works.fifth_step.description') %>
    <div class="col-md-12 text-center mt-4">
      <%= link_to t('pages.home.how-it-works.start'), new_user_registration_path, class:'btn btn-main' %>
    </div>
  </div>
</div>
</section>
