<div class="container"  data-controller="animate">
  <div class="row">
    <div class="col-md-12">
      <div class='main-title text-left'>
        <h2><%= t('pages.home.how-it-works.title') %></h2>
      </div>
    </div>
  </div>
  <div class="row explanation-cards-mobile-wrapper">
    <div class="col-12">
      <%= render 'pages/home/mobile/explanation-card', img: 'pages/home/step-1.png', title: t('pages.home.how-it-works.card1.title'), centered: false, desc: t('pages.home.how-it-works.card1.description') %>
    </div>
    <div class="col-12">
      <%= render 'pages/home/mobile/explanation-card', img: 'pages/home/step-2.png', title: t('pages.home.how-it-works.card2.title'), centered: false, desc: t('pages.home.how-it-works.card2.description') %>
    </div>
    <div class="col-12">
      <%= render 'pages/home/mobile/explanation-card', img: 'pages/home/step-3.png', title: t('pages.home.how-it-works.card3.title'), centered: true, desc: t('pages.home.how-it-works.card3.description') %>
    </div>
    <div class="col-12">
      <%= render 'pages/home/mobile/explanation-card', img: 'pages/home/step-4.png', title: t('pages.home.how-it-works.card4.title'), centered: false, desc: t('pages.home.how-it-works.card4.description') %>
    </div>
    <div class="col-md-12 text-center mt-5">
      <%= link_to t('pages.home.how-it-works.start'), new_user_registration_path, class:'btn btn-main' %>
    </div>
  </div>
</div>
