<section>
  <div class="container pt-2">
    <div class="row">
      <div class="col-12">
        <div class="main-title">
          <h2><%= t('pages.home.why-us.title').html_safe %></h2>
        </div>
      </div>
    </div>
      <div class="row why-cards-wrapper">
        <div class="col-6">
          <%= render 'pages/home/mobile/why-card', img: 'pages/home/fast.png', title: t('pages.home.why-us.card1.title'), desc: t('mobile.pages.home.why-us.card1.description') %>
        </div>
        <div class="col-6">
          <%= render 'pages/home/mobile/why-card', img: 'pages/home/simple.png', title: t('pages.home.why-us.card3.title'), desc: t('mobile.pages.home.why-us.card3.description') %>
        </div>
        <div class="col-6">
          <%= render 'pages/home/mobile/why-card', img: 'pages/home/smart.png', title: t('pages.home.why-us.card2.title'), desc: t('mobile.pages.home.why-us.card2.description') %>
        </div>
        <div class="col-6">
          <%= render 'pages/home/mobile/why-card', img: 'pages/home/free.png', title: t('pages.home.why-us.card4.title'), desc: t('mobile.pages.home.why-us.card4.description') %>
        </div>
        <div class="col-md-12 text-center mt-4">
          <%= link_to t('pages.home.how-it-works.start'), new_user_registration_path, class:'btn btn-main' %>
        </div>
      </div>
    </div>
  </div>
</section>
