<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="form d-flex flex-column mb-4 p-4">
      <%= simple_form_for [@category, @product, @subscription], data: {controller: "subscription"}, html: {id: 'billing-form', class:"d-flex flex-column"} do |f| %>
        <%= f.simple_fields_for :billing do |s| %>
          <%= s.hidden_field :user_id, value: current_user.id %>
          <div data-target="subscription.firstPart">
            <div class="input-wrapper mb-2">
              <label for="iban" class="mb-3 mr-2">IBAN</label>
              <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="We need your bank account detail for your direct debit option."></i>
              <div class="input text-right d-flex justify-content-end pr-3">
                  <i class="fas fa-lock"></i>
                  <%= s.input :iban, label: 'IBAN', required: true, label: false, input_html: {data: { target: 'subscription.ibanInput' , action: 'change->subscription#fillBank'}, class:'form-control pl-5'} %>
              </div>
            </div>
            <div class="input-wrapper mb-2">
              <label for="bic" class="mb-3">BIC</label>
              <div class="input text-right d-flex justify-content-end pr-3" >
                  <%= s.input :bic, class:'form-control', required: true, label: false %>
              </div>
            </div>
            <div class="input-wrapper mb-2">
              <label for="bank" class="mb-3">Banking Institution</label>
              <div class="input text-right d-flex justify-content-end pr-3" >
                  <%= s.input :bank, required: true, label: false, readonly: true, hint: 'You cannot change this field', class:'form-control', input_html: {data: {target: 'subscription.bankInput' }} %>
              </div>
            </div>
            <hr>
            <div class="input-wrapper mb-3">
              <label for="address" class="mb-3">Billing address</label>
              <div class="input text-right d-flex justify-content-end pr-3">
                <%= s.text_field :address, required: true, label: false, data: {target: 'subscription.billingAddressInput'}, input_html: {class:'form-control'} %>
              </div>
            </div>
          <% end %>
          <div class="input-wrapper mb-3">
            <label for="delivery_address" class="mb-3">Delivery address</label>
            <div class="input text-right d-flex justify-content-end pr-3">
              <%= f.text_field :delivery_address, required: true, label: false, data: {target: 'subscription.deliveryAddressInput'}, input_html: {class:'form-control'}  %>
            </div>
          </div>
           <div class="actions d-flex justify-content-around">
            <%= link_to 'Back', url_for(:back), class: 'btn btn-minor' %>
            <span class="btn-main" data-action="click->subscription#stepForward">Confirm</span>
          </div>
        </div>
        <div class="d-none" data-target="subscription.secondPart">
          <label for="sim" class="sim-label mr-2">Sim card size</label>
          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Tip:</strong> You can always take a pair of scissors and cut the plastic of your SIM card to turn your Standard / Micro SIM into a Nano SIM"></i>
          <div class="d-flex sim-cards justify-content-around align-items-baseline">
            <%= f.collection_radio_buttons(:sim, [['Nano', 'nano'], ['Standard / Micro', 'micro']], :first, :last, checked: 'Nano SIM') do |b| %>
              <%= b.label { b.radio_button + b.value + image_tag(asset_path"#{b.text}.png") } %>
            <% end %>
          </div>
          <div class="actions d-flex justify-content-around align-items-center mt-4">
            <span class="btn-minor" data-action="click->subscription#stepBackward">Back</span>
            <%= f.button :submit, 'Confirm', class: 'btn-main'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
