<div class="col-md-6 offset-md-3 mb-2">
  <div class="form-base">
    <div class="simple_form d-flex flex-column">
      <div class="form-inputs-wrapper mb-2">
        <div class="name-fields d-flex justify-content-between">
          <div class="form-group">
            <label><%= t('step.summary.form.label.provider') %></label>
            <input class="form-control" disabled value="<%= subscription.product.company %>"></input>
          </div>
          <div class="form-group">
            <label><%= t('step.summary.form.label.plan') %></label>
            <input class="form-control" disabled value="<%= subscription.product.name %>"></input>
          </div>
        </div>
        <% if subscription.sim %>
          <div class="form-group">
            <label><%= t('step.summary.form.label.sim_card') %></label>
            <input class="form-control" disabled value="<%= subscription.sim %>"></input>
          </div>
        <% end %>
        <div class="name-fields d-flex justify-content-between">
          <div class="form-group">
            <label><%= t('step.summary.form.label.name') %></label>
            <input class="form-control" disabled value="<%= subscription.address.user.first_name %>">
            </input>
          </div>
          <div class="form-group">
            <label><%= t('step.summary.form.label.surname') %></label>
            <input class="form-control" disabled value="<%= subscription.address.user.last_name %>">
            </input>
          </div>
        </div>
        <div class="form-group">
          <label><%= t('step.summary.form.label.email') %></label>
          <input class="form-control" disabled value="<%= subscription.address.user.email %>">
          </input>
        </div>
        <div class="form-group">
          <label><%= t('step.summary.form.label.address') %></label>
          <input class="form-control" disabled value="<%= subscription.address.street %>">
          </input>
        </div>
        <div class="form-group">
          <label><%= t('step.summary.form.label.billing_address') %></label>
          <input class="form-control" disabled value="<%= subscription.billing.address %>">
          </input>
        </div>
        <% if subscription.delivery_address %>
          <div class="form-group">
            <label><%= t('step.summary.form.label.delivery_address') %></label>
            <input class="form-control" disabled value="<%= subscription.delivery_address %>">
            </input>
          </div>
        <% end %>
        <% if subscription.product.country == 'United Kingdom'%>
          <div class="form-group">
            <label><%= t('step.summary.form.label.account_holder') %></label>
            <input class="form-control" disabled value="<%= subscription.billing.holder_name %>">
            </input>
          </div>
          <div class="name-fields d-flex justify-content-between">
            <div class="form-group">
              <label><%= t('step.summary.form.label.account_number') %></label>
              <input class="form-control" disabled value="<%= subscription.billing.account_number %>">
              </input>
            </div>
            <div class="form-group">
              <label><%= t('step.summary.form.label.banking_institution') %></label>
              <input class="form-control" disabled value="<%= subscription.billing.bank %>">
              </input>
            </div>
          </div>
        <% else %>
          <div class="form-group">
            <label>IBAN</label>
            <input class="form-control" disabled value="<%= subscription.billing.iban_prettify %>">
            </input>
          </div>
          <div class="name-fields d-flex justify-content-between">
            <div class="form-group">
              <label>BIC</label>
              <input class="form-control" disabled value="<%= subscription.billing.bic %>">
              </input>
            </div>
            <div class="form-group">
              <label><%= t('step.summary.form.label.banking_institution') %></label>
              <input class="form-control" disabled value="<%= subscription.billing.bank %>">
              </input>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <label><%= t('step.summary.form.label.price') %></label>
          <input class="form-control" disabled value="<%= subscription.product.format_price %>/month">
          </input>
        </div>
      </div>
    </div>
  </div>
</div>
