<% names = [t('steps.step1'), t('steps.step2'), t('steps.step3'), t('steps.step4')] %>
<div class="steps-wrapper d-flex flex-column align-items-center justify-content-center my-5">
  <h1 class="mb-5"><%= title %></h1>
  <% if current_step != 1 %>
    <p class="subtitle mb-5 text-center"><%= subtitle %></p>
  <% end %>
  <div class="lines d-flex align-items-center justify-content-between">
    <% if current_step != 1 %>
    <% i = 0 %>
      <% (current_step - 1).times do %>
        <div class="<%= total_steps == 4 ? 'steps4' : 'steps3' %> green-step mr-3"><i class="fas fa-check-circle mr-1"></i><%= names[i] %></div>
        <% i += 1 %>
      <% end %>
    <% end %>
    <% if current_step <= total_steps %>
      <div class="<%= total_steps == 4 ? 'steps4' : 'steps3' %> blue-step mr-3"><i class="fas fa-dot-circle mr-1"></i><strong><%= names[current_step - 1] %></strong></div>
    <% end %>
    <% if current_step != total_steps %>
    <% i = current_step %>
      <% (total_steps - current_step).times do %>
        <div class="<%= total_steps == 4 ? 'steps4' : 'steps3' %> grey-step mr-3"><i class="far fa-circle mr-1"></i><%= names[i] %></div>
        <% i += 1 %>
      <% end %>
    <% end %>
  </div>
</div>

