<div class="container congratulations-container mb-5">
  <figure class="big-blue-bubble position-absolute "></figure>
  <figure class="small-blue-bubble position-absolute  d-lg-block d-none"></figure>
  <figure class="small-yellow-bubble position-absolute"></figure>
  <figure class="big-purple-bubble position-fixed d-lg-block d-none"></figure>
  <%= render 'subscriptions/steps', current_step: 5, title: t('.title'), product: @subscription.product, subtitle: t('.subtitle').html_safe,total_steps: @subscription.product.total_steps, congratulations: true %>
  <div class="row pt-3">
    <div class="col-md-6 d-md-block d-none illustration">
      <%= image_tag(asset_path('subscriptions/congratulations.png')) %>
    </div>
    <div class="col-md-6">
      <h3 class="mb-4"><%= t('.questions').html_safe %></h3>
      <div class="my-4 support-links">
        <span class="support"><%= image_tag(asset_path('subscriptions/whatsapp.png')) %>  <%= link_to '+44(0)7841 598269', "tel: +447841598269" %></span><br>
        <span class="support"><%= image_tag(asset_path('subscriptions/phone.png')) %>   <%= link_to '+44(0)7841 598269', "tel: +447841598269" %></span><br>
        <span class="support"><%= image_tag(asset_path('subscriptions/email.png')) %> <%= mail_to 'contact@go-movido.com', "contact@go-movido.com", class:'purple' %></span>
      </div>
      <h3 class="mb-4"><%= t('.next').html_safe %></h3>
      <div class="mt-4">
        <% if @subscription.product.is_mobile? %>
          <%= link_to t('.wifi_cta').html_safe, category_products_path(Category.find_by(name: 'wifi').id), class: 'links d-block mb-2' %><br>
        <% elsif @subscription.product.is_wifi? %>
          <%= link_to t('.mobile_cta').html_safe, category_products_path(Category.find_by(name: 'mobile').id), class: 'links d-block mb-2' %><br>
        <% end %>
        <%= link_to t('.bank_cta').html_safe, category_banks_path(Category.find_by(name: 'bank').id), class: 'links d-block mb-2' %><br>
        <%= link_to t('.community_cta').html_safe.html_safe, '#', class: 'links d-block mb-2' %><br>
      </div>
    </div>
  </div>
</div>
