<div class="p-lg-5 py-3">
      <div class="d-flex flex-column">
        <div class="mb-2">
          <h3 class="mb-4">Subscription number # <%= @subscription.id %></h3>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('user.subscription.table.status') %></span>
            <span class="status <%= @subscription.state %>"><i class="<%= @subscription.icon_state %>"></i> <%= t("users.subscription.#{@subscription.state}") %></span>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('step.summary.form.label.provider') %></span>
            <div><%= @subscription.product.company %></div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('step.summary.form.label.plan') %></span>
            <div><%= @subscription.product.name %></div>
          </div>
          <% if @subscription.sim %>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="font-weight"><%= t('step.summary.form.label.sim_card') %></span>
              <div><%= @subscription.sim %></div>
            </div>
          <% end %>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('step.summary.form.label.name') %></span>
            <div><%= @subscription.address.user.first_name %></div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('step.summary.form.label.surname') %></span>
            <div><%= @subscription.address.user.last_name %></div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('step.summary.form.label.email') %></span>
            <div><%= @subscription.address.user.email %></div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('step.summary.form.label.address') %></span>
            <div><%= @subscription.address.street %></div>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('step.summary.form.label.billing_address') %></span>
            <div><%= @subscription.billing.address %></div>
          </div>
          <% if @subscription.delivery_address %>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="font-weight"><%= t('step.summary.form.label.delivery_address') %></span>
              <div><%= @subscription.delivery_address %></div>
            </div>
          <% end %>
          <% if @subscription.product.country == 'United Kingdom'%>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="font-weight"><%= t('step.summary.form.label.account_holder') %></span>
              <div><%= @subscription.billing.holder_name %></div>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="font-weight"><%= t('step.summary.form.label.account_number') %></span>
              <div><%= @subscription.billing.account_number %></div>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="font-weight"><%= t('step.summary.form.label.banking_institution') %></span>
              <div><%= @subscription.billing.bank %></div>
            </div>
          <% else %>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="font-weight">IBAN</span>
              <div><%= @subscription.billing.iban_prettify %></div>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="font-weight">BIC</span>
              <div><%= @subscription.billing.bic %></div>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="font-weight"><%= t('step.summary.form.label.banking_institution') %></span>
              <div><%= @subscription.billing.bank %></div>
            </div>
          <% end %>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-weight"><%= t('step.summary.form.label.price') %></span>
            <div>
              <%= @subscription.product.format_price %>/month
            </div>
          </div>
        </div>
      </div>
</div>
