<div class="container subscriptions-container" data-controller="subscriptions" style="background-image:url(<%= asset_path 'bg-form.png' %>);">
  <div class="step-2 mt-5 mb-4">
    <%= render 'steps', step: 2, title: t('steps.more_details'), payment: true %>

    <h2 class="text-center step-title mb-2">We just need a couple of more details</h2>
    <h3 class="text-center mb-4">We need your bank account details to set up the direct debit option of your subscription</h3>
    <%= simple_form_for [@product.category, @product, @subscription], :url => category_product_create_wifi_subscription_path do |f| %>
      <%= f.hidden_field :address_id, value: current_user.active_address.id %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.simple_fields_for :address, method: :put do |s| %>
        <%= s.hidden_field :id, value: current_user.active_address.id%>
        <%= s.input :floor %>
        <%= s.input :building %>
        <%= s.input :stairs %>
        <%= s.input :door %>
        <%= s.input :gate_code %>
      <% end %>
      <%= f.submit 'Save' %>
    <% end %>
  </div>

</div>
