<div class="container subscriptions-container">
  <div class="step-5 mt-5 d-flex flex-column align-items-center justify-content-center">
    <%= render 'billings/steps', step: 5, title: 'Confirmation' %>
    <div class="top-part d-flex flex-column align-items-center justify-content-center">
      <h2 class="mb-4">Please confirm your subscription, <%= current_user.first_name %></h2>
      <div class="summary d-flex flex-column justify-content-center mb-4 p-5 mb-5">
        <div class="row">
          <span class="col-3 left">Address</span>
          <span class="col-9 right"><%= @subscription.address.street %></span>
        </div>
        <hr>
         <div class="row">
          <span class="col-3 left">Product</span>
          <span class="col-9 right"><%= @subscription.product.name %></span>
        </div>
        <hr>
         <div class="row">
          <span class="col-3 left">IBAN</span>
          <span class="col-9 right"><%= @subscription.billing.iban %></span>
        </div>
        <hr>
        <div class="row">
          <span class="col-3 left">Price</span>
          <span class="col-9 right"><%= @subscription.product.price %>€/month</span>
        </div>
        <hr>
        <div class="row">
          <span class="col-3 left">Star date</span>
          <span class="col-9 right"><%= @subscription.start_date.strftime("%d/%m/%Y") %></span>
        </div>
      </div>
        <%= link_to "Validate", validate_subscription_path(@subscription), method: :patch, class: 'btn-main'%>
      </div>
    </div>
  </div>
</div>
