<div class="container subscriptions-container" style="background-image:url(<%= asset_path 'bg-form.png' %>);">
  <%= render 'steps', current_step: @subscription.current_step(controller.controller_name), title: t('steps.confirmation'), total_steps: @subscription.product.total_steps %>
  <div class="row mx-0">
    <div class="col-md-12 text-center my-4">
      <h2>Please confirm that we have your right details, <%= current_user.first_name %> !</h2>
      <p>You can make modifications by clicking on the back button</p>
    </div>
    <%= render 'result', subscription: @subscription %>
    <div class="col-md-6 offset-md-3 mb-5 d-flex justify-content-around">
      <%= link_to 'Back', new_subscription_billing_path(@subscription), class: 'btn-minor' %>
      <%= link_to "Confirm", validate_subscription_path(@subscription), method: :patch, class: 'btn-main'%>
    </div>
  </div>
</div>
