<div class="flow-container background-size-cover sign-in d-flex mh-100" style="background-image:url(<%= asset_path 'pages/sign-in/background.png' %>);">
  <div class="content-container d-flex align-items-center w-100">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 offset-lg-3">
        <div class="form-base d-flex flex-column align-items-center justify-content-center h-100">
          <%= link_to root_path, class:'ps-3' do %>
            <%= image_tag(asset_path("logos/movido-black.svg"), class:'movido-logo') %>
          <% end %>
          <div class="sign-in-box">
            <h2 class="purple mb-3">Welcome back</h2>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.input :email, autofocus: true, autocomplete: "email", label: 'Email' %>
                <div class="d-flex align-items-center justify-content-between">
                  <label for="password">Password</label>
                  <%= link_to 'Forgot your password?', new_password_path(resource_name), class:'link purple' %>
                </div>
                <%= f.input :password, autocomplete: "current-password", label: false %>
                <%= f.button :submit, "Log in", class:'btn-main mb-2' %>
            <% end %>
            <p><%= link_to 'I dont have an account', new_user_registration_path, class:'link purple' %> </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
