<div class="product-card mb-3 px-2 py-3 w-100">
  <div class="main-card">
    <div class="d-flex align-items-center justify-content-between mb-2 px-2">
      <div class="d-flex">
        <div class="mr-3">
          <%= image_tag(product.company.logo_url, class:"logo") %>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <span class="title"><%= product.name %></span>
          <span class="description"><%= product.area %></span>
        </div>
      </div>
      <div class="price d-flex flex-column justify-content-center">
        <span class="number"><%= product.format_price %></span>
        <span class="frequency"><%= t('products.card.frequency_mobile') %></span>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-around">
      <div class="feature">
        <% if product.obligation %>
          <div class="offer">
            <div class="d-flex align-items-center">
              <%= image_tag(asset_path('products/contract-black.png'), class:'picto') %><br><span class="font-weight"><%= product.time_contract %> <%= t('products.card.months') %></span>
            </div>
          </div>
        <% else %>
          <div class="offer">
            <div class="d-flex align-items-center">
              <%= image_tag(asset_path('products/contract-black.png'), class:'picto') %><br><span class="font-weight"><%= t('products.card.no_obligation_inline') %></span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="feature">
        <div class="offer">
          <div class="d-flex align-items-center">
            <%= image_tag(asset_path('products/wifi-black.png'), class:'picto') %><br><span class="font-weight"><%= product.format_data %></span>
          </div>
        </div>
      </div>
      <div class="feature">
        <% if product.sim_card_price > 0 %>
          <div class="offer">
            <div class="d-flex align-items-center">
              <%= image_tag(asset_path('products/sim-card-black.png'), class:'picto') %><br><span class="font-weight"><%= product.format_sim_card_price %></span>
            </div>
          </div>
        <% else %>
          <div class="offer">
            <div class="d-flex align-items-center">
              <%= image_tag(asset_path('products/sim-card-black.png'), class:'picto') %><br><span class="font-weight"><%= t('products.card.free') %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
