<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="form d-flex flex-column mb-4 p-4">
      <%= simple_form_for [@address, @product, @billing], data: {controller: "algolia"}, html: {id: 'billing-form', class:"d-flex flex-column"} do |f| %>
        <%= f.hidden_field :first_name, required: true, value: current_user.first_name%>
        <%= f.hidden_field :last_name, required: true, value: current_user.last_name %>
        <div class="input-wrapper mb-3">
          <label for="address" class="mb-3">Address</label>
          <div class="input text-right d-flex justify-content-end pl-3 pr-3">
            <%= f.text_field :address, class:'form-control', label: false, value: "#{@address.street}", data: {target: 'algolia.addressInput'} %>
          </div>
        </div>
        <hr>
        <div class="input-wrapper mb-2">
          <label for="iban" class="mb-3">IBAN</label>
          <div class="input text-right d-flex justify-content-end pl-3 pr-3">
            <%= f.input :iban, class:'form-control', label: 'IBAN', required: true, label: false, input_html: {value: @last_billing ? @last_billing.iban : nil} %>
          </div>
        </div>
        <div class="input-wrapper mb-2">
          <label for="bic" class="mb-3">BIC</label>
          <div class="input text-right d-flex justify-content-end pl-3 pr-3" >
            <%= f.input :bic, class:'form-control', label: 'BIC', required: true, label: false, input_html: {value: @last_billing ? @last_billing.bic : nil} %>
          </div>
        </div>
        <hr>
        <%= f.simple_fields_for :subscription do |s| %>
          <%= s.hidden_field :id, value: @subscription.id %>
          <div class="input-wrapper mb-3">
            <label for="start_date" class="mb-3">Start date</label>
            <div class="input text-right d-flex justify-content-end pl-3 pr-3" >
              <%= s.input :start_date, as: :string, class:'form-control', required: true, label: false, input_html: { placeholder: 'Start date | DD/MM/YYYY', class:'datepicker', data: { controller: "flatpickr", flatpickr_date_format: "d-m-Y",
                flatpickr_min_date: Time.zone.now + 5.days, flatpickr_default_date: Time.zone.now + 5.days} } %>
            </div>
          </div>
        <% end %>
        <div class="actions d-flex justify-content-around">
          <%= f.button :submit, 'Confirm', class: 'btn-main'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
