<div class="col-md-6 offset-md-3 mb-5">
  <div class="form-base">
    <span class="mandatory"><%= t('billings.new.mandatory') %></span>
    <%= simple_form_for [@subscription, @billing], html: {class: "d-flex flex-column mt-2"}, data: {controller: "subscription-uk"} do |f| %>
      <%= f.hidden_field :subscription_id, value: @subscription.id %>
      <div class="mb-2">
        <%= f.input :holder_name, required: true, class:'form-control pl-5', input_html: {value: current_user.first_name + ' ' + current_user.last_name} %>
        <%= f.input :account_number, class:'form-control', required: true, placeholder: t('billings.new.form.placeholder', placeholder: t('activerecord.attributes.billing.account_number')).capitalize %>
        <%= f.input :sort_code, class:'form-control', required: true, placeholder: t('billings.new.form.placeholder', placeholder: t('activerecord.attributes.billing.sort_code')).capitalize %>
        <%= f.input :bank, required: true, placeholder: t('billings.new.form.placeholder', placeholder: t('activerecord.attributes.billing.bank')).capitalize, class:'form-control'%>
        <hr>
        <div class="mb-2">
          <%= f.input :address, required: true, input_html: {class:'form-control', data: {subscription_uk_target: 'billingAddressInput'}}, placeholder: t('billings.new.form.placeholder', placeholder: t('activerecord.attributes.billing.address')).capitalize %>
          <% if @subscription.product.is_mobile? %>
            <%= f.simple_fields_for :subscription do |s| %>
              <div class="mb-2">
                <%= s.hidden_field :id, value: @subscription.id %>
                <%= s.input :delivery_address, required: true, label: t('billings.new.form.sim_delivery_address'),input_html: { class: 'form-control w-100', data: {subscription_uk_target: 'deliveryAddressInput'}}, placeholder: t('billings.new.form.placeholder', placeholder: t('activerecord.attributes.subscription.delivery_address')).capitalize %>
              </div>
            <% end %>
          <% end %>
          <div class="actions d-flex flex-column justify-content-center mt-4">
            <%= f.button :submit, t('billings.new.form.button.next'), class: 'btn-main mb-4'%>
            <% if @subscription.product.is_wifi? %>
              <%= link_to t('billings.new.form.button.back'), edit_subscription_address_path(@subscription, @subscription.address), class: 'btn-exit' %>
            <% else %>
              <%= link_to t('billings.new.form.button.back'), category_products_path(@subscription.product.category), class: 'btn-exit' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

