<div class="col-md-6 offset-md-3 mb-5">
  <div class="form-base">
      <%= simple_form_for [@subscription, @billing], class:"d-flex flex-column", data: {controller: "subscription-uk"} do |f| %>
      <%= f.hidden_field :subscription_id, value: @subscription.id %>
        <div class="form-inputs-wrapper mb-2">
            <%= f.input :holder_name, required: true, label: t('step.billing.form.label.holder_name'), class:'form-control pl-5', input_html: {value: current_user.first_name + ' ' + current_user.last_name} %>
            <%= f.input :account_number, class:'form-control', required: true, placeholder:"31926819", label: t('step.billing.form.label.account_number') %>
            <%= f.input :bank, required: true, placeholder:"HSBC", label: t('step.billing.form.label.bank'), class:'form-control'%>
        <hr>
        <div class="form-inputs-wrapper mb-2">
          <%= f.input :address, required: true, label: t('step.billing.form.label.billing_address'), input_html: {class:'form-control', data: {target: 'subscription-uk.billingAddressInput'}} %>
          <%= f.simple_fields_for :subscription do |s| %>
            <div class="form-inputs-wrapper mb-2">
              <%= s.hidden_field :id, value: @subscription.id %>
              <%= s.input :delivery_address, required: true, label: t('step.billing.form.label.delivery_address'), input_html: { class: 'form-control w-100', data: {target: 'subscription-uk.deliveryAddressInput'}} %>
            </div>
          <% end %>
          <div class="actions d-flex flex-column justify-content-center mt-4">
            <%= f.button :submit, t('step.billing.form.button.next'), class: 'btn-main mb-4'%>
            <% if @subscription.product.is_wifi? %>
              <%= link_to t('step.billing.form.button.back'), subscription_update_address_path(@subscription, @subscription.address), class: 'btn-exit' %>
            <% else %>
              <%= link_to t('step.billing.form.button.back'), category_products_path(@subscription.product.category), class: 'btn-exit' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

