<div class="container billings-container" data-controller="subscriptions">
  <div class="step-3 mt-3 d-flex flex-column align-items-center justify-content-center" data-target="subscriptions.firstStep">
    <div class="step-forms mb-5">
      <span class="step-header">Step 3 of 5</span>
      <div class="detail-arrows mb-3 d-flex justify-content-between align-items-center">
        <span class="more-details"><strong>Billing infos</strong></span>
        <span><i class="fas fa-long-arrow-alt-left mr-2"></i><i class="fas fa-long-arrow-alt-right"></i></span>
      </div>
      <div class="d-flex lines justify-content-between align-items-center">
        <span class="line orange mr-3"></span>
        <span class="line orange mr-3"></span>
        <span class="line orange mr-3"></span>
        <span class="line mr-3"></span>
        <span class="line"></span>
      </div>
    </div>
    <% if @last_billing %>
      <div class="top-part d-flex flex-column align-items-center justify-content-center" data-target="subscriptions.billingSummary">
        <h2 class="mb-4">Please confirm your billing details, <%= current_user.first_name %></h2>
        <div class="last-billing d-flex flex-column justify-content-center mb-4 p-5" data-target="subscriptions.lastBilling">
           <div class="row">
            <span class="col-3 left">Name</span>
            <span class="col-9 right"><%= @last_billing.first_name %></span>
          </div>
          <hr>
           <div class="row">
            <span class="col-3 left">Last name</span>
            <span class="col-9 right"><%= @last_billing.last_name %></span>
          </div>
          <hr>
           <div class="row">
            <span class="col-3 left">Address</span>
            <span class="col-9 right"><%= @last_billing.address %></span>
          </div>
          <hr>
           <div class="row">
            <span class="col-3 left">IBAN</span>
            <span class="col-9 right"><%= @last_billing.iban %></span>
          </div>
          <hr>
           <div class="row">
            <span class="col-3 left">BIC</span>
            <span class="col-9 right"><%= @last_billing.bic %></span>
          </div>
        </div>
        <div class="actions d-flex justify-content-around">
          <span data-action='click->subscriptions#toggleBillingForm' class="btn-minor">Modify billing</span>
          <%= link_to 'Confirm', address_product_billings_path(@address, @product, subscription_id: @subscription.id, billing_id: @last_billing.id), method: :post, class: 'btn-main', data: {action: 'click->subscriptions#nextStep'} %>
        </div>
      </div>
    <% end %>
    <div data-target="subscriptions.billingForm" class="<%= @last_billing ? 'd-none' : 'd-flex ' %> billing-form flex-column align-items-center justify-content-center">
      <h2 class="mb-5">Please confirm your billing details, <%= current_user.first_name %></h2>
      <%= simple_form_for [@address, @product, @billing], html: {data: {action: 'submit->subscriptions#nextStep'}} do |f| %>
      <%= f.hidden_field :subscription_id, value: @subscription.id %>
      <%= f.input :address, required: true, input_html: {value: "#{@address.street_number} #{@address.street}"}%>
      <%= f.input :first_name, required: true, input_html: {value: current_user.first_name}%>
      <%= f.input :last_name, required: true, input_html: {value: current_user.last_name} %>
      <%= f.input :iban, label: 'IBAN', required: true %>
      <%= f.input :bic, label: 'BIC', required: true %>
      <%= f.button :submit, 'Save', class: 'btn-main' %>
      <% end %>
    </div>
  </div>

  <div class="subscription step-4 d-none" data-target="subscriptions.secondStep">
    <h2>When do you want the subscription to start ?</h2>
    <%= simple_form_for [@address, @product, @subscription], method: :put do |f| %>
      <%= f.input :start_date %>
      <%= f.button :submit, 'Validate your subscription' %>
    <% end %>
  </div>
</div>
