<section>
  <div class="container-fluid p-0">
    <div class="banner d-flex align-items-center" style="background-image:url(<%= asset_path 'pages/home/banner-background.png' %>);">
      <div class="container">
        <div class="row">
          <div class="col-md-8 sm-12 text-center text-md-left d-flex align-items-center">
            <div class="content d-flex flex-column justify-content-around">
              <div class="headline mb-2">
                <h1 class="mb-3"><%= t('pages.home.banner.headline1').html_safe %><br><span><%= t('pages.home.banner.headline2').html_safe %></span></h1>
                <p class="subheadline"><%= t('pages.home.banner.subheadline').html_safe %></p>
              </div>
              <div>
                <%= link_to t('pages.home.banner.start'), new_user_registration_path, class:'btn btn-main' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
