 <div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="form d-flex flex-column justify-content-center mb-0 p-4">
      <%= simple_form_for address, data: {controller: "address-form"}, id:"address-form",  html: {class:"d-flex flex-column align-items-center"}, method: :put do |form| %>
        <%= form.hidden_field :product_id, value: @product.id %>
        <div class="input-wrapper mb-3">
          <label for="street" class="mb-3">Address</label>
          <div class="input text-right d-flex justify-content-end pl-3 pr-3">
            <%= form.text_field :street, class:'form-control', disabled: true, label: false, value: address.street  %>
          </div>
        </div>
        <hr>
        <div class="input-wrapper mb-5 mt-3">
          <label for="phone" class="mb-3">Phone</label>
          <div class="input text-right d-flex justify-content-end pl-3 pr-3">
            <%= form.text_field :phone, data: {target: "address-form.phone"}, value: address.phone, html_input: {id: 'phone'}, class:'phone form-control'  %>
          </div>
        </div>
        <div class="input-wrapper mb-5">
          <label for="mobile_phone" class="mb-3">Mobile Phone</label>
          <div class="input text-right d-flex justify-content-end pl-3 pr-3" >
            <%= form.text_field :mobile_phone, data: {target: "address-form.mobilePhone"}, value: address.mobile_phone, html_input: {id: 'mobile_phone'}, class:'phone form-control'  %>
          </div>
        </div>
         <div class="actions d-flex justify-content-around">
          <%= form.submit 'Confirm', class: 'btn-main' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
