<div class="progress-bar-starter d-flex justify-content-evenly align-items-center">
  <div class="step-box d-flex flex-column align-items-center">
    <div class="ellipse text-center active">
      <i class='fas fa-check align-middle white'></i>
    </div>
    <span class="step">Ordered</span>
  </div>
  <div class="progress-bar active">
  </div>
  <div class="step-box d-flex flex-column align-items-center">
    <div class="ellipse text-center active">
      <% if state == "delivering" || state == "delivered" %>
        <i class='fas fa-check align-middle white'></i>
      <% else %> 
        <i class='fad fa-spinner-third align-middle white'></i>
      <% end %>
    </div>
    <span class="step">Processing</span>
  </div>
  <div class="progress-bar <%= state == "delivering" || state == "delivered" ? "active" : "" %>">
  </div>
  <div class="step-box d-flex flex-column align-items-center">
    <div class="ellipse text-center <%= state == "delivering" || state == "delivered" ? "active" : "" %>">
      <% if state == "delivering" %>
        <i class='fad fa-spinner-third align-middle white'></i>
      <% elsif state == "delivered" %>
        <i class='fas fa-check align-middle white'></i>
      <% end %>
    </div>
    <span class="step">Sending</span>
  </div>
  <div class="progress-bar <%= state == "delivered" ? "active" : "" %>">
  </div>
  <div class="step-box d-flex flex-column align-items-center">
    <div class="ellipse text-center <%= state == "delivered" ? "active" : "" %>">
      <%= state == "delivered" ? "<i class='fas fa-check align-middle white'></i>".html_safe : "" %>
    </div>
    <span class="step">Arrived</span>
  </div>
</div>
