<div class="dashboard container position-relative" data-controller="dashboard">
  <%= image_tag(asset_path('pages/dashboard/round-back.png'), class:"round position-absolute", size: "330x330") %>
  <% image_tag(asset_path('pages/dashboard/waves-back.png'), class:"waves position-absolute", size:"500x700") %>
  <div class="col-12 d-flex flex-column mb-2">
    <h2 class="title text-start mt-3">Hello <%= current_user.first_name%>,</h2>
    <h4 class="subtitle text-start">welcome back!</h4>
    <span class="address text-start purple"><i class="fas fa-map-marker-alt purple me-1"></i><%= current_user.house.house_detail.address %></span>
  </div>
  <div class="col-12 d-flex justify-content-center pack-nav-mobile">
    <ul class="nav w-100 text-center justify-content-around" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="settle-in-tab" data-bs-toggle="tab" data-bs-target="#settle-in" data-dashboard-target="settleIn" data-action="click->dashboard#togglePurpleBar" type="button" role="tab" aria-controls="starter" aria-selected="true">Settle in Pack</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="starter-tab" data-bs-toggle="tab" data-bs-target="#starter" data-dashboard-target="starter" data-action="click->dashboard#togglePurpleBar" type="button" role="tab" aria-controls="starter" aria-selected="false">Starter Pack</a>
      </li>
    </ul>
  </div>
  <div class="col-12 position-relative mt-1 mb-3 d-block">
    <div class="purple-bar-1 w-50 position-absolute" data-dashboard-target="purple"></div>
    <div class="purple-bar-2 w-100 position-absolute"></div>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="settle-in" role="tabpanel" aria-labelledby="settle-in-tab">
      <%= render "dashboards/orders/cards/settle_in", invoice: @invoice %>
    </div>
    <div class="tab-pane" id="starter" role="tabpanel" aria-labelledby="starter-tab">
      <%= render "dashboards/orders/cards/starter", invoice: @invoice %>
    </div>
  </div>
</div>
