<div class="starter-dashboard dashboard container mt-mb-5 background-waves" style="background-image:url(<%= asset_path 'pages/dashboard/waves-back.png' %>);">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-6">
      <div class="p-3">
        <% if @order %>
          <%= link_to dashboard_path do %>
            <i class='fas fa-arrow-left black'></i>
          <% end %>
          <div class="col-12 d-flex flex-column mb-3">
            <h1 class="title-primary purple">Starter Pack</h1>
            <span class="price-primary mb-2"><%= number_to_currency(@order.total_amount_display, :unit => '')%><%= @order.currency_symbol %></span>
            <span class="period">Ordered on <%= @order.created_at.strftime("%d/%m/%Y")%></span>
          </div>
          <div class="col-12 progress-starter my-4">
            <%= render 'dashboards/starter_steps', order: @order, state: @order.shipping.state %>
          </div>
          <div class="col-12 products d-flex flex-column mb-2">
            <h1 class="title-secondary">Products</h2>
              <% @order.products.each do |product| %>
                <span class="description mb-1"><%= product.name %></span>
              <% end %>
          </div>
          <div class="col-12 tracking d-flex justify-content-between mt-4">
            <span class="subtitle">Tracking ID:</span>
            <span><%= @order.shipping.tracking_id ? @order.shipping.tracking_id : 'processing' %></span>
          </div>
          <div class="buttons my-5">
            <% if @order.paid? %>
              <%= link_to "https://www.laposte.fr/outils/track-a-parcel", target: 'blank' do %>
                <div class="button-lite d-flex justify-content-between align-items-center px-3 py-2 my-2">
                  <span>Track your order</span>
                  <i class="fas fa-arrow-right purple"></i>
                </div>
              <% end %>
              <%= link_to invoice_path(order_id: @order.id, format: :pdf), target: 'blank' do %>
                  <div class="button-lite d-flex justify-content-between align-items-center px-3 py-2 my-2">
                    <span>Download your invoice</span>
                    <i class="fad fa-file-alt purple"></i>
                  </div>
              <% end %>
            <% else %>
              <%= link_to checkout_path(@order.id) do %>
                <div class="button-lite d-flex justify-content-between align-items-center px-3 py-2 my-2">
                  <span>Finish your purchase</span>
                  <i class="fas fa-arrow-right purple"></i>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="no-order dashboard container mt-5 d-flex flex-column align-items-center text-center">
            <span class="message">You haven't ordered a Starter Pack yet.</span>
            <%= link_to 'Get my Starter Pack now', onboarding_starter_pack_url, class:'btn-main my-5 onboarding-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/components/dashboard_navbar' %>
