<div class="plan-details dashboard container mt-md-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-6">
      <div class="p-3">
        <%= link_to dashboard_path do %>
          <i class='fas fa-arrow-left black'></i>
        <% end %>
        <div class="top d-flex flex-column mb-4">
          <h1 class="purple"><%= @plan.product.name %></h1>
          <span class="price-primary"><%= number_to_currency(@plan.price / 100, :unit => '') %><%= @order.currency_symbol %></span>
          <span class="period">Subscribed at <%= @plan.created_at.strftime("%d/%m/%Y") %><span>
        </div>
        <div class="buttons d-flex justify-content-evenly mb-3">
          <%= link_to 'https://calendly.com/alice_movido/movido-introcall' do %>
            <div class="d-flex flex-column align-items-center">
              <div class="button-plan d-flex justify-content-center align-items-center">
                <i class="fad fa-question purple"></i>
              </div>
              <span class="button-desc">Help</span>
            </div>
          <% end %>
          <%= link_to invoice_path(order_id: @order.id, format: :pdf) do %>
            <div class="d-flex flex-column align-items-center">
              <div class="button-plan d-flex justify-content-center align-items-center">
                <i class="fad fa-file-contract purple"></i>
              </div>
              <span class="button-desc">Contracts</span>
            </div>
          <% end %>
          <%= link_to cancel_plan_path, plan_id: @plan.id, method: :put do %>
            <div class="d-flex flex-column align-items-center">
              <div class="button-plan d-flex justify-content-center align-items-center">
                <i class="fad fa-trash purple"></i>
              </div>
              <span class="button-desc">Cancel</span>
            </div>
          <% end %>
        </div>
        <div class="details d-flex flex-column mb-4">
          <span class="title-secondary">Details</span>
          <span class="description">Provided by <%= @plan.product.company.name %></span>
          <span class="description"><%= @order.user.house.house_detail.address %></span>
        </div>
        <div class="details d-flex flex-column mb-4">
          <span class="title-secondary purple">Active subscription</span>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/components/dashboard_navbar' %>
