<div class="container my-5">
  <div class="row">
    <% @live_orders.each do |order| %>
      <% if order.pack == "settle_in" %>
        <div class="col-12 col-md-5 dashboard-card mb-3">
          <div class="top d-flex align-items-center justify-content-between py-2 px-3">
            <div class="d-flex flex-column">
              <span class="title">Settle in Pack - #<%= current_user.first_name[0].upcase %><%= current_user.last_name[0].upcase %><%= order.id %></span>
              <span class="grey"><%= order.created_at.strftime('%d.%m.%y') %></span>
            </div>
            <div class="d-flex flex-column">
              <div class="status">
                <span class=<%= order.subscription.state %>><%= order.subscription.state %></span>
              </div>
              <div class="total-price"><span><%= order.currency_symbol %></span><span data-dashboard-target="subscriptionPrice" data-stripe-id=<%= order.subscription.stripe_id %>><%= number_to_currency(order.total_subscription_amount_display, :unit => '') %></span></div>
            </div>
          </div>
          <%= render 'dashboards/orders/cards/products', products: order.products, order: order %>
          <div class="bottom d-flex flex-column py-3 px-3">
            <%= link_to invoice_path(order_id: order.id, format: :pdf), target: 'blank' do %>
              <div class="button d-flex justify-content-between align-items-center px-3 py-2 my-2">
                <span>Download your invoice</span>
                <i class="fad fa-file-alt purple"></i>
              </div>
            <% end %>
            <% if !order.paid? || !order.active? %>
              <%= link_to checkout_path(order.id) do %>
                <div class="button d-flex justify-content-between align-items-center px-3 py-2 my-2">
                  <span>Pay your invoice</span>
                  <i class="fad fa-file-alt purple"></i>
                </div>
              <% end %>
            <% end %>
            <%= link_to 'Cancel subscription', cancel_subscription_path(order.id), method: :put, class:'text-center link', data: {confirm: 'Your subscriptions at every services are going to be cancelled are you sure ?'} %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
