<div class="addresses-container col-12 tab-pane fade px-4 <%= params[:active_tab] == 'addresses' ? 'show active' : '' %>" id="pills-addresses" role="tabpanel">
  <h2 class="mb-4"><%= t('users.addresses.title') %></h2>
  <span class="subtitle"><%= t('users.addresses.current') %></span>
  <div class="address-card d-flex align-items-center active-address my-4 px-4">
    <i class="fas fa-map-marker-alt mr-3"></i>
      <span class="address" id="active_address"> <%= active_address.formatted %> </span>
  </div>
  <span class="subtitle"><%= t('users.addresses.previous') %></span>
  <% addresses.each do |address| %>
    <div class="addresses-card-wrapper" data-id="<%= address.id %>" data-reflex="click->AddressReflex#default" >
      <div class="address-card p-4 d-flex align-items-center my-3"  >
        <i class="fas fa-map-marker-alt unactive mr-3"></i>
        <span class="unactive address"> <%= address.formatted %> </span>
      </div>
    </div>
  <% end %>
  <div class="addresses-card-wrapper my-4">
    <div class="address-input-wrapper p-3 d-flex align-items-center" data-profile-target="addAddressButton" data-action='click->profile#toggleAddressAutocomplete'>
      <%= image_tag(asset_path('users/addresses/plus-icon.png'), class: 'mr-3 plus-img') %>
      <span class="address" id="add"><%= t('users.addresses.add') %></span>
    </div>
    <div class="border-0 align-items-center d-none" data-profile-target="addAddressInput">
      <div class="w-100 mb-4">
        <%= simple_form_for(address) do |f| %>
        <div class="d-flex align-items-center justify-content-between form-address mb-4">
          <%= image_tag(asset_path('users/addresses/plus-icon.png'), class: 'position-absolute plus-img') %>
          <%= f.input :street,
          autofocus: true,
          placeholder: t('users.addresses.form.placeholder.street'),
          required: true,
          label: false,
          input_html: { class: 'border-0 w-100', data: {
          profile_target: 'addressInput',
          reflex_dataset:'combined', action: 'keyup->profile#cleanCountryCode'
          }}%>
          <%= f.hidden_field :zipcode, id:'address_zipcode' %>
          <%= f.hidden_field :city, id:'address_city' %>
          <%= f.hidden_field :algolia_country_code, id: 'algolia_country_code' %>
        </div>
        <div class="actions d-flex flex-column mt-4 text-center">
          <button data-reflex="click->AddressReflex#create" data-reflex-dataset=“combined” class="btn-main"><%= t('users.addresses.cta') %></button>
          </div>
        <% end %>
        <span id="error" class="text-danger"></span>
      </div>
    </div>
  </div>
</div>
