<div class="col-12 profil-form-wrapper mb-5 tab-pane fade px-4 <%= params[:active_tab] == 'profile' ? 'show active' : '' %>" id="pills-profile" role="tabpanel" data-reflex-root=".profil-form-wrapper">
  <div class="title d-flex align-items-center justify-content-between mb-4">
    <h2><%= t('users.profil.title') %></h2>
    <%= link_to edit_user_registration_path(current_user) do %>
      <i class="fad fa-user-circle purple"></i>
    <% end %>
  </div>
  <div data-profile-target="errors" class=" mt-2 text-danger font-weight-bold"></div>
  <div class="flash mb-2" data-profile-target="spinner">
    <div class="spinner-border text-success" data-profile-target="wheel"></div>
    <span class="ml-2 text-success" data-profile-target="savingText"><%= t('users.profil.saving') %></span>
  </div>
  <%= simple_form_for user, html: {id:"profile", class: 'form-base'}, data: {reflex: "submit->UserReflex#submit" } do |f| %>
  <div class="d-flex justify-content-between first-row">
    <div class="mr-1">
      <%= f.input :first_name, required: false %>
    </div>
    <div class="ml-1">
      <%= f.input :last_name, required: false %>
    </div>
  </div>
    <%= f.input :email, required: false, label: 'E-mail' %>
    <%= f.simple_fields_for :person  do |s| %>
      <%= s.input :phone, required: false, input_html: {data: {profile_target: 'phone'}} %>
      <%= s.input :birthdate, as: :string,
        required: false,
        input_html: { value: (current_user.person.birthdate.strftime("%d-%m-%Y") if current_user.person) ,class: 'datepicker width', data: {controller: "flatpickr", flatpickr_date_format: "d-m-Y", flatpickr_max_date: Time.zone.now - 18.years}}%>
      <%= s.input :birth_city , required: false, input_html: {data: {profile_target: 'birthCity'}} %>
    <% end %>
    <span class="mandatory mt-0"><%= t('devise.registrations.new.mandatory') %></span>
    <%= f.button :submit, t('users.profil.submit'), class:'btn-main w-100 border-0 mt-4' %>
  <% end %>
</div>
