<div class="col-12 subscriptions-addresses-container px-4 fade tab-pane <%= params[:active_tab] == 'subscriptions' ? 'show active' : '' %>" id="pills-subscriptions" role="tabpanel" data-controller="animate">
  <h2 class="mb-4"><%= t('users.subscriptions.title') %></h2>
  <div class="subscriptions-wrapper">
    <% if subscriptions.blank? %>
      <div class="no-offers w-100 text-center pt-3">
        <h5 class="mb-5"><%= t('users.subscriptions.no_subscription') %></h5>
        <%= link_to t('users.subscriptions.see_offers'), dashboard_index_path, class: "btn-main" %>
      </div>
    <% else %>
      <% subscriptions.sort_by{ |s| s.state }.each do |subscription| %>
        <%= render 'users/mobile/subscription', subscription: subscription %>
      <% end %>
    <% end %>
  </div>
</div>
