<div class="subscription-card mb-3 px-2 py-3 w-100"  data-action='click->animate#displaySubscriptionCard' data-animate-target="card" data-id="<%= subscription.id %>">
  <div class="main-card">
    <div class="d-flex align-items-center mb-2 px-2">
      <div class="d-flex align-items-center w-100 justify-content-between">
        <%= image_tag(subscription.product.company.logo_url, class:"logo") %>
        <div class="d-flex flex-column justify-content-center column">
          <span class="title"><%= subscription.product.company.name %></span>
          <span class="price"><%= subscription.product.format_price %>/<%= t('users.subscription.month') %></span>
        </div>
          <%= image_tag(asset_path("categories/#{subscription.product.category.sku}.png"), class:'company-picto') %>
        <div class="d-flex flex-column justify-content-center align-items-center column">
          <span class="status <%= subscription.state %>"><%= t("users.subscription.#{subscription.state}") %></span>
          <span class="date"><%= subscription.created_at.strftime('%m/%d/%Y') %></span>
        </div>
        <i class="fas fa-sort-down ml-2 purple" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="dropdown-card d-none">
    <div class="subscription-details d-flex flex-column pt-2 pb-4">
      <span class="main-title mb-2"><%= t('users.subscription.subscription_details') %></span>
      <span class="title"><%= t('users.subscription.status') %></span>
      <ul>
        <li><span class="status <%= subscription.state %>"><i class="<%= subscription.icon_state %>"></i> <%= t("users.subscription.#{subscription.state}") %></span></li>
      </ul>
      <span class="title"><%= t('users.subscription.provider') %></span>
      <ul>
        <li><%= subscription.product.company.name %></li>
      </ul>
      <span class="title"><%= t('users.subscription.plan') %></span>
      <ul>
        <li><%= subscription.product.name %></li>
      </ul>
      <span class="title"><%= t('users.subscription.price') %></span>
      <ul>
        <li><%= subscription.product.format_price %>/<%= t('users.subscription.month') %></li>
      </ul>
      <% if subscription.product_is_wifi? %>
        <span class="title"><%= t('users.subscription.setup_price') %></span>
        <ul>
          <li><%= subscription.product.format_setup_price %></li>
        </ul>
      <% else %>
        <span class="title"><%= t('users.subscription.sim_card_price') %></span>
        <ul>
          <li><%= subscription.product.format_sim_card_price %></li>
        </ul>
      <% end %>
      <% if !subscription.product.obligation %>
        <span class="title"><%= t('users.subscription.time_contract') %></span>
        <ul>
          <li><%= subscription.product.time_contract %> <%= t('users.subscription.months') %></li>
        </ul>
      <% else %>
        <span class="title"><%= t('users.subscription.time_contract') %></span>
        <ul>
          <li><%= t('users.subscription.no_obligation').html_safe %></li>
        </ul>
      <% end %>
      <% if subscription.product_is_wifi? %>
        <span class="title"><%= t('users.subscription.data_speed') %></span>
        <ul>
          <li><%= subscription.product.data_speed %></li>
        </ul>
      <% else %>
        <span class="title"><%= t('users.subscription.data_limit') %></span>
        <ul>
          <li><%= subscription.product.format_data %></li>
        </ul>
      <% end %>
    </div>
    <div class="subscription-details d-flex flex-column py-4 border-0">
      <span class="main-title mb-2"><%= t('users.subscription.subscriber_details') %></span>
      <span class="title"><%= t('users.subscription.first_name') %></span>
      <ul>
        <li><%= subscription.address.user.first_name %></li>
      </ul>
      <span class="title"><%= t('users.subscription.last_name') %></span>
      <ul>
        <li><%= subscription.address.user.last_name %></li>
      </ul>
      <span class="title"><%= t('users.subscription.email') %></span>
      <ul>
        <li><%= subscription.address.user.email %></li>
      </ul>
      <span class="title"><%= t('users.subscription.birthdate') %></span>
      <ul>
        <li><%= subscription.address.user.person.birthdate.strftime('%m/%d/%Y') %></li>
      </ul>
      <span class="title"><%= t('users.subscription.phone') %></span>
      <ul>
        <li><%= subscription.address.user.person.phone %></li>
      </ul>
      <span class="title"><%= t('users.subscription.address') %></span>
      <ul>
        <li><%= subscription.address.street %></li>
      </ul>
      <% if subscription.delivery_address %>
        <span class="title"><%= t('users.subscription.delivery_address') %></span>
        <ul>
          <li><%= subscription.delivery_address %></li>
        </ul>
      <% end %>
      <% if subscription.billing %>
        <span class="title"><%= t('users.subscription.holder_name') %></span>
        <ul>
          <li><%= subscription.billing.holder_name %></li>
        </ul>
        <span class="title"><%= t('users.subscription.account_number') %></span>
        <ul>
          <li><%= subscription.billing.account_number %></li>
        </ul>
        <span class="title">IBAN</span>
        <ul>
          <li><%= subscription.billing.iban %></li>
        </ul>
        <span class="title">BIC</span>
        <ul>
          <li><%= subscription.billing.iban %></li>
        </ul>
        <span class="title"><%= t('users.subscription.bank') %></span>
        <ul>
          <li><%= subscription.billing.bank %></li>
        </ul>
        <span class="title"><%= t('users.subscription.billing_address') %></span>
        <ul>
          <li><%= subscription.billing.address %></li>
        </ul>
      <% end %>
    </div>
    <div class="actions d-flex flex-column">
      <% if subscription.state == 'draft' %>
      <%= link_to t('users.subscription.cta.resume_subscription'), subscription.path_to_first_step, class: 'btn-main text-center mb-3' %>
      <%= link_to t('users.subscription.cta.abort'), abort_subscription_path(subscription), method: :post, data: {confirm: t('.popup')}, class: "abort text-center" %>
      <% elsif subscription.state == 'pending_processed' %>
        <%= link_to t('users.subscription.cta.pay_to_activate'), subscription_payment_path(subscription), class: "btn-main text-center mb-3", data: { turbolinks: false } %>
      <% end %>
      <% if subscription.state != 'draft' %>
        <span class="cancel text-center"><%= t('users.subscription.cta.cancel') %></span>
      <% end %>
    </div>
  </div>
</div>
