<div class="col-12 subscriptions-addresses-container fade tab-pane <%= params[:active_tab] == 'subscriptions' ? 'show active' : '' %>" id="pills-subscriptions" role="tabpanel" data-controller="animate">
  <h2 class="mb-4"><%= t('users.subscriptions.title') %></h2>
  <div class="subscriptions-wrapper">
    <% subscriptions.order(state: :asc).each do |subscription| %>
      <% if subscription.product.country == current_user.active_address.country %>
        <%= render 'users/mobile/subscription', subscription: subscription %>
      <% end %>
    <% end %>
    <% if current_user.user_subscriptions_country.blank?  %>
    <div class="no-offers w-100 text-center pt-3">
      <h5 class="mb-5"><%= t('.no_subscription') %></h5>
      <%= link_to t('users.subscriptions.see_offers'), dashboard_index_path, class: "btn-main" %>
    </div>
    <% end %>
  </div>
</div>
