<div class="modal modal-flat fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="top-nav d-flex justify-content-between align-items-center mb-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fad fa-times"></i></button>
          <span class="main-title"><%= t('flats.index.filters.title') %></span>
          <%= link_to t('flats.index.filters.clear').html_safe, clear_filters_path(flat_preference.location, flat_preference.flat_type), method: :post, class: 'link purple font-weight' %>
      </div>
      <div class="modal-body">
        <div class="filters-container w-100">
          <div class="filter-wrapper mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <span class="title"><%= t('flats.index.filters.price_range') %></span>
              <span class='grey frequency'><%= t('flats.index.filters.frequency') %></span>
            </div>
            <div class="form">
              <%= simple_form_for flat_preference, data: {flats_target: 'form'}, html: {method: :put} do |f| %>
                  <div class="mb-4 text-center text-align-center d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-between align-items-center">
                      <%= f.input :range_min_price, input_html: {value: range_min_price / 100, data: {min_value: start_min_price / 100 }, class: 'price-input'}, label: false %>
                      <%= f.input :range_max_price, input_html: {value: range_max_price / 100, data: {max_value: start_max_price / 100 }, class: 'price-input text-right'}, label: false %>
                    </div>
                    <div id="slider-range" data-flats-target="slider"></div>
                  </div>
                  <span class="title mb-3"><%= t('flats.index.filters.amenities') %></span>
                  <% FlatPreference::FACILITIES[flat_preference.flat_type.to_sym].each do |facility| %>
                    <div class="round my-3">
                      <%= f.check_box facility.to_sym, checked: flat_preference.facilities.include?(facility), data: { action: "change->flats#filterByFacility"} %>
                      <span><%= t("flats.index.filters.#{facility}") %></span>
                    </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
