<div class="subnavbar-desktop">
  <div class="d-flex align-items-center justify-content-between">
    <%= link_to providers_path(location), class: 'location d-flex align-items-center' do %>
      <i class="far fa-chevron-left mr-4"></i>
      <span><%= t("providers.index.#{type}") %></span>
    <% end %>
    <div class="partner">
      <span class="subline">Partnered by</span>
      <%= image_tag(asset_path("flats/partners/#{FacilitiesHelper::PROVIDERS[type]}.png"), width: '70px') %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between my-4">
    <span class="location"><%= location.capitalize %></span>
    <%= simple_form_for flat_preference, html: {method: :put, id: 'edit_move_dates', class: 'd-flex align-items-center'} do |f| %>
      <i class="fad fa-calendar purple"></i>
      <%= f.input :move_in, as: :string, label: false,
         required: true,
         input_html: { class: 'background-white datepicker', id: 'date-input', data: { controller: 'flatpickr',
          action: 'change->flats#filterByDates', flatpickr_default_date: [move_in.to_date, move_out.to_date], flatpickr_alt_input: true, flatpickr_alt_format: '%e %b', flatpickr_date_format: 'Y-m-d', flatpickr_mode: 'range'} } %>
    <% end %>
    <span class="filters-button"><i class="fas fa-sliders-h purple mr-2"  data-toggle="modal"  data-target="#filtersModal"></i><%= t('flats.index.filters.title') %></span>
  </div>
</div>
