<div class="flat-card-large mb-4 row" id="<%= flat['code'] %>" data-action="click->map#moveMap">
  <div class="col-7">
    <div data-controller="carousel" class="swiper-container position-relative" data-carousel-options-value='{"pagination": {"el": ".swiper-pagination"}}'>
      <div class="swiper-wrapper position-relative">
        <% flat["attributes"]["photos"].first(3).each do |image| %>
          <div class="swiper-slide img-box" style="background-image:url(<%= flat_image(image['hash']) %>);"></div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
  </div>
  </div>

  <div class="col-5 d-flex flex-column justify-content-between">
    <span class="name mb-2"><%= flat['attributes']['accommodation_offer']['title'] %></span>
    <span class="pricing">
      <%= flat_price(flat) %>
    </span>
    <%= link_to t('flats.index.details'), flat_path(location, type, flat['id']), class: 'btn-flat-card' %>
  </div>
</div>

