
<div class="category-card-mobile mb-3 px-2 py-3 <%= category.open ? '' : 'disabled' %>">
  <%= link_to category_banks_path(category), class: 'w-100 h-100 d-flex justify-content-between align-items-center' do %>
    <%= image_tag(asset_path("pages/dashboard/" + category.sku + "-card.png"), class: 'mr-3') %>
    <div class="details">
      <span class="name"><%= t("pages.dashboard_index.#{category.sku}.name") %></span>
      <br>
      <span class="subtitle"><%= t("pages.dashboard_index.#{category.sku}.subtitle_mobile") %></span>
    </div>
    <% if category.open %>
      <span class="time"><%= t("pages.dashboard_index.time", time: category.form_timer) %></span>
    <% else %>
      <span class="coming-soon"><%= t("pages.dashboard_index.coming_soon_mobile") %></span>
    <% end %>
  <% end %>
</div>




