<div class="category-card col-md-4 <%= category.open ? '' : 'disabled' %>">
  <%= link_to category_products_path(category), class: 'mb-3 d-flex flex-column align-items-center' do %>
  <div class="w-100 text-center image p-3"><%= image_tag(asset_path("pages/dashboard/" + category.sku + "-card.png")) %></div>
  <div class="details px-3 py-2 w-100 d-flex flex-column justify-content-between">
    <div class="d-flex align-items-center justify-content-between">
      <span class="name"><%= t("pages.dashboard_index.#{category.sku}.name") %></span>
      <span class="time"><%= t("pages.dashboard_index.time", time: category.form_timer) %></span>
    </div>
    <span class="subtitle"><%= t("pages.dashboard_index.#{category.sku}.subtitle") %></span>
    <span class="description"><%= t("pages.dashboard_index.#{category.sku}.description") %></span>
    <span class="mt-2 d-flex offers align-items-center"><%= image_tag(asset_path("dashboard/" + current_user.country.downcase.split(' ').join('-') + ".png"), class:'flag mr-3') %> + <%= category.products.length %> <%= t("pages.dashboard_index.offers") %></span>
  </div>
  <% if category.open %>
    <div class="state open w-100">
      <div class="see-offers d-flex align-items-center justify-content-center h-100">
        <span><%= t("pages.dashboard_index.see_offers") %></span>
        <%= image_tag(asset_path('dashboard/arrow-right.png'), class: 'arrow ml-2') %>
      </div>
      <span class="subtitle"><%= t("pages.dashboard_index.#{category.sku}.subtitle") %></span>
      <span class="description"><%= t("pages.dashboard_index.#{category.sku}.description") %></span>
      <span class="mt-2 d-flex offers align-items-center"><%= image_tag(asset_path(current_user.country.downcase.split(' ').join('-') + '-flag.png'), class:'flag mr-3') %> + <%= category.products.length %> <%= t("pages.dashboard_index.offers") %></span>
    </div>
    <% if category.open %>
      <div class="state open w-100">
        <div class="see-offers d-flex align-items-center justify-content-center h-100">
          <span><%= t("pages.dashboard_index.see_offers") %></span>
          <i class="fas fa-arrow-circle-right ml-2"></i>
        </div>
      </div>
    <% else %>
      <div class="state coming-soon w-100">
        <div class="coming-soon d-flex align-items-center justify-content-center h-100">
          <span><%= t("pages.dashboard_index.coming_soon") %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

