<div class="container providers-container py-1" data-controller="providers">
  <div data-providers-target="wrapper">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <%= link_to real_estate_path, class: 'location d-flex align-items-center' do %>
        <i class="far fa-chevron-left mr-4"></i>
        <span><%= current_user.flat_preference.location.capitalize %></span>
        <% end %>
        <%= render 'providers/mobile/subnavbar', flat_preference: current_user.flat_preference,
          move_in: current_user.flat_preference.move_in, move_out: current_user.flat_preference.move_out %>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12">
        <%= render 'providers/mobile/count', count: @count %>
      </div>
    </div>
    <div class="providers-wrapper">
      <%= render 'providers/mobile/categories', uniacco_flats: @uniacco_flats, uniplaces_flats: @uniplaces_flats, flatshare_flats: @flatshare_flats, upscale_flats: @upscale_flats %>
    </div>
  </div>
  <div class="text-center spinner-container d-none" data-providers-target="spinner" >
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
