<div class="container providers-container">
  <div class="row">
    <div class="col-12">
      <div class="count-results text-center">
        <span><%= t('providers.index.count', count: @flats.count) %></span>
      </div>
    </div>
    <div class="col-12">
      <div class="providers-wrapper">
        <div class="title d-flex align-items-center justify-content-between">
          <h3><%= t('providers.index.flatshare') %><i class="far fa-info-circle grey ml-1"  data-toggle="tooltip" data-placement="top" title="This is an explanation tooltip"></i></h3>
          <%= link_to t('providers.index.show_all'), flats_index_path(params[:query], 'flatshare'),class: 'link'%>
        </div>
        <div class="flats-card-scroller pt-0">
          <ul class="hs" data-animate-target="container">
            <% @uniacco_flats.first(5).map do |flat| %>
              <li class="item">
                <%= render 'providers/mobile/card', flat: flat, type: 'flatshare', location: params[:query] %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="title d-flex align-items-center justify-content-between">
          <h3><%= t('providers.index.student_housing') %><i class="far fa-info-circle grey ml-1"  data-toggle="tooltip" data-placement="top" title="This is an explanation tooltip"></i></h3>
          <span class='link'><%= t('providers.index.show_all') %></span>
        </div>
        <div class="flats-card-scroller pt-0">
          <ul class="hs" data-animate-target="container">
            <% @uniacco_flats.first(5).map do |flat| %>
              <li class="item">
                <%= render 'providers/mobile/card', flat: flat, type: 'flatshare', location: params[:query] %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

