<div class="providers-container" data-controller="providers">
  <div data-providers-target="wrapper">
    <div class="banner px-3 mb-4" style="background-image: url(<%= asset_path 'flats/providers/banner-background.jpg' %>);">
      <div class="subnavbar-wrapper">
        <%= link_to real_estate_path, class: 'location d-flex align-items-center' do %>
        <i class="far fa-chevron-left mr-4"></i>
        <span><%= current_user.flat_preference.location.capitalize %></span>
        <% end %>
        <%= render 'providers/mobile/subnavbar', flat_preference: current_user.flat_preference,
          move_in: current_user.flat_preference.move_in, move_out: current_user.flat_preference.move_out %>
      </div>
      <div class="mb-3">
        <h1 class="white mb-4"><%= t('providers.index.title') %></h1>
        <span class="white"><%= t('providers.index.subtitle') %></span>
      </div>
    </div>
  <div class="container">
    <div class="providers-wrapper">
      <%= render 'providers/mobile/categories', uniacco_flats: @uniacco_flats, uniplaces_flats: @uniplaces_flats, flatshare_flats: @flatshare_flats, upscale_flats: @upscale_flats %>
    </div>
  </div>
  <div class="text-center spinner-container d-none" data-providers-target="spinner" >
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
