<% if billing_details.present? %>
  <div class="col-12">
    <span class="title"><%= t('flats.show.rental_conditions') %></span>
    <div class="billing-details mt-3">
      <div class="d-flex align-items-center justify-content-between">
        <span class="subtitle"><%= t('flats.show.contract') %></span>
        <span class="value"><%= t("flats.show.frequency.#{billing_details[:type].downcase}") %></span>
      </div>
      <hr class="w-100">
      <span class="subtitle">Bills included</span>
       <div class="facilities d-flex flex-wrap">
        <% billing_details[:included_bills].each do |bill|  %>
          <div class="facility d-flex align-items-center px-2 my-2"><%= bill %></div>
        <% end %>
      </div>
      <hr class="w-100">
      <div class="d-flex align-items-center justify-content-between">
        <span class="subtitle"><%= t('flats.show.cancellation_policy') %></span>
        <span class="value"><%= billing_details[:cancellation_policy] %></span>
      </div>
      <hr class="w-100">
      <div class="d-flex align-items-center justify-content-between">
        <span class="subtitle"><%= t('flats.show.deposit') %></span>
        <% price = billing_details[:deposit].split[0] %>
        <% currency = billing_details[:deposit].split[1].downcase %>
        <span class="value"><%= manage_currency(currency) + price %></span>
      </div>
      <hr class="w-100">
      <div class="d-flex align-items-center justify-content-between">
        <span class="subtitle"><%= t('flats.show.min_stay') %></span>
        <span class="value"><%= billing_details[:min_nights].to_s + ' ' + t('flats.show.nights') %></span>
      </div>
      <hr class="w-100">
    </div>
  </div>
<% end %>
