<div class="col-12 <%= 'd-none' if rooms.blank? %>" data-controller="room">
  <div class="room-details">
    <span class='title mb-2'><%= t('flats.show.more_rooms') %></span>
    <div class="flats-card-scroller pt-0">
      <ul class="hs">
        <% rooms.each do |room| %>
          <li class="item">
            <div class="flat-card d-flex">
              <div class="img-box mr-3 h-100"  style="background-image:url(<%= room['photos'][0]['id'] %>);">
              </div>
              <div class="details d-flex flex-column justify-content-around">
                <div class="name">
                  <%= config['name'] %>
                </div>
                <div class="pricing">
                  <%= config['disp_price'] %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
