<% datas = [] %>
<% datas.push('unlimited_data') if product.unlimited_data? %>
<% datas.push('unlimited_call') if product.unlimited_call? %>
<% datas.push('without_obligation') if !product.obligation %>
<div class="product-card mb-4 w-100" data-controller="modal"  data-price="<%= product.price %>" data-groups="<%= datas %>" id=<%= product.id %>>
  <div class="d-flex align-items-center mb-3">
    <div class="d-flex align-items-center justify-content-center box-offer">
      <%= image_tag(product.company.logo_url, class: 'logo') %>
    </div>
    <div class="d-flex flex-column offers w-100">
      <h5 class="name mt-2"><%= product.company.name %> <%= product.name %></h5>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center mr-4 w-100">
          <% if product.obligation %>
            <div class="offer">
              <div class="text-center">
                <%= image_tag(asset_path('products/contract-black.png'), class:'picto') %><br><span class="font-weight"><%= product.time_contract %> <%= t('products.card.months') %></span>
              </div>
            </div>
          <% else %>
            <div class="offer">
              <div class="text-center">
                <%= image_tag(asset_path('products/contract-black.png'), class:'picto') %><br><span class="font-weight"><%= t('products.card.no_obligation_inline').html_safe %></span>
              </div>
            </div>
          <% end %>
          <div class="margin"></div>
          <div class="offer">
            <div class="text-center">
              <%= image_tag(asset_path('products/wifi-black.png'), class:'picto') %><br><span class="font-weight"><%= product.format_data %></span>
            </div>
          </div>
          <div class="margin"></div>
          <% if product.sim_card_price > 0 %>
            <div class="offer">
              <div class="text-center">
                <%= image_tag(asset_path('products/sim-card-black.png'), class:'picto') %><br><span class="font-weight"><%= product.format_sim_card_price %></span>
              </div>
            </div>
            <div class="margin"></div>
          <% else %>
            <div class="offer">
              <div class="text-center">
                <%= image_tag(asset_path('products/sim-card-black.png'), class:'picto') %><br><span class="font-weight"><%= t('products.card.free') %></span>
              </div>
            </div>
            <div class="margin"></div>
          <% end %>
          <div class="price text-center">
            <span class="number"><%= product.format_price %></span><br>
            <span class="frequency"><%= t('products.card.frequency').html_safe %></span>
          </div>
        </div>
        <div class="d-flex flex-column actions">
          <%= link_to t('products.card.select_offer').html_safe, subscriptions_path(product_id: product.id, product_type: product.class.name), method: :post, id: product.id, class:'btn-card mb-2'  %>
          <%= link_to t('products.card.see_details'), modal_mobile_path(product), data: {target: '#exampleModal',
          action: 'click->modal#loadModal', href: modal_mobile_path(product), toggle: 'modal'}, id: 'modal-link', class:"text-center purple modal-link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex features align-items-center">
    <span class="country mr-3"><i class="fas fa-map-marker-alt mr-2 cyan"></i><span><%= product.desc_preview %></span></span>
    <% product.special_offers.first(4).each do |offer| %>
      <span class="mr-3 special-offer"><%= offer.name %></span>
    <% end %>
  </div>
</div>
