<div class="category my-4">
  <% if !coming_soon && flats.present? %>
  <div class="title d-flex align-items-center justify-content-between mb-3">
      <h2><%= t("providers.index.#{type}") %></h2>
      <%= link_to t('providers.index.show_all').html_safe, flat_preference_path(flat_preference_id, type: type), method: :put, class: 'purple link'%>
  </div>
  <% end %>
  <div class="flats">
    <% if coming_soon || flats.blank? %>
      <%= render 'providers/desktop/disabled-card', coming_soon: coming_soon, type: type, message: (coming_soon ? "coming_soon" : "no_results") %>
    <% else %>
      <% flats.first(4).each do |flat| %>
        <% if type == "student_housing" %>
          <%= render 'providers/desktop/card', flat: flat, type: type, location: location, code: flat['code'], image_url: flat['images'][0]['url'], name: flat['name'], price: "#{flat['disp_price']} / #{flat['billing'].downcase}" %>
        <% elsif type == "entire_flat" %>
          <%= render 'providers/desktop/card', flat: flat, type: type, location: location,  code: flat['id'], image_url: flat_image(flat['attributes']['photos'][0]['hash']), name: flat['attributes']['accommodation_offer']['title'], price: flat_price(flat) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
