<div class="providers-container" data-controller="providers">
  <div data-providers-target="wrapper">
    <div class="banner px-3 mb-4" style="background-image: url(<%= asset_path 'flats/providers/banner-background.jpg' %>);">
      <div class="mb-3 left">
        <h1><%= t('providers.index.title') %></h1>
        <span><%= t('providers.index.subtitle') %></span>
      </div>
      <%= simple_form_for @flat_preference, html: {method: :put, class: 'datepicker-box', data: { providers_target:'form'}} do |f| %>
      <div class="date-range-input position-relative">
        <%= f.input :move_in, as: :string, label: false,
           required: true,
           input_html: { class: 'background-white datepicker', id: 'date-input', data: { controller: 'flatpickr',
            action: 'change->providers#filterByDates', flatpickr_default_date: [@flat_preference.move_in.to_date, @flat_preference.move_out.to_date], flatpickr_alt_input: true, flatpickr_alt_format: '%e %b', flatpickr_date_format: 'Y-m-d', flatpickr_mode: 'range'} } %>
      <% end %>
    </div>
    </div>
    <div class="providers-wrapper container mt-3">
      <%= render 'providers/desktop/categories', uniacco_flats: @uniacco_flats, uniplaces_flats: @uniplaces_flats, flatshare_flats: @flatshare_flats, upscale_flats: @upscale_flats %>
    </div>
  </div>
  <div class="text-center spinner-container d-none w-100" data-providers-target="spinner" >
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
