<div class="product-card d-flex flex-column pl-lg-3 pr-lg-3 pb-4 pt-4 mb-4">
  <div class="infos-wrapper d-flex align-items-lg-center justify-content-around justify-content-lg-between p-lg-2 mb-2 mb-lg-0">
    <div class="info d-flex flex-column border-right">
      <%= image_tag(asset_path(product.logo_url), style:"height: 35px;", class:"mr-4") %>
    </div>
    <div class="info d-flex flex-column p-lg-2 blue-bg">
      <span class="top"><%= product.time_contract %></span>
      <span class="bot">contract</span>
    </div>
    <div class="info d-flex flex-column p-lg-2 blue-bg">
      <span class="top"><%= product.data_limit %></span>
      <span class="bot">data</span>
    </div>
    <div class="info d-lg-flex flex-column d-none p-lg-2">
      <span class="top"><%= product.unlimited_call ? 'unlimited' : product.call_limit %></span>
      <span class="bot">calls</span>
    </div>
    <div class="info d-lg-flex flex-column d-none p-lg-2">
      <span class="top">unlimited</span>
      <span class="bot">texts</span>
    </div>
    <div class="price d-flex flex-column p-lg-2">
      <span class="top text-center">€<%= product.price %></span>
      <span class="bot">per month</span>
    </div>
  </div>
  <div class="details-wrapper d-flex align-items-center justify-content-around justify-content-lg-between mx-2">
    <div class="infos ml-lg-0">
      <div class="info">
        <span class="mr-5"><%= product.description %></span>
        <span class="grey"><%= product.special_offer %></span>
      </div>
    </div>
    <div class="actions d-flex align-items-center justify-content-end">
      <%= link_to 'Details', modal_product_path(product), data: {controller: 'product', target: '#exampleModal',
        action: 'click->product#loadProduct', href: modal_product_path(product), toggle: 'modal'}, class:"mr-4 detail" %>
      <% if product.eligible?(current_user) %>
        <%= link_to 'Select', new_category_product_subscription_path(product.category, product), class:'btn-card' %>
      <% else %>
        <%= link_to 'Select', root_path, class:'btn-card' %>
      <% end %>
    </div>
  </div>
</div>
