<div class="container products-container" data-controller="filters">
  <%= render 'address_modal' %>
  <%= render 'filters_mobile', products: @products %>
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="title mb-0"><%= t('products.index.title') %></h1>
      <i class="fas fa-sliders-h purple" data-toggle="modal" data-target="#filtersModal"></i>
    </div>
  </div>
    <div class="col-12">
      <span class="d-none no-result" data-filters-target="noResult"><%= t('products.index.no_result').html_safe %></span>
      <div class="products-cards-wrapper">
        <% @products.sort_by{ |product| product.price }.each do |product| %>
          <% if product.is_wifi? %>
            <%= render 'wifi_card_mobile', product: product %>
          <% elsif product.is_mobile?%>
            <%= render 'mobile_card_mobile', product: product %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
