<div class="filters-container d-lg-flex flex-column d-none">
  <span class="title mb-3"><%= t('filter.title') %></span>
  <hr>
  <%= search_form_for @q, data: {controller: 'range-slider'} do |f| %>
  <%= f.hidden_field :currency, value: products.first.sim_card_price.currency.symbol, data: {range_slider_target: 'currency'} %>
  <%= f.hidden_field :category_id, value: products.first.category.slug %>
  <div class="filter-wrapper mb-3">
    <div class="round mb-2">
      <%= check_box_tag('q[unlimited_data_true]', 1, params[:q] && params[:q][:unlimited_data_true].present?,
      onclick: ("this.form.submit();")) %>
      <span class="ml-2"><%= t('filter.unlimited_data') %></span>
    </div>
    <div class="round mb-2">
      <%= check_box_tag('q[unlimited_call_true]', 1, params[:q] && params[:q][:unlimited_call_true].present?,
      onclick: ("this.form.submit();")) %>
      <span class="ml-2"><%= t('filter.unlimited_call') %></span>
    </div>
    <div class="round  mb-2">
      <%= check_box_tag('q[obligation_false]', 1, params[:q] && params[:q][:obligation_false].present?,
      onclick: ("this.form.submit();")) %>
      <span class="ml-2"><%= t('filter.no_contract') %></span>
    </div>
  </div>
  <div class="form-base filter-wrapper my-2 d-flex flex-column justify-content-between">
    <span class="price-label"><%= t('filter.by_price') %></span>
    <div class="bot-box">
      <div class="d-flex justify-content-around align-items-center">
        <%= f.text_field :price_gteq, class:'pl-4 price-input', value: "1#{@products.first.sim_card_price.currency.symbol}", placeholder: 'min', readonly: true %>
        <%= f.text_field :price_lteq, class:'pl-4 price-input', value: "50#{@products.first.sim_card_price.currency.symbol}", placeholder: 'max', readonly: true  %>
      </div>
      <div id="slider-range" data-range-slider-target="input" onclick="document.getElementById('product_search').submit();"></div>
    </div>
  </div>
  <% end %>
</div>
