<div class="filters-container w-100">
  <div class="filter-wrapper mb-3">
    <div class="d-flex align-items-center justify-content-between">
      <span class="title"><%= t('.title') %></span>
      <%= link_to t('.reset'), category_products_path(@category), data: { turbolinks: false }, class: 'reset' %>
    </div>
    <div class="round my-3" data-action="click->filters#mobileFilter">
      <%= check_box_tag :unlimited_data %>
      <span class="ml-3"><%= t('.unlimited_data') %></span>
    </div>
    <div class="round mb-3" data-action="click->filters#mobileFilter">
      <%= check_box_tag :unlimited_call %>
      <span class="ml-3"><%= t('.unlimited_call') %></span>
    </div>
    <div class="round mb-4" data-action="click->filters#mobileFilter">
      <%= check_box_tag :obligation %>
      <span class="ml-3"><%= t('.no_contract') %></span>
    </div>
    <% unit = current_user.country === 'France' ? '€' : '£' %>
    <span class="price-label"><%= t('.by_price', unit: unit) %></span>
    <div class="bot-box mt-4 mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <span class="price-input" id="min">1</span>
        <span class="price-input" id="max">50</span>
      </div>
      <div id="slider-range" class="mt-3" data-filters-target="input"></div>
    </div>
  </div>
</div>
