<% datas = [] %>
<% datas.push('u_obligation') if !product.obligation %>
<% datas.push('l_obligation') if product.obligation %>
<div class="product-card px-3 py-4 mb-4 w-100" data-controller="modal" data-price="<%= product.price %>" data-groups="<%= datas %>" id=<%= product.id %>>
  <div class="d-flex align-items-center mb-3">
    <div class="d-flex align-items justify-content-center mr-3">
      <%= image_tag(product.logo_url, class: 'logo') %>
    </div>
    <div class="d-flex flex-column offers w-100">
      <h5 class="name mt-2"><%= product.company %> <%= product.name %></h5>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center mr-4 w-100">
          <div class="offer">
            <div class="d-flex flex-column align-items-center">
              <i class="fas fa-plug mb-2"></i>
              <div class="d-flex flex-column align-items-center">
                <span class="mr-1 font-weight"><%= product.format_setup_price %></span><span><%= t('products.card.setup_costs') %></span>
              </div>
            </div>
          </div>
          <div class="margin"></div>
          <% if product.time_contract != 'no' %>
            <div class="offer">
              <div class="d-flex flex-column align-items-center">
                <%= image_tag(asset_path('products/contract-black.png'), class:'picto') %><div class="d-flex"><span class="mr-1 font-weight"><%= product.time_contract %></span> <span><%= t('products.card.months') %></span></div>
              </div>
            </div>
            <div class="margin"></div>
          <% end %>
          <div class="offer">
            <div class="d-flex flex-column align-items-center">
              <%= image_tag(asset_path('products/wifi-black.png'), class:'picto ') %><div class="d-flex flex-column align-items-center"><span class="mr-1 font-weight"><%= product.data_speed %></span> <span>Ø <%= t('products.card.speed') %></span></div>
            </div>
          </div>
          <div class="margin"></div>
          <div class="price">
            <span class="number"><%= product.format_price %></span><br>
            <span class="frequency"><%= t('products.card.frequency') %></span>
          </div>
        </div>
        <div class="d-flex flex-column actions">
          <%= link_to t('products.card.select_offer').html_safe, category_product_subscriptions_path(product.category, product), method: :post, id: product.id, class:'btn-card mb-2'  %>
          <%= link_to t('products.card.see_details'), modal_product_path(product), data: {target: '#exampleModal',
          action: 'click->modal#loadModal', href: modal_product_path(product), toggle: 'modal'}, id: 'modal-link', class:"text-center purple modal-link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between features">
    <span><%= product.description %></span>
    <% if product.special_offer.nil? %>
      <% i = 3 %>
    <% else %>
      <% i = 2 %>
      <span><%= product.special_offer %></span>
    <% end %>
    <% product.product_features.take(product.product_features.size - 1).first(i).each do |feature| %>
      <span><%= feature.name %></span>
    <% end %>
  </div>
</div>
