<div class="modal modal-product fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content address">
      <div class="modal-body">
        <div class="filters-container w-100">
          <div class="filter-wrapper mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <span class="title"><%= t('products.wifi-filter.title') %></span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="far fa-times-circle"></i>
              </button>
            </div>
            <div class="round my-3" data-action="click->filters#wifiFilter">
              <%= check_box_tag :with_obligation %>
              <span class="ml-3"><%= t('products.wifi-filter.contract_only') %></span>
            </div>
            <div class="round mb-3" data-action="click->filters#wifiFilter">
              <%= check_box_tag :without_obligation %>
              <span class="ml-3"><%= t('products.wifi-filter.no_contract') %></span>
            </div>
            <% unit = current_user.country === 'France' ? '€' : '£' %>
            <span class="price-label"><%= t('products.wifi-filter.by_price', unit: unit) %></span>
            <div class="bot-box mt-4 mb-4 ml-3">
              <div class="d-flex justify-content-between align-items-center">
                <span class="price-input" id="min">1</span>
                <span class="price-input" id="max">50</span>
              </div>
              <div id="slider-range" class="mt-3" data-filters-target="input"></div>
            </div>
            <div class="w-100 text-center mt-1">
              <%= link_to t('products.wifi-filter.reset'), category_products_path(@category), data: { turbolinks: false }, class: 'reset' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
