<div class="container subscriptions-container mt-5" style="background-image:url(<%= asset_path 'bg-form.png' %>);">
  <div class="step-1 mt-3">
    <%= render 'subscriptions/steps', step: 1, title: 'Choose your offer' %>
    <%= render 'product-details'%>
    <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center justify-content-center">
        <%= render 'filters', products: @products %>
      </div>
      <div class="col-md-8">
        <h1 class="main-title mb-5 text-center">Find the best <%= @category_name == 'mobile' ? "#{@category_name} phone" : @category_name%> offers</h1>
        <div class="products-cards-wrapper">
          <% @products.each do |product| %>
            <%= render 'card', product: product %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
