<div class="container products-container">
  <figure class="big-blue-bubble position-absolute"></figure>
  <figure class="big-purple-bubble position-fixed"></figure>
  <figure class="small-yellow-bubble position-fixed"></figure>
  <figure class="small-blue-bubble position-fixed"></figure>

  <div class="step-1">
    <%= render 'subscriptions/steps', current_step: 1, title: t('.title'), subtitle: t('.subtitle'), product: @products.first, total_steps: @products.first.total_steps %>
    <%= render 'product-details'%>
    <div class="row pt-5">
      <div class="col-lg-4  d-flex justify-content-start">
        <%= render 'filters', products: @products %>
      </div>
      <div class="col-lg-8">
        <div class="products-cards-wrapper">
          <% @products.each do |product| %>
            <% if product.is_wifi? %>
              <%= render 'wifi-card', product: product %>
            <% elsif product.is_mobile?%>
              <%= render 'mobile-card', product: product %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
