<div class="container subscriptions-container mt-5" style="background-image:url(<%= asset_path 'bg-form.png' %>);">
  <div class="step-1 mt-3">
    <%= render 'billings/steps', step: 1, title: 'Choose your offer' %>
    <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center justify-content-center">
        <div class="filters-wrapper d-flex flex-column p-4">
          <span class="title font-weight">Filter your results</span>
          <span class='products-count'><%= @products.count %> deals of <%= @category.products.count %> deals</span>
          <hr>
          <%= search_form_for @q, class:'d-flex flex-column' do |f| %>
            <%= f.hidden_field :category_id, value: @products.first.category.slug %>
            <div class="input mb-1">
              <%= check_box_tag('q[unlimited_data_true]', 1, params[:q] && params[:q][:unlimited_data_true].present?,
              onclick: ("this.form.submit();"), class:'checkround') %>
              <span class='label ml-2'>Unlimited Data</span>
            </div>
            <div class="input mb-1">
              <%= check_box_tag('q[unlimited_call_true]', 1, params[:q] && params[:q][:unlimited_call_true].present?,
              onclick: ("this.form.submit();"), class:'checkround') %>
              <span class='label ml-2'>Unlimited Call</span>
            </div>
            <div class="input mb-1">
              <%= check_box_tag('q[obligation_true]', 1, params[:q] && params[:q][:obligation_true].present?,
              onclick: ("this.form.submit();"), class:'checkround') %>
              <span class='label ml-2'>Obligation</span>
            </div>
            <span class='filter-title text-center mt-3'>Filter by price</span>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="main-title mb-5 text-center">Find the best <%= @products.first.category.name %> offers</h1>
        <div class="products-cards-wrapper">
          <% @products.each do |product| %>
            <div class="product-card d-flex flex-column pl-3 pr-3 pb-4 pt-4 mb-4">
              <div class="infos-wrapper d-flex align-items-center justify-content-between">
                <div class="info d-flex flex-column p-2 border-right">
                  <%= image_tag(asset_path('sfr.png'), style:"width: 35px; height: 35px;", class:"mr-4") %>
                </div>
                <div class="info d-flex flex-column p-2">
                  <span class="top"><%= product.time_contract %> month</span>
                  <span class="bot">contract</span>
                </div>
                <div class="info d-flex flex-column p-2">
                  <span class="top"><%= product.data_limit %> Gb</span>
                  <span class="bot">for 4G data</span>
                </div>
                <div class="info d-flex flex-column p-2">
                  <span class="top">Unlimited</span>
                  <span class="bot">minutes</span>
                </div>
                <div class="info d-flex flex-column p-2">
                  <span class="top">Unlimited</span>
                  <span class="bot">texts</span>
                </div>
                <div class="price d-flex flex-column p-2">
                  <span class="top">€<%= product.price%></span>
                  <span class="bot">per month</span>
                </div>
              </div>
              <div class="details-wrapper d-flex align-items-center justify-content-between">
                <div class="infos d-flex">
                  <div class="info d-flex flex-column p-2 border-right">
                    <span>Free delivery</span>
                  </div>
                  <div class="info d-flex flex-column p-2">
                    <span>14 day returns policy</span>
                  </div>
                </div>
                <div class="actions d-flex align-items-center justify-content-end">
                  <a href="" class="mr-4 detail">Details <i class='fas fa-arrow-right'></i></a>
                  <%= link_to 'Select', new_category_product_subscription_path(product.category, product), class:'btn-card' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
