<div class="content p-lg-5 p-3 d-flex justify-content-around">
  <div class="left">
    <div class="d-sm-flex align-items-center ">
      <%= image_tag(asset_path(@product.logo_url), class:'mr-4 mb-3 mb-sm-0 logo') %><br>
      <span class='main-title'><strong><%= @product.company %> <%= @product.name %></strong></span>
    </div>
    <div class="features-wrapper mt-5">
      <% @product.product_features.each do |feature, index| %>
      <div class="feature d-flex flex-column">
        <p class="title"><strong><%= feature.name %></strong></p>
        <span class='desc mb-3'><%= feature.description %></span>
      </div>
      <% end %>
    </div>
  </div>
  <div class="right d-flex flex-column align-items-center justify-content-between justify-content-sm-around">
    <div class="pricing d-flex flex-column align-items-center ">
      <span class='price text-center'><%= @product.format_price %></span>
      <span class="sub-price text-center">per month</span>
      <%= link_to 'Select', category_product_subscriptions_path(@product.category, @product), class:'btn-main mt-3', method: :post %>
      </div>
      <div class="features-lite-wrapper">
        <div class="feature-lite d-flex justify-content-between">
          <span><%= image_tag('wifi.png') %></span>
          <span class="desc-grey"><%= @product.data_limit %></span>
        </div>
        <hr>
        <div class="feature-lite d-flex justify-content-between ">
          <span><%= image_tag('sim-picto.png', class: 'mr-3') %> </span>
          <span class="desc-grey"><%= @product.format_sim_card_price %></span>
        </div>
        <hr>
        <% if @product.obligation %>
        <div class="feature-lite d-flex justify-content-between ">
          <span><%= image_tag('contract.png', class: 'mr-3') %></span>
          <span class="desc-grey"><%= @product.time_contract %> months</span>
        </div>
        <% else %>
        <div class="feature-lite d-flex justify-content-between ">
          <span><%= image_tag('contract.png', class: 'mr-3') %></span>
          <span class="desc-grey"><strong>No obligation</strong></span>
        </div>
        <% end %>
      </div>
  </div>
</div>
