<div class="form-base">
  <div class="checkboxes-wrapper">
    <%= image_tag(asset_path('components/homepage/envelope.png')) %>
    <%= simple_form_for House.new, url: root_path do |f| %>
    <div class="checkboxes" data-controller="cart">
      <div class="d-flex justify-content-between">
        <h2 class="m-0">Starter Pack</h2>
        <div class="d-flex">
          <h2 class='m-0'><%= country.currency_symbol %></h2>
          <h2 class='m-0' data-cart-target="price" data-value="0">0</h2>
        </div>
      </div>
      <p class="black m-0">First, choose your destination</p>
      <ul>
        <li><%= f.input :country, collection: Country.all.map {|c| [c.title, c.code]}, selected: country.code, label: false, input_html: {class: 'custom-select', data: {reflex: 'change->calculatorReflex#update_country', reflex_serialize_form: true}}%></li>
      </ul>
      <p class="black">Now, please choose the services you need</p>
      <ul>
        <%= f.collection_check_boxes(:service_ids, Service.all, :id, :name, include_hidden: false) do |service| %>
          <li><%= service.label { service.check_box(checked: false, class: "custom-checkbox", data: {action: 'change->cart#updatePrice', price: Service.find_by(name: service.text).price(country)}) + t("cart.form.#{service.text}", city: country.city) } %></li>
        <% end %>
      </ul>
      <p class='black'>Free shipping included</p>
      <p>*Estimated delivery time: 1 week</p>
      <div class="invalid-feedback d-block"><%= f.error(:base) %></div>
    </div>
    <% end %>
    <%= link_to 'Get started', onboarding_path, class:'btn-main mb-3' %>
  </div>
  <hr class="mb-5">
</div>
