<div class="dashboard-navbar col-12">
  <div class="menu d-flex justify-content-evenly align-items-center position-relative">
    <%= link_to dashboard_path(active_tab: 'dashboard') do %>
      <div class="button-navigation d-flex flex-column justify-content-center align-items-center mt-2 <%= params[:active_tab] == 'dashboard' ? 'active' : '' %>">
        <i class="fad fa-tasks-alt"></i>
        <span class="nav-title">Dashboard</span>
      </div>
    <% end %>
    <%= link_to update_profile_path(active_tab: 'profile') do %>
      <div class="button-navigation d-flex flex-column justify-content-center align-items-center mt-2 <%= params[:active_tab] == 'profile' ? 'active' : '' %>">
        <i class="fad fa-user-alt"></i>
        <span class="nav-title">Profile</span>
      </div>
    <% end %>
    <%= link_to payment_details_path(active_tab: 'payment') do %>
      <div class="button-navigation d-flex flex-column justify-content-center align-items-center mt-2 <%= params[:active_tab] == 'payment' ? 'active' : '' %>">
        <i class="fad fa-usd-circle"></i>
        <span class="nav-title">Payment</span>
      </div>
    <% end %>
    <%= link_to dashboard_orders_path(active_tab: 'orders') do %>
      <div class="button-navigation d-flex flex-column justify-content-center align-items-center mt-2 <%= params[:active_tab] == 'orders' ? 'active' : '' %>">
        <i class="fad fa-bags-shopping"></i>
        <span class="nav-title">Orders</span>
      </div>
    <% end %>
  </div>
  <div class="add-service" data-bs-toggle="modal" data-bs-target="#addServiceModalMobile">
    <i class="fad fa-plus-circle"></i>
  </div>
</div>
