<div class="flow-container" data-controller="animate">
  <div class="container">
    <%= render 'shared/chat', message: @message %>
    <div class="content-container" data-delay="2" data-animate-target="contentContainer"></div>
  </div>
  <div class="next-step-banner">
    <div class="text-center position-absolute">
      <%= image_tag(asset_path('components/next-step-banner/cards.png')) %>
    </div>
    <p class="title">What happens next?</p>
    <p>You will receive your Starter Pack within 1 week! Login to movido to track your delivery (the tracking link will be available as soon as your Starter Pack is being shipped) </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>And once you have arrived?</h3>
        <p class="black">Get your customized subscriptions in 1 bill with the Settle in Pack. Stay tuned and check your dashboard!</p>
        <div class="product-card radius-bot-0">
          <%= image_tag(asset_path('components/comming-soon-banner/card.png'), class:'top-img') %>
          <div class="content">
            <h3 class="name black">Settle in Pack</h3>
            <p>Customized offers to get you settled after arrival</p>
            <div class="product-details">
              <p class="detail d-flex align-items-center justify-content-between"></i>WiFi at home <%= image_tag(asset_path('components/checkboxes/checkbox_active.png'), class:'checkboxes') %>
              </p>
              <p class="detail d-flex align-items-center justify-content-between">Gas, water, electricity at home <%= image_tag(asset_path('components/checkboxes/checkbox_active.png'), class:'checkboxes') %>
              </p>
              <p class="detail d-flex align-items-center justify-content-between">Mobile phone contract <%= image_tag(asset_path('components/checkboxes/checkbox_active.png'), class:'checkboxes') %></p>
              <p class="detail d-flex align-items-center justify-content-between">Housing insurance <%= image_tag(asset_path('components/checkboxes/checkbox_active.png'), class:'checkboxes') %>
              </p>
              <p class="detail d-flex align-items-center justify-content-between">Guarantor <%= image_tag(asset_path('components/checkboxes/checkbox_active.png'), class:'checkboxes') %>
              </p>
            </div>
          </div>
        </div>
        <div class="comming-soon text-center p-3 mb-4">
          <span>COMING SOON</span>
        </div>
      </div>
    </div>
  </div>
</div>
