<h3 class="my-3">Your Settle in Pack</h3>
<span>You pay one fixed fee per month for the services you chose (this amount will never change!) You can cancel anytime at no extra cost.</span>
<hr>
<div class="pricing d-flex flex-column text-center">
  <% order.products.includes([:company], [:country], [:category]).each do |product| %>
    <div class="pricing-card">
      <div class="product-img">
        <%= image_tag(asset_path(product.company.logo_url)) %>
      </div>
      <div class="product-name">
        <span class="name"><%= product.name %></span>
        <span class="description"><%= t("checkout.summary.#{product.country.code}.#{product.service.name}") %></span>
      </div>
      <% if product.category.utilities? %>
        <% price = product.option_types.find_by(name: 'tenants').option_values.find_by(name: house&.house_detail.tenants).option_value_variant.variant.subscription_price %>
      <% else %>
        <% price = product.subscription_price %>
      <% end %>
      <div class="product-price">
        <span class="price-lite"><%= product.country.currency_symbol %><%= number_to_currency(price, :unit => '') %>/month</span>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="total-price">
    <div class="d-flex justify-content-between total">
      <span>Total setup cost</span>
      <span class="price"><%= order.currency_symbol %><%= number_to_currency(order.total_amount_display, :unit => '') %></span>
    </div>
    <div class="d-flex justify-content-between total">
      <span>Total monthly fee</span>
      <span class="price"><%= order.currency_symbol %><%= number_to_currency(order.total_subscription_amount_display, :unit => '') %></span>
    </div>
     <% if order.affiliate_link.present? %>
     <div class="d-flex justify-content-between total">
      1st payment :
      <div>
        <strike class="old-price"><%= order.currency_symbol %><%= number_to_currency(order.total_subscription_amount_display, :unit => '') %> </strike>
        <%= order.currency_symbol %><%= number_to_currency(order.discounted_subscription_amount(20) / 100, :unit => '') %>
      </div>
    </div>
     <br>
      <div class="d-flex justify-content-between">
        <span>Promocode</span>
        <span class="price"><%= order.affiliate_link.upcase %></span>
      </div>
    <% end %>
  </div>
  <hr>
</div>
