<h3 class="my-3">Your Starter Pack</h3>
<span>directly in the <%= t("country.capital.#{order.items.first.product.country.code}") %> city</span>
<hr>
<div class="pricing d-flex flex-column text-center">
  <% order.items.includes([product: [:company, :country, :category]]).each do |item| %>
    <div class="pricing-card">
      <div class="product-img">
        <%= image_tag(asset_path(item.product.company.logo_url)) %>
      </div>
      <div class="product-name">
        <span class="name"><%= item.product.name %></span>
        <span class="description"><%= item.product.product_details.first.content %></span>
      </div>
      <div class="product-price">
        <span class="price-lite"><%= item.product.country.currency_symbol %><%= number_to_currency(item.product.activation_price, :unit => '') %></span>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="total-price">
    <div class="d-flex justify-content-between">
      <span>Shipping</span>
      <span class="price">FREE</span>
    </div>
    <div class="d-flex justify-content-between total">
      <span>Total price</span>
      <div>
        <% if order.affiliate_link.present? %>
          <strike class="old-price"><%= order.currency_symbol %><%= number_to_currency(order.total_activation_amount.to_f / 100, :unit => '') %></strike>
        <% end %>
        <span class="price"><%= order.currency_symbol %><%= number_to_currency(order.total_amount_display, :unit => '') %></span>
      </div>
    </div>
    <br>
    <% if order.affiliate_link.present? %>
      <div class="d-flex justify-content-between">
        <span>Promocode</span>
        <span class="price"><%= order.affiliate_link.upcase %></span>
      </div>
    <% end %>
  </div>
  <hr>
</div>
