<div class="pricing d-flex flex-column text-left">
  <h3 class="my-3">Your Starter Pack</h3>
  <div class="bg-bubble purple position-absolute"></div>
  <% order.items.includes([product: [:company, :country, :category]]).each do |item| %>
    <div class="pricing-card my-3">
      <div class="product-name">
        <span class="name"><%= item.product.name %></span>
        <span class="price-lite grey"><%= item.product.product_details.first.content %></span>
        <span class="price-lite"><%= item.product.country.currency_symbol %><%= number_to_currency(item.product.activation_price, :unit => '') %></span>
      </div>
      <div class="product-img">
        <%= image_tag(asset_path("components/service-card/#{item.product.category.name}.png")) %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="total-price">
    <% if order.affiliate_link.present? %>
      <div class="d-flex justify-content-between">
        <span class="name">Promocode</span>
        <span class="price"><%= order.affiliate_link.upcase %> (-20%)</span>
      </div>
    <% end %>
    <br>
  </div>
  <h3 class="text-left">Shipping address</h3>
  <div class="shipping mt-2 mb-3 d-flex justify-content-between align-items-center text-left">
    <div class="col-6 d-flex flex-column">
      <span class="text-left"><%= order.shipping.address%></span>
      <span class="purple pointer mt-2" data-bs-toggle="modal" data-bs-target="#changeAddressModal">Change</span>
    </div>
    <div class="col-2 text-end">
      <input type="radio" checked>
    </div>
  </div>
  <hr>
  <button class="btn btn-main mb-3" data-bs-toggle="modal" data-bs-target="#paymentModal">Pay <%= number_to_currency(order.total_amount_display, :unit => '') %><%= order.currency_symbol %></button>
</div>
