<section>
  <div class="container-fluid p-0">
    <div class="banner d-flex align-items-center" style="background-image:url(<%= asset_path 'pages/home/banner-background.png' %>);">
      <div class="container">
        <div class="row">
          <div class="col-md-8 sm-12 text-center text-md-left d-flex align-items-center">
            <div class="content d-flex flex-column justify-content-around">
              <div class="headline mb-2">
                <h1 class="mb-3"><%= image_tag(asset_path('pages/home/movido-purple.png'), width: 247, class: "mr-3 align-baseline") %><%= t('pages.home.banner.desktop_headline').html_safe %></h1>
                <p class="subheadline"><%= t('pages.home.banner.desktop_subheadline').html_safe %></p>
                <ul class='offers'>
                  <li>
                    <i class="fas fa-check mr-3"></i><%= t('pages.home.banner.offers.free') %>
                  </li>
                  <li>
                    <i class="far fa-tag mr-3"></i><%= t('pages.home.banner.offers.unique') %>
                  </li>
                  <li><i class="far fa-stopwatch mr-3"></i><%= t('pages.home.banner.offers.time') %></li>
                </ul>
              </div>
              <div>
              <%= link_to t('pages.home.banner.start'), new_user_registration_path, class:'btn btn-main' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
