<div class="swiper-slide">
  <div class="image-box"><%= image_tag(asset_path("pages/home/#{image}"), height: 540) %></div>
  <div class="explanation">
    <h4><%= number %></h4>
    <span><%= title %></span>
    <p><%= desc %></p>
    <%= link_to t('pages.home.how-it-works.start'), new_user_registration_path, class: 'btn-main-white w-100 d-block' %>
  </div>
</div>
