<section id="partners">
  <div class="container pb-5">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <p class="title mb-4"><%= t('pages.home.partners.title') %></p>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/bunq.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/giffgaff.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/sorbonne.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/transferwise.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/escp.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/uniplaces.png'), loading: 'lazy') %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/uniacco.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/total.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/ucl.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/kings.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/bouygues.png'), loading: 'lazy') %>
        </div>
      </div>
      <div class="col-2">
        <div class="partner">
          <%= image_tag(asset_path('pages/home/bocconi.png'), loading: 'lazy') %>
        </div>
      </div>
    </div>
  </div>
</section>
