<div class="form-group">
  <label><%= t('activerecord.attributes.product.coupon') %></label>
  <%= simple_form_for subscription, data: {reflex: "submit->SubscriptionReflex#submit", signed_id: subscription.to_sgid.to_s } do |f| %>
    <%= f.input :coupon, label: false, disabled: !subscription.coupon.nil?, input_html: {value: (subscription.coupon.name if subscription.coupon), class:"#{response && response[:error].present? ? 'is-invalid' : ''}"} %>
    <% if response && response[:error].present? %>
      <div class="invalid-feedback"><%= t("stripe.errors.#{response[:error]}" ) %></div>
      <%= f.submit %>
    <% elsif subscription.coupon %>
      <div class="valid-feedback d-block"> <i><strong><%= subscription.coupon.name %></strong></i> coupon applied !</div>
    <% elsif subscription.coupon.nil? %>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>
