<script src="https://js.stripe.com/v3/"></script>
<div class="col-md-6 offset-md-3 mb-5">
  <div class="d-flex align-items-center">
     <i class="fas fa-lock mr-4 p-2"></i>
     <div class="texts">
      <%= image_tag('subscriptions/stripe') %>
      <h4 class="text-left"><strong><%= t('.connection') %></strong></h4>
      <span class="bit-info">HTTPS - 256-bit encryption - Stripe certified</span>
     </div>
  </div>
  <hr>
  <div class="form-base">
    <%= simple_form_for @subscription, url: "/charge", method: :post, data: {controller: "charge", locale: I18n.locale}, html: {id: 'payment-form'} do |f| %>
      <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>
      <%= f.hidden_field :subscription_id, value: @subscription.id %>
      <div class="form-divs-wrapper mb-5">
        <div class="form-group">
          <label for="card-number-element" class="my-3"><%= t('.number') %></label>
          <div id="card-number-element" class="form-control d-flex align-items-center stripe-input"></div>
          <div id="card-errors" class="mt-2" role="alert"></div>
        </div>
        <div class="name-fields d-flex justify-content-between">
          <div class="form-group">
            <label for="card-expiry-element" class="my-3"><%= t('.date') %></label>
            <div id="card-expiry-element" class="form-control stripe-input d-flex align-items-center"></div>
          </div>
          <div class="form-group">
            <label for="card-cvc-element" class="my-3">CVC</label>
            <div id="card-cvc-element" class="form-control stripe-input d-flex align-items-center"></div>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <span class="legals text-justify"><%= t('.legals').html_safe %></span>
        </div>
        <%= f.button :submit, t('.pay'), class: 'btn-main w-100', data: {disable_with: false}%>
      </div>
    <% end %>
  </div>
</div>
