<%= simple_form_for shipping, url: new_shipping_path(order), data: {reflex: "submit->ShippingReflex#create", reflex_serialize_form: true, controller: "address"  } do |f| %>
  <label>Your current address</label>
  <div data-address-target="geocoder" class="mb-3 form-group mb-0 string required shipping_address_mapbox position-relative" data-action='keydown->address#cleanCountryCode' >
    <i class="fad fa-map-marker position-absolute"></i>
  </div>
  <div class="invalid-feedback d-block"><%= f.full_error(:address) %></div>
  <%= f.hidden_field :address, required: true, data: { address_target: 'addressInput' } %>
  <label class="mb-2">Please make sure you will be at this address for at least 1 more week to ensure you receive your Starter Pack</label>
  <label>Any other delivery instructions? (optional)</label>
  <%= f.input :instructions, required: true, label: false, placeholder: 'Type a message for us' %>
  <hr>
  <%= f.button :submit, 'Continue' , class: 'btn-main mb-2 w-100' %>
  <%= link_to 'Back', packs_path(order.id), class:'btn-main-white w-100 mb-5' %>
<% end %>
