<%= simple_form_for shipping, url: new_shipping_path(order), data: {reflex: "submit->ShippingReflex#create", reflex_serialize_form: true, controller: "address"  } do |f| %>
  <label>Your current address</label>
  <div data-address-target="geocoder" class="mb-3 form-group mb-0 string required shipping_address_mapbox position-relative" data-action='keydown->address#cleanCountryCode' >
  </div>
  <div class="invalid-feedback d-block"><%= f.full_error(:address) %></div>
  <div data-address-target="noAddress" data-action="click->address#manualAddress">
    <label>I can't find my address  <i class="far fa-chevron-down purple"></i></label>
  </div>
  <%= f.hidden_field :address, required: true, class: 'form-control d-none', placeholder: "Manually type in your address", data: { address_target: 'addressInput' } %>
  <label class="mb-3">Please make sure you will be at this address for at least 2 weeks to ensure you receive your Starter Pack</label>
  <label>Any other delivery instructions? (optional)</label>
  <%= f.input :instructions, required: true, label: false, placeholder: 'Type a message for us' %>
  <hr>
  <%= f.button :submit, 'Continue' , class: 'btn-main mb-2' %>
  <%= link_to 'Back', new_cart_path(pack: order.pack), class:'btn-main-white mb-5' %>
<% end %>
