<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>movido</title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <% I18n.available_locales.each do |locale| %>
      <link rel="alternate" hreflang="<%= locale %>" href=<%= url_for(locale: locale, only_path: false) %>>
    <% end %>
    <link rel="alternate" hreflang="x-default" href=<%= url_for(locale: nil, only_path: false) %>>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/google_tag_manager' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2eebd99045.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('layout/favicon.ico') %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= render 'shared/hotjar' %>
  </head>

  <body data-locale="<%= I18n.locale.to_s %>" data-env="<%= Rails.env %>">
    <noscript><iframe src='https://www.googletagmanager.com/ns.html?id="<%= Rails.application.credentials.production[:google][:tag_manager_id] %>"' height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <% unless controller_name == 'sessions' && action_name == 'new' %>
      <%= render 'shared/navbar' %>
    <% end %>
      <%= render 'shared/menu_modal' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/pixel_facebook' %>
    <div class="wrapper d-flex flex-column justify-content-center">
    <%= yield %>
    </div>
    <%= render 'shared/components/onboarding-modal-desktop' %>
    <%= render 'shared/components/onboarding-modal-mobile' %>
    <%= render 'shared/footer' %>
  </body>
</html>
