<!DOCTYPE html>
<html>
  <head>
    <title>GoMovido</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
      (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.termly.io/embed.min.js';
        s.id = '780e5677-086c-403b-bffc-0418efa73946';
        s.setAttribute("data-name", "termly-embed-banner");
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      })();
    </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body data-locale="<%= I18n.locale %>" class="<%= user_signed_in? ? 'blue-bg' : '' %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <% if user_signed_in? %>
      <%= render 'shared/blue_footer' %>
    <% else %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
