<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <%= wicked_pdf_stylesheet_link_tag 'bootstrap' %>
  </head>
  <body>
		<div class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								<td class="title">
									<%= image_tag(asset_path('logos/movido-black.svg'), class: 'movido-logo', size: '250x125') %>
								</td>
								<td>
                <h1>Invoice - Settle In Pack</h1>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2">
						<table>
							<tr>
								<td>
									<p><strong>Movido France SAS</strong><br />
                  608 Boulevard des Horizons,<br />
                  06220 Vallauris <br />
                  Company registered in France</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>

        <tr class="customer-info">
					<td colspan="4">
						<table>
							<tr>
								<td>
                  <h2>Contract for:</h2>
                  <p><%= @order.user.first_name %> <%=@order.user.last_name%><br />
                  <%= @order.user.house.house_detail.address %></p>
                </td>
                <td>
                  <h2>Bill to:</h2>
                  <p><%= @order.user.first_name %> <%=@order.user.last_name%><br />
                  <%= @order.billing.address %></p>
                </td>
                <td>
                  <h2>Ordered:</h2>
                  <p><%= @order.created_at.strftime("%B %e, %Y") %></p>
                </td>
                <td>
                  <h2>Starting:</h2>
                  <p><%= @order.subscription.starting_date.strftime("%B %e, %Y") %></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

				<tr class="heading">
					<td><strong>Items</strong></td>

					<td><strong>Price</strong></td>
				</tr>
        <% @order.items.each do |item| %>
          <tr class="item">
            <td><%= item.product.name %></td>
              <td><%= @order.currency_symbol %><%= item.product.category.utilities? ? number_to_currency(item.product.variant_subscription_price(@order.user.house) / 100, :unit => '') : number_to_currency(item.product.subscription_price, :unit => '') %> / Month</td>
          </tr>
        <% end %>
        <% if @order.affiliate_link.present?%>
          <tr class="item">
            <td>Affiliate code</td>
            <td><%= @order.affiliate_link.upcase %> <%= @order.pack == "settle_in" ? "(-20%)" : "(-10%)" %></td>
          </tr>
        <% end %>
        <% if (@order.total_activation_amount != 0)%>
          <tr class="item">
            <td>Total activation price:</td>
            <td><strong><%= @order.currency_symbol %><%= number_to_currency(@order.total_activation_amount / 100, :unit => '') %></strong></td>
          </tr>
        <% end %>
        <% if @order.affiliate_link.present?%>
          <tr class="total">
            <td>First month payment:</td>
            <td><strong><%= @order.currency_symbol %><%= number_to_currency(@order.discounted_subscription_amount(20).to_f / 100, :unit => '') %></strong></td>
          </tr>
        <tr class="total">
          <td>After first payment:</td>
          <td><strong><%= @order.currency_symbol %><%= number_to_currency(@order.total_subscription_amount_display, :unit => '') %></strong> / Month</td>
        </tr>
        <% else %>
        <td>Total monthly:</td>
          <td><strong><%= @order.currency_symbol %><%= number_to_currency(@order.total_subscription_amount_display, :unit => '') %></strong> / Month</td>
        </tr>
        <% end %>
			</table>
		</div>
	</body>
</html>
